@font-face {
    font-family: "Futura PT Heavy";
    src: url("FuturaPT-Heavy.eot"); /* IE9 */
    src: url("FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("FuturaPT-Heavy.woff") format("woff"), /* chrome, firefox */
    url("FuturaPT-Heavy.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("FuturaPT-Heavy.svg#Futura PT Heavy") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


