@font-face {
    font-family: "Futura PT Light Italic";
    src: url("FuturaPT-LightObl.eot"); /* IE9 */
    src: url("FuturaPT-LightObl.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("FuturaPT-LightObl.woff") format("woff"), /* chrome, firefox */
    url("FuturaPT-LightObl.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("FuturaPT-LightObl.svg#Futura PT Light Italic") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


