@font-face {
    font-family: "Futura PT Demi";
    src: url("FuturaPT-Demi.eot"); /* IE9 */
    src: url("FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("FuturaPT-Demi.woff") format("woff"), /* chrome, firefox */
    url("FuturaPT-Demi.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("FuturaPT-Demi.svg#Futura PT Demi") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


