<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>Подари биткоин - Btc Santa</title>
    <link rel="icon" type="image/x-icon" href="../../images/favicon/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="../../images/favicon/bitcoin-152-191935.png">
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="../../images/favicon/bitcoin-144-191935.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../../images/favicon/bitcoin-152-191935.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../images/favicon/bitcoin-144-191935.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../../images/favicon/bitcoin-120-191935.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../images/favicon/bitcoin-114-191935.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../images/favicon/bitcoin-72-191935.png">
    <link rel="apple-touch-icon-precomposed" href="../../images/favicon/bitcoin-57-191935.png">
    <link rel="icon" href="../../images/favicon/bitcoin-32-191935.png" sizes="32x32">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/landing/index.css">
</head>
<body class="bg">

<div class="banner-crd-env-box">
    <div class="banner-card banner-card_animate"></div>
    <div class="banner-envelope banner-envelope_animate"></div>
</div>

<header class="header">
    <div class="container">
        <div class="header__wrap">
            <a href="#" class="header__logo">
                <img class="header__logo-img" src="../../images/landing/logo.svg" alt="Algoritmix">
            </a>
            <ul class="header__nav">
                <li class="header__nav-item">
                    <a class="btn-link" href="https://play.google.com/store/apps/details?id=com.kryptokit.jaxx&hl=ru"
                       target="_blank">Jaxx for Android</a>
                </li>
                <li class="header__nav-item">
                    <a class="btn-link" href="https://itunes.apple.com/ru/app/jaxx-blockchain-wallet/id1084514516?mt=8"
                       target="_blank">Jaxx for iOS</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="container">
    <div class="banner">
        <h1 class="banner__title">Подари Bitcoin</h1>
        <p class="banner__teaser">Подарочные биткоин-карты. <br> Самый удобный способ дарить биткоины!</p>
        <ul class="banner__nav">
            <li class="banner__nav__nav-item">
                <button class="btn btn_lg" onclick="liteModal.open('#formCall')">Купить</button>
            </li>
        </ul>
    </div>

</div>

<div class="card-icon">
    <div class="container">
        <div class="card-icon-list">
            <div class="card-icon-list__item">
                <div class="card-icon-list__img-box">
                    <img class="card-icon-list__img" src="../../images/landing/icon/mainicon_touch.svg" alt="Простота">
                </div>
                <h2 class="card-icon-list__title">Простота</h2>
                <p class="card-icon-list__description">Всего один клик и у Вас готовый крипто-кошелек с нужным
                    количеством биткоинов</p>
            </div>
            <div class="card-icon-list__item">
                <div class="card-icon-list__img-box">
                    <img class="card-icon-list__img" src="../../images/landing/icon/main_icon_card.svg" alt="Стиль">
                </div>
                <h2 class="card-icon-list__title">Стиль</h2>
                <p class="card-icon-list__description">Минималистичный дизайн подарочной карты Btc Santa точно придется
                    вам по вкусу</p>
            </div>
            <div class="card-icon-list__item">
                <div class="card-icon-list__img-box">
                    <img class="card-icon-list__img" src="../../images/landing/icon/shield.svg" alt="Надежность">
                </div>
                <h2 class="card-icon-list__title">Надежность</h2>
                <p class="card-icon-list__description">Защищенныйе способ передачи доступа к кошельку гарантирует
                    получение биткоинов в целости и сохранности</p>
            </div>
            <div class="card-icon-list__item">
                <div class="card-icon-list__img-box">
                    <img class="card-icon-list__img" src="../../images/landing/icon/gift.svg" alt="Эмоции">
                </div>
                <h2 class="card-icon-list__title">Эмоции</h2>
                <p class="card-icon-list__description">Таким подарком вы точно удивите своего друга и принесете ему
                    массу приятный эмоций</p>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="container">
        <div class="card-list">
            <div class="card-list__item">
                <div class="card-list__item-wrap">
                    <div class="card-list__item-box card-list__item-box_1">
                        <p class="card-list__item-price"><span>500</span></p>
                        <p class="card-list__item-btc"><span>0.03</span></p>
                        <p class="card-list__item-info">Курс представлен за 12.12.2017</p>
                        <div class="card-list__item-btn-box">
                            <button class="card-list__item-btn" onclick="liteModal.open('#formCall')">Купить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-list__item">
                <div class="card-list__item-wrap">
                    <div class="card-list__item-box card-list__item-box_2">
                        <p class="card-list__item-price"><span>1000</span></p>
                        <p class="card-list__item-btc"><span>0.03</span></p>
                        <p class="card-list__item-info">Курс представлен за 12.12.2017</p>
                        <div class="card-list__item-btn-box">
                            <button class="card-list__item-btn" onclick="liteModal.open('#formCall')">Купить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-list__item">
                <div class="card-list__item-wrap">
                    <div class="card-list__item-box card-list__item-box_3">
                        <p class="card-list__item-price"><span>2000</span></p>
                        <p class="card-list__item-btc"><span>0.03</span></p>
                        <p class="card-list__item-info">Курс представлен за 12.12.2017</p>
                        <div class="card-list__item-btn-box">
                            <button class="card-list__item-btn" onclick="liteModal.open('#formCall')">Купить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-list__item">
                <div class="card-list__item-wrap">
                    <div class="card-list__item-box card-list__item-box_4">
                        <p class="card-list__item-price"><span>5000</span></p>
                        <p class="card-list__item-btc"><span>0.03</span></p>
                        <p class="card-list__item-info">Курс представлен за 12.12.2017</p>
                        <div class="card-list__item-btn-box">
                            <button class="card-list__item-btn card-list__item-btn_wt" onclick="liteModal.open('#formCall')">Купить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <h2 class="content__title">О нас</h2>
        <div class="content__text">
            <p>Все только и говорят о биткоине. Но как же приобрести его для себя или в подарок? Мы представляем вам
                подарочные карты Btc Santa. Просто выберете нужный номинал, а всю работу мы сделаем за вас.</p>
            <p>Btc Santa - это безопасный способ получить биткоины. Для каждой карты мы генерируем уникальный кошелек, а
                сам ключ доступа к кошельку покрываем защитным слоем и упаковываем в конверт. Активация кошелька не
                займет более пяти минут. Всего пять минут и вы имеете доступ к необходимому количеству биткоинов.</p>
            <p>Дизайн карт выполнен в выдержанном минимиалистичном стиле, что делает карты еще более
                привлекательными.</p>
            <p>Дарить деньги в конвертах уже давно моветон. Дарить биткоины - вот, что по настоящему круто!</p>
            <p>Могу ошибаться в пунктуации, но это не точно.</p>
            <p>Пишите нам на <a href="mailto:name@email.com">name@email.com</a></p>
        </div>
    </div>
</div>

<div id="formCall" class="lite-modal">
    <button class="lite-modal__close-btn" onclick="liteModal.close('#formCall')"></button>
    <h3 class="lite-modal__title">Оставить заявку</h3>
    <form id="formContact" class="form-contact">
        <div class="grid">
            <fieldset class="col-12">
                <input class="form-contact__input" name="name" type="text" placeholder="Имя *" required>
                <input class="form-contact__input" name="email" type="text" placeholder="Телефон *" required>
                <input class="form-contact__input" name="phone" type="text" placeholder="Email">
            </fieldset>
        </div>
        <div class="form-contact__btn-wrap">
            <button class="btn">Отправить заявку</button>
        </div>
        <p class="form-contact__description"><i>Мы знаем, что у Вас есть выбор. <br> Спасибо,
            что выбрали нас.</i>
        </p>
    </form>
    <div class="form-addition">Отправляя запрос, Вы подтверждаете согласие на обработку персональных
    данных.</div>
</div>

<script defer src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script defer src="../../vendors/lite-modal.js"></script>
<script defer src="../../js/main.js"></script>

</body>
</html>