<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>Algoritmix</title>
    <link rel="stylesheet" href="../../styles/admin/index.css">
</head>
<body class="">
<header class="header">
    <div class="container">
        <div class="header__wrap">
            <a href="#" class="header__logo">
                <img class="header__logo-img" src="../../images/landing/logo.svg" alt="Algoritmix">
            </a>
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Оборудование</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Динамика и прогноз</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">История транзакций</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Профиль</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__btn" href="#">Купить портфель</a>
                </li>
            </ul>
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a class="header-total" href="#">
                        <span class="header-total__name">Счёт</span>
                        <span class="header-total__count">~ usd 150 000</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="page-title-wrap">
            <h1 class="page-title">Профиль</h1>
        </div>
        <div class="grid">
            <div class="col-6 col_pr">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header__title">Верификация</h2>
                    </div>
                    <div class="card-sub-header">
                        <div class="card-text">
                            <p class="card-text__text">Мы соблюдаем требование законодательства о противодействии
                                легализации
                                (отмыванию) доходов, полученных преступным путём и финансированию терроризма.
                                Для активации возможности вывода средств вам необходимо пройти процедуру
                                верификации. Пожалуйста, загрузите четкие фотографии и сканы необходимых
                                документов.</p>
                        </div>
                    </div>
                    <div class="card-list">
                        <div class="card-list__item">
                            <div class="card-list__item-t">
                                <span class="card-list__item-title">Удостоверяющий документ</span>
                            </div>
                            <div class="card-list__item-b">
                                <span class="card-list__item-text card-list__item-text_mute">Удостоверяющий документ верифицирован</span>
                            </div>
                        </div>
                        <div class="card-list__item">
                            <div class="card-list__item-t">
                                <span class="card-list__item-title">Почтовый адрес</span>
                                <a class="btn-link" href="#">Загрузить</a>
                            </div>
                            <div class="card-list__item-b">
                                <span class="card-list__item-text card-list__item-text_mute">Например, счёт за коммунальные услуги не старше 30 дней</span>
                            </div>
                        </div>
                        <div class="card-list__item">
                            <div class="card-list__item-t">
                                <span class="card-list__item-title">ID Confirmation Photo</span>
                                <a class="btn-link" href="#">Загрузить</a>
                            </div>
                            <div class="card-list__item-b">
                                <span class="card-list__item-text card-list__item-text_mute">Фото с паспортом и запиской от руки с указанием даты, подписи и надписи Algoritmix. Документ и лицо должны быть четко видны.</span>
                            </div>
                        </div>
                        <div class="card-list__item">
                            <div class="card-list__item-t">
                                <span class="card-list__item-title">Выписка со счёта</span>
                                <span class="card-list__item-load">Ожидание</span>
                            </div>
                            <div class="card-list__item-b">
                                <span class="card-list__item-text card-list__item-text_mute">Выписка с вашего банковского счёта не старше 90 дней, с указанием реквизитов и ФИО владельца счёта.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col_pl">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header__title">Данные</h2>
                        <a class="btn-link-uc btn-link-uc_pt" href="#">Редактировать</a>
                    </div>
                    <div class="card-body">
                        <div class="profile-data">
                            <h3 class="profile-data__title">Основное</h3>
                            <div class="profile-data-list">
                                <div class="profile-data-list__item">
                                    <p class="profile-data-list__item-t">ФИО</p>
                                    <p class="profile-data-list__item-b">Фёдор Павлович Карамазов</p>
                                </div>
                                <div class="profile-data-list__item">
                                    <p class="profile-data-list__item-t">Email</p>
                                    <p class="profile-data-list__item-b">fedor.karamazov@gmail.com</p>
                                </div>
                                <div class="profile-data-list__item">
                                    <p class="profile-data-list__item-t">Телефон</p>
                                    <p class="profile-data-list__item-b">+7 965 283-35-54</p>
                                </div>
                                <div class="profile-data-list__item">
                                    <p class="profile-data-list__item-t">Пароль</p>
                                    <p class="profile-data-list__item-b">**************</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-sub-footer">
                        <a class="btn-link-uc btn-link-uc_drk" href="#">Выйти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--<div class="footer">-->
<!--<div class="container">-->
<!--<ul class="footer__nav">-->
<!--<li class="footer__nav-item">-->
<!--<a class="footer__nav-link" href="#">Algoritmix LLC</a>-->
<!--</li>-->
<!--<li class="footer__nav-item">-->
<!--<a class="footer__nav-link" href="#">Как это работает</a>-->
<!--</li>-->
<!--<li class="footer__nav-item">-->
<!--<a class="footer__nav-link" href="#">Регистрация</a>-->
<!--</li>-->
<!--<li class="footer__nav-item">-->
<!--<a class="footer__nav-link" href="#">Войти</a>-->
<!--</li>-->
<!--<li class="footer__nav-item">-->
<!--<a class="footer__nav-link" href="#">Расчёт инвестиций</a>-->
<!--</li>-->
<!--<li class="footer__nav-item">-->
<!--<a class="footer__nav-link" href="#">Design by Gregory Maslov</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../../vendors/d3.v4.min.js"></script>


</body>
</html>