<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>Algoritmix</title>
    <link rel="stylesheet" href="../../styles/admin/index.css">
</head>
<body class="">
<div class="content-wrap">
<header class="header">
    <div class="header__wrap">
        <button class="header__menu-toggler"></button>
        <a href="#" class="header__logo">
            <img class="header__logo-img" src="../../images/landing/logo.svg" alt="Algoritmix">
        </a>
        <ul class="header-nav header-nav_collapse">
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">Оборудование</a>
            </li>
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">Динамика и прогноз</a>
            </li>
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">История транзакций</a>
            </li>
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">Профиль</a>
            </li>
            <li class="header-nav__item">
                <a class="header-nav__btn" href="#">Купить портфель</a>
            </li>
        </ul>
        <ul class="header-nav">
            <li class="header-nav__item">
                <a class="header-total" href="#">
                    <span class="header-total__name">Счёт</span>
                    <span class="header-total__count">~ usd 150 000</span>
                </a>
            </li>
        </ul>
    </div>
</header>
<main>
    <div class="container">
    <div class="grid">
        <div class="col-12 col_pt">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-header__title">История транзакций</h2>
                </div>
                <div class="card-body">
                    <table class="table table-history">
                        <thead class="thead-history">
                        <tr>
                            <th>Дата</th>
                            <th>Валюта</th>
                            <th>Кошелек</th>
                            <th>Tx</th>
                            <th>Сумма</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-history">
                            <td>15.12.17, 15:00</td>
                            <td>Bitcoin</td>
                            <td>405c09d0e5...</td>
                            <td>405c09d0e5a6f93299aebecb283fe7bdf5cee0fccc32a63c7fbe95c0b3b1338</td>
                            <td>00.00234</td>
                        </tr>
                        <tr class="tr-history">
                            <td>15.12.17, 15:00</td>
                            <td>Bitcoin</td>
                            <td>405c09d0e5...</td>
                            <td>405c09d0e5a6f93299aebecb283fe7bdf5cee0fccc32a63c7fbe95c0b3b1338</td>
                            <td>00.00234</td>
                        </tr>
                        <tr class="tr-history">
                            <td>15.12.17, 15:00</td>
                            <td>Bitcoin</td>
                            <td>405c09d0e5...</td>
                            <td>405c09d0e5a6f93299aebecb283fe7bdf5cee0fccc32a63c7fbe95c0b3b1338</td>
                            <td>00.00234</td>
                        </tr>
                        <tr class="tr-history">
                            <td>15.12.17, 15:00</td>
                            <td>Bitcoin</td>
                            <td>405c09d0e5...</td>
                            <td>405c09d0e5a6f93299aebecb283fe7bdf5cee0fccc32a63c7fbe95c0b3b1338</td>
                            <td>00.00234</td>
                        </tr>
                        <tr class="tr-history">
                            <td>15.12.17, 15:00</td>
                            <td>Bitcoin</td>
                            <td>405c09d0e5...</td>
                            <td>405c09d0e5a6f93299aebecb283fe7bdf5cee0fccc32a63c7fbe95c0b3b1338</td>
                            <td>00.00234</td>
                        </tr>
                        <tr class="tr-history">
                            <td>15.12.17, 15:00</td>
                            <td>Bitcoin</td>
                            <td>405c09d0e5...</td>
                            <td>405c09d0e5a6f93299aebecb283fe7bdf5cee0fccc32a63c7fbe95c0b3b1338</td>
                            <td>00.00234</td>
                        </tr>
                        <tr class="tr-history">
                            <td>15.12.17, 15:00</td>
                            <td>Bitcoin</td>
                            <td>405c09d0e5...</td>
                            <td>405c09d0e5a6f93299aebecb283fe7bdf5cee0fccc32a63c7fbe95c0b3b1338</td>
                            <td>00.00234</td>
                        </tr>
                        <tr class="tr-history">
                            <td>15.12.17, 15:00</td>
                            <td>Bitcoin</td>
                            <td>405c09d0e5...</td>
                            <td>405c09d0e5a6f93299aebecb283fe7bdf5cee0fccc32a63c7fbe95c0b3b1338</td>
                            <td>00.00234</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-sub-footer">
                    <div class="card-sub-footer__text">
                        <span>Всего выведено</span>
                        <span>01.06720</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
<footer class="footer">
    <div class="container">
        <ul class="footer__nav">
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Algoritmix LLC</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Преимущества</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Оборудование</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Динамика и прогноз</a><br>
                <a class="footer__sub-nav-link" href="#">Пользовательское<br> соглашение</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">История транзакций</a><br>
                <a class="footer__sub-nav-link" href="#">О персональных<br> данных</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Профиль</a><br>
                <a class="footer__sub-nav-link" href="#">Оферта</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Счёт</a><br>
                <a class="footer__sub-nav-link" href="#">Design by<br> Gregory Maslov</a>
            </li>
        </ul>
    </div>
</footer>
</div>

<div class="header-side-nav">
    asdasd
    asdasd
    as
    d
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../../vendors/jquery.touchSwipe.min.js"></script>
<script src="../../vendors/d3.v4.min.js"></script>
<script src="../../js/main.js"></script>

</body>
</html>
