<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>Algoritmix</title>
    <link rel="stylesheet" href="../../styles/admin/index.css">
</head>
<body class="">
<header class="header">
    <div class="container">
        <div class="header__wrap">
            <a href="#" class="header__logo">
                <img class="header__logo-img" src="../../images/landing/logo.svg" alt="Algoritmix">
            </a>
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Оборудование</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Динамика и прогноз</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">История транзакций</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Профиль</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__btn" href="#">Купить портфель</a>
                </li>
            </ul>
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a class="header-total" href="#">
                        <span class="header-total__name">Счёт</span>
                        <span class="header-total__count">~ usd 150 000</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="page-title-wrap">
            <h1 class="page-title">Профиль</h1>
        </div>
        <div class="grid">
            <div class="col-12">
                <div class="card">
                    <div class="card-sub-header">
                        <div class="card-text">
                            <p class="card-text__text card-text__text_mb">Внимание, оборудование S9 в ваших портфелях скоро станет
                                нерентабельным. Если в течение месяца не истребуете его, то оно будет утилизировано.</p>
                            <a class="btn-link-uc" href="#">Истребовать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-5 col_pr">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header__title">Портфель 1</h2>
                    </div>
                    <div class="card-body">
                        <div id="chartPie" class="chart-pie">
                        </div>
                    </div>
                    <div class="card-sub-footer">
                        <a class="btn-link-uc btn-link-uc_drk" href="#">Выйти</a>
                    </div>
                </div>
            </div>
            <div class="col-7 col_pl">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header__title">Детализация</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-detail">
                            <thead class="thead-detail">
                            <tr>
                                <th>Модель</th>
                                <th>Статус</th>
                                <th>Единицы</th>
                                <th>Стоимость</th>
                                <th>КВт</th>
                                <th>Хешрейт</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="tr-detail">
                                <td>Antminer S9</td>
                                <td>В работе</td>
                                <td>2</td>
                                <td>USD 10,000.00</td>
                                <td>0,8 КВт</td>
                                <td>12 MHs</td>
                            </tr>
                            <tr class="tr-detail">
                                <td>Antminer S9</td>
                                <td>В работе</td>
                                <td>2</td>
                                <td>USD 10,000.00</td>
                                <td>0,8 КВт</td>
                                <td>12 MHs</td>
                            </tr>

                            <tr class="tr-detail">
                                <td>Antminer S9</td>
                                <td>В работе</td>
                                <td>2</td>
                                <td>USD 10,000.00</td>
                                <td>0,8 КВт</td>
                                <td>12 MHs</td>
                            </tr>

                            <tr class="tr-detail">
                                <td>Antminer S9</td>
                                <td>В работе</td>
                                <td>2</td>
                                <td>USD 10,000.00</td>
                                <td>0,8 КВт</td>
                                <td>12 MHs</td>
                            </tr>

                            <tr class="tr-detail">
                                <td>Antminer S9</td>
                                <td>В работе</td>
                                <td>2</td>
                                <td>USD 10,000.00</td>
                                <td>0,8 КВт</td>
                                <td>12 MHs</td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="card-sub-footer">
                        <a class="btn-link-uc btn-link-uc_drk" href="#">Выйти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--<div class="footer">-->
<!--<div class="container">-->
<!--<ul class="footer__nav">-->
<!--<li class="footer__nav-item">-->
<!--<a class="footer__nav-link" href="#">Algoritmix LLC</a>-->
<!--</li>-->
<!--<li class="footer__nav-item">-->
<!--<a class="footer__nav-link" href="#">Как это работает</a>-->
<!--</li>-->
<!--<li class="footer__nav-item">-->
<!--<a class="footer__nav-link" href="#">Регистрация</a>-->
<!--</li>-->
<!--<li class="footer__nav-item">-->
<!--<a class="footer__nav-link" href="#">Войти</a>-->
<!--</li>-->
<!--<li class="footer__nav-item">-->
<!--<a class="footer__nav-link" href="#">Расчёт инвестиций</a>-->
<!--</li>-->
<!--<li class="footer__nav-item">-->
<!--<a class="footer__nav-link" href="#">Design by Gregory Maslov</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../../vendors/d3.v4.min.js"></script>

<script>

    ////////////////////////////////////////////////////////////
    //////////////////////// Set-up ////////////////////////////
    ////////////////////////////////////////////////////////////

    var screenWidth = window.innerWidth;

    var chartWidth = 390,
            chartHeight = 430;
    var margin = {left: 40, top: 40, right: 40, bottom: 40};

    if (window.matchMedia('(max-width: 768px)').matches) {
        chartWidth = 330;
        chartHeight = 390;
        margin = {left: 40, top: 40, right: 40, bottom: 40};
    }

    //    if($(window).width() >= 768){
    //        chartWidth = 330;
    //        chartHeight = 390;
    //        margin = {left: 40, top: 40, right: 40, bottom: 40};
    //        console.log(123123123);
    //    }


    var width = Math.min(screenWidth, chartWidth) - margin.left - margin.right,
            height = Math.min(screenWidth, chartHeight) - margin.top - margin.bottom;

    var svg = d3.select("#chartPie").append("svg")
            .attr("width", (width + margin.left + margin.right))
            .attr("height", (height + margin.top + margin.bottom))
            .append("g").attr("class", "wrapper")
            .attr("transform", "translate(" + (width / 2 + margin.left) + "," + (height / 2 + margin.top) + ")");

    //////////////////////////////////////////////////////////////
    ///////////////////// Data &  Scales /////////////////////////
    //////////////////////////////////////////////////////////////

    //Some random data
    var donutData = [
        {name: "GPU (12,2%)", value: 12.2},
        {name: "Bitcoin (24,5%)", value: 24.5},
        {name: "Litecoin (31,2%)", value: 31.2},
        {name: "Dash (19,4%)", value: 19.4},
    ];

    //Create a color scale
    //    var colorScale = d3.scale.linear()
    //            .domain([1,3.5,6])
    //            .range(["#4801ff", "#ffffbf", "#d7191c"])
    //            .interpolate(d3.interpolateHcl);

    var colorScale = d3.scaleOrdinal()
            .range(["#e6e9f0", "#5069fd", "#cdd7e7", "#f6f7fa"]);

    //Create an arc function
    var arc = d3.arc()
            .innerRadius(width * 0.75 / 2)
            .outerRadius(width * 0.75 / 2 + 45);

    //Turn the pie chart 90 degrees counter clockwise, so it starts at the left
    var pie = d3.pie()
            .startAngle(-70 * Math.PI / 180)
            .endAngle(-70 * Math.PI / 180 + 2 * Math.PI)
            .value(function (d) {
                return d.value;
            })
            .padAngle(.01)
            .sort(null);

    //////////////////////////////////////////////////////////////
    //////////////////// Create Chart //////////////////////
    //////////////////////////////////////////////////////////////

    svg.append("text")
            .attr("dy", "10px")
            .style("text-anchor", "middle")
            .attr("class", "inner-circle")
            .attr("fill", "#36454f")
            .text(function (d) {
                return '3,5 МВт';
            });

    //Create the donut slices and also the invisible arcs for the text
    svg.selectAll(".donutArcs")
            .data(pie(donutData))
            .enter().append("path")
            .attr("class", "donutArcs")
            .attr("d", arc)
            .style("fill", function (d, i) {
                if (i === 7) return "#CCCCCC"; //Other
                else return colorScale(i);
            })
            .each(function (d, i) {
                //Search pattern for everything between the start and the first capital L
                var firstArcSection = /(^.+?)L/;

                //Grab everything up to the first Line statement
                var newArc = firstArcSection.exec(d3.select(this).attr("d"))[1];
                //Replace all the comma's so that IE can handle it
                newArc = newArc.replace(/,/g, " ");

                //If the end angle lies beyond a quarter of a circle (90 degrees or pi/2)
                //flip the end and start position
                if (d.endAngle > 90 * Math.PI / 180) {
                    var startLoc = /M(.*?)A/,		//Everything between the first capital M and first capital A
                            middleLoc = /A(.*?)0 0 1/,	//Everything between the first capital A and 0 0 1
                            endLoc = /0 0 1 (.*?)$/;	//Everything between the first 0 0 1 and the end of the string (denoted by $)
                    //Flip the direction of the arc by switching the start en end point (and sweep flag)
                    //of those elements that are below the horizontal line
                    var newStart = endLoc.exec(newArc)[1];
                    var newEnd = startLoc.exec(newArc)[1];
                    var middleSec = middleLoc.exec(newArc)[1];

                    //Build up the new arc notation, set the sweep-flag to 0
                    newArc = "M" + newStart + "A" + middleSec + "0 0 0 " + newEnd;
                }//if

                //Create a new invisible arc that the text can flow along
                svg.append("path")
                        .attr("class", "hiddenDonutArcs")
                        .attr("id", "donutArc" + i)
                        .attr("d", newArc)
                        .style("fill", "none");
            });

    //Append the label names on the outside
    svg.selectAll(".donutText")
            .data(pie(donutData))
            .enter().append("text")
            .attr("class", "donutText")
            //Move the labels below the arcs for those slices with an end angle greater than 90 degrees
            .attr("dy", function (d, i) {
                return (d.endAngle > 90 * Math.PI / 180 ? 18 : -11);
            })
            .append("textPath")
            .attr("startOffset", "50%")
            .style("text-anchor", "middle")
            .attr("xlink:href", function (d, i) {
                return "#donutArc" + i;
            })
            .text(function (d) {
                return d.data.name;
            });

</script>


</body>
</html>