<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>Algoritmix</title>
    <link rel="stylesheet" href="../../styles/admin/index.css">
</head>
<body>
<header class="header">
    <div class="header__wrap">
        <button class="header__menu-toggler"></button>
        <a href="#" class="header__logo" title="Algoritmix"></a>
        <ul class="header-nav header-nav_collapse">
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">Оборудование</a>
            </li>
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">Динамика и прогноз</a>
            </li>
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">История транзакций</a>
            </li>
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">Профиль</a>
            </li>
            <li class="header-nav__item">
                <a class="header-nav__btn" href="#">Купить портфель</a>
            </li>
        </ul>
        <ul class="header-nav">
            <li class="header-nav__item">
                <a class="header-total" href="#">
                    <span class="header-total__name">Счёт</span>
                    <span class="header-total__count">~ usd 150 000</span>
                </a>
            </li>
        </ul>
    </div>
</header>
<div class="content-wrap">
    <main>
        <div class="container">

            <div class="page-title-wrap">
                <h1 class="page-title">Купить портфель</h1>
            </div>

            <div class="grid">
                <div class="col-12">
                    <div class="card card_drk">
                        <!--<div class="card-header">-->
                        <!--<h2 class="card-header__title">Изменение Email</h2>-->
                        <!--</div>-->
                        <div class="card-body">
                            <div class="grid">
                                <div class="col-6 col_pr">
                                    <div class="section-sm-drk">
                                        <div class="investing">
                                            <div class="investing__input-wrap">
                                                <button class="investing__arrow"></button>
                                                <span class="investing__currency">$</span>
                                                <input class="investing__input" type="text" value="100,000.00">
                                            </div>
                                        </div>
                                        <ul class="investing__tab">
                                            <li class="investing__tab-item investing__tab-item_icon"></li>
                                            <li class="investing__tab-item">
                                                <button class="investing__tab-btn investing__tab-btn_active">
                                                    Консервативный
                                                </button>
                                            </li>
                                            <li class="investing__tab-item">
                                                <button class="investing__tab-btn">Cбалансированный</button>
                                            </li>
                                            <li class="investing__tab-item">
                                                <button class="investing__tab-btn">Агрессивный</button>
                                            </li>
                                        </ul>
                                        <ul class="investing__range-list">
                                            <li class="investing__range-item">
                                                <div class="investing__range-wrap">
                                                    <div class="investing__range-text">
                                                        <span class="investing__range-title">Bitcoin</span>
                                                        <span class="investing__range-title-sub">(S9, 1.35 КВт/Ч, 300 THs, $10.000)</span>
                                                    </div>
                                                    <div class="investing__range-count">120 единиц</div>
                                                </div>
                                                <div class="investing__range-bar">
                                                    <input type="range" min="0" max="100" value="50"/>
                                                </div>
                                            </li>
                                            <li class="investing__range-item">
                                                <div class="investing__range-wrap">
                                                    <div class="investing__range-text">
                                                        <span class="investing__range-title">Litecoin</span>
                                                        <span class="investing__range-title-sub">(L3+, 1.5 КВт/Ч, 200 MHs, $5.000)</span>
                                                    </div>
                                                    <div class="investing__range-count">80 единиц</div>
                                                </div>
                                                <div class="investing__range-bar">
                                                    <input type="range" min="0" max="100" value="35"/>
                                                </div>
                                            </li>

                                            <li class="investing__range-item">
                                                <div class="investing__range-wrap">
                                                    <div class="investing__range-text">
                                                        <span class="investing__range-title investing__range-title_grey">Dash</span>
                                                        <span class="investing__range-title-sub">(D9, 0.9 КВт/Ч, 300 MHs, $3.000)</span>
                                                    </div>
                                                    <div class="investing__range-count">0 единиц</div>
                                                </div>
                                                <div class="investing__range-bar">
                                                    <input type="range" min="0" max="100" value="0"/>
                                                </div>
                                            </li>

                                            <li class="investing__range-item">
                                                <div class="investing__range-wrap">
                                                    <div class="investing__range-text">
                                                        <span class="investing__range-title">GPU</span>
                                                        <span class="investing__range-title-sub">(343, 1.35 КВт/Ч, 300 MHs, $1.000)</span>
                                                    </div>
                                                    <div class="investing__range-count">40 единиц</div>
                                                </div>
                                                <div class="investing__range-bar">
                                                    <input type="range" min="0" max="100" value="20"/>
                                                </div>
                                            </li>

                                        </ul>
                                        <ul class="section-sm__nav section-sm__nav_investing">
                                            <li class="section-sm__nav-item">
                                                <a class="btn btn_gd btn_w200" href="#">Купить</a>
                                            </li>
                                            <li class="section-sm__nav-item">
                                                <span class="investing-info">Включены: блок питания, доставка, таможня, ндс, обслуживание.</span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col-6 col_pl">
                                    <div class="section-sm-drk">
                                        <div class="get"><h3 class="get__title">BTC 0<span>($0)</span></h3>
                                            <p class="get__description">(в т.ч. BTC 10, LTC 15, DASH 200, GPU 30)</p>
                                            <div class="get__tab-wrap">
                                                <ul class="get__tab">
                                                    <li class="get__tab-item">
                                                        <button class="get__tab-btn get__tab-btn_active" title="Общее">
                                                            Общее
                                                        </button>
                                                    </li>
                                                    <li class="get__tab-item">
                                                        <button class="get__tab-btn " title="BTC">BTC</button>
                                                    </li>
                                                    <li class="get__tab-item">
                                                        <button class="get__tab-btn " title="LTC">LTC</button>
                                                    </li>
                                                    <li class="get__tab-item">
                                                        <button class="get__tab-btn " title="DASH">DASH</button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="chart-info">
                                                <div class="chart-info__label-wrap"><span
                                                        class="chart-info__label chart-info__label_1">Издержки</span><span
                                                        class="chart-info__label chart-info__label_2">Доход</span></div>
                                                <div class="chart-select">Модель Algoritmix</div>
                                            </div>
                                            <div id="chartCandlestick">
                                                <!--<div class="chartjs-size-monitor"-->
                                                <!--style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">-->
                                                <!--<div class="chartjs-size-monitor-expand"-->
                                                <!--style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">-->
                                                <!--<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>-->
                                                <!--</div>-->
                                                <!--<div class="chartjs-size-monitor-shrink"-->
                                                <!--style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">-->
                                                <!--<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>-->
                                                <!--</div>-->
                                                <!--</div>-->
                                                <!--<canvas style="display: block; width: 520px; height: 260px;" width="520"-->
                                                <!--height="260" class="chartjs-render-monitor"></canvas>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <ul class="footer__nav">
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">Algoritmix LLC</a>
                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">Преимущества</a>
                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">Оборудование</a>
                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">Динамика и прогноз</a><br>
                    <a class="footer__nav-link_sm" href="#">Пользовательское<br> соглашение</a>
                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">История транзакций</a><br>
                    <a class="footer__nav-link_sm" href="#">О персональных<br> данных</a>
                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">Профиль</a><br>
                    <a class="footer__nav-link_sm" href="#">Оферта</a>
                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">Счёт</a><br>
                    <a class="footer__nav-link_sm" href="#">Design by<br> Gregory Maslov</a>
                </li>
            </ul>
            <ul class="footer__sub-nav">
                <li class="footer__sub-nav-item">
                    <a class="footer__sub-nav-link" href="#">Пользовательское<br> соглашение</a>
                </li>
                <li class="footer__sub-nav-item">
                    <a class="footer__sub-nav-link" href="#">О персональных<br> данных</a>
                </li>
                <li class="footer__sub-nav-item">
                    <a class="footer__sub-nav-link" href="#">Оферта</a><br>
                </li>
                <li class="footer__sub-nav-item">
                    <a class="footer__sub-nav-link" href="#">Design by<br> Gregory Maslov</a>
                </li>
            </ul>
        </div>
    </footer>
</div>

<div class="header-side-nav">
    <button class="header-side-nav__menu-toggler"></button>
    <div class="header-side-nav__wrap">
        <div class="header-side-logo">
            <img class="header-side-logo__img" src="../../images/admin/logo-white.svg" alt="">
        </div>
        <ul class="header-side-menu">
            <li class="header-side-menu__item">
                <a class="header-side-menu__link" href="#">Оборудование</a>
            </li>
            <li class="header-side-menu__item">
                <a class="header-side-menu__link" href="#">Динамика и прогноз</a>
            </li>
            <li class="header-side-menu__item">
                <a class="header-side-menu__link" href="#">История транзакций</a>
            </li>
            <li class="header-side-menu__item">
                <a class="header-side-menu__link" href="#">Профиль</a>
            </li>
            <li class="header-side-menu__item">
                <a class="header-side-menu__link" href="#">Счёт</a>
            </li>
            <li class="header-side-menu__item">
                <a class="header-side-menu__link-btn" href="#">Купить портфель</a>
            </li>
        </ul>
    </div>
</div>

<div class="mask"></div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../../vendors/jquery.touchSwipe.min.js"></script>
<script src="../../vendors/d3.v4.min.js"></script>
<script src="../../js/main.js"></script>

</body>
</html>