<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>Algoritmix</title>
    <link rel="stylesheet" href="../../styles/admin/index.css">
</head>
<body>
<header class="header">
    <div class="header__wrap">
        <button class="header__menu-toggler"></button>
        <a href="#" class="header__logo" title="Algoritmix"></a>
        <ul class="header-nav header-nav_collapse">
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">Оборудование</a>
            </li>
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">Динамика и прогноз</a>
            </li>
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">История транзакций</a>
            </li>
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">Профиль</a>
            </li>
            <li class="header-nav__item">
                <a class="header-nav__btn" href="#">Купить портфель</a>
            </li>
        </ul>
        <ul class="header-nav">
            <li class="header-nav__item">
                <a class="header-total" href="#">
                    <span class="header-total__name">Счёт</span>
                    <span class="header-total__count">~ usd 150 000</span>
                </a>
            </li>
        </ul>
    </div>
</header>
<div class="content-wrap">
    <main>
        <div class="container">
            <div class="page-title-wrap">
                <h1 class="page-title">Динамика и прогноз</h1>
            </div>
            <div class="grid">
                <div class="col-7 col_pr">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-header__title">Динамика добычи</h2>
                            <div class="chart-info">
                                <div class="chart-info__label-wrap">
                                    <span class="chart-info__label chart-info__label_1">Antminer S9</span>
                                    <span class="chart-info__label chart-info__label_2">Antminer L3+</span>
                                    <span class="chart-info__label chart-info__label_3">PandaMiner</span>
                                    <span class="chart-info__label chart-info__label_4">GPU</span>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <div id="chartCandlestick" class="chart-line"></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-header__title">Прогноз</h2>
                        </div>
                        <div class="card-sub-header">
                            <div class="grid">
                                <div class="col-4">
                                    <div class="tab-rounded-wrap">
                                        <ul class="tab-rounded">
                                            <li class="tab-rounded__item">
                                                <button class="tab-rounded__link tab-rounded__link_active">USD</button>
                                            </li>
                                            <li class="tab-rounded__item">
                                                <button class="tab-rounded__link">BTC</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="tabs-wrap">
                                        <ul class="tabs tabs_r">
                                            <li class="tabs__item active">
                                                <a class="tabs__link" href="#home" data-toggle="tab">Экстраполяция</a>
                                            </li>
                                            <li class="tabs__item">
                                                <a class="tabs__link" href="#home2" data-toggle="tab">модель algoritmix</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="chart-info__label-wrap chart-info__label-wrap_pt">
                                <span class="chart-info__label chart-info__label_1">Antminer S9</span>
                                <span class="chart-info__label chart-info__label_2">Antminer L3+</span>
                                <span class="chart-info__label chart-info__label_3">PandaMiner</span>
                                <span class="chart-info__label chart-info__label_4">GPU</span>
                            </div>
                            <div id="chartForecast" class="chart-forecast"></div>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive table-forecast">
                                <thead class="thead-forecast">
                                <tr>
                                    <th>День</th>
                                    <th>USD</th>
                                    <th>BTC</th>
                                    <th>Эл-во</th>
                                    <th>Collocation</th>
                                    <th>Доход</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="tr-forecast">
                                    <td>День</td>
                                    <td>$ 1,234.00</td>
                                    <td>-$0,34</td>
                                    <td>-$0,34</td>
                                    <td>00.00234</td>
                                    <td>1.00425</td>
                                </tr>
                                <tr class="tr-forecast">
                                    <td>Неделя</td>
                                    <td>$ 1,234.00</td>
                                    <td>-$0,34</td>
                                    <td>-$0,34</td>
                                    <td>00.00234</td>
                                    <td>1.00425</td>
                                </tr>
                                <tr class="tr-forecast">
                                    <td>Месяц</td>
                                    <td>$ 1,234.00</td>
                                    <td>-$0,34</td>
                                    <td>-$0,34</td>
                                    <td>00.00234</td>
                                    <td>1.00425</td>
                                </tr>
                                <tr class="tr-forecast">
                                    <td>Год</td>
                                    <td>$ 1,234.00</td>
                                    <td>-$0,34</td>
                                    <td>-$0,34</td>
                                    <td>00.00234</td>
                                    <td>1.00425</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="card-sub-footer">
                            <div class="card-sub-footer__total">
                                <span>Всего выведено</span>
                                <span>01.06720</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5 col_pl">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-header__title">История начислений</h2>
                        </div>
                        <div class="card-body">
                            <div class="tab-rounded-wrap">
                                <ul class="tab-rounded">
                                    <li class="tab-rounded__item">
                                        <button class="tab-rounded__link tab-rounded__link_active">ВСЕ</button>
                                    </li>
                                    <li class="tab-rounded__item">
                                        <button class="tab-rounded__link">BTC</button>
                                    </li>
                                    <li class="tab-rounded__item">
                                        <button class="tab-rounded__link">LTC</button>
                                    </li>
                                    <li class="tab-rounded__item">
                                        <button class="tab-rounded__link">DSH</button>
                                    </li>
                                    <li class="tab-rounded__item">
                                        <button class="tab-rounded__link">GPU</button>
                                    </li>
                                </ul>
                            </div>
                            <table class="table table-responsive table-history-charges">
                                <thead class="thead-history-charges">
                                <tr>
                                    <th>Дата</th>
                                    <th>Bitcoin</th>
                                    <th>Litecoin</th>
                                    <th>Dash</th>
                                    <th>GPU <span>(ETH)</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                <tr class="tr-history-charges">
                                    <td>20.01.18</td>
                                    <td>00.00535</td>
                                    <td>00.00132</td>
                                    <td>00.00132</td>
                                    <td>00.00234</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="btn-load-wrap">
                                <button class="btn-load">Еще</button>
                            </div>
                        </div>
                        <div class="card-sub-footer">
                            <div class="card-sub-footer__total">
                                <span>Всего начислено</span>
                                <span>01.06720</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <ul class="footer__nav">
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">Algoritmix LLC</a>
                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">Преимущества</a>
                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">Оборудование</a>
                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">Динамика и прогноз</a><br>
                    <a class="footer__nav-link_sm" href="#">Пользовательское<br> соглашение</a>
                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">История транзакций</a><br>
                    <a class="footer__nav-link_sm" href="#">О персональных<br> данных</a>
                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">Профиль</a><br>
                    <a class="footer__nav-link_sm" href="#">Оферта</a>
                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">Счёт</a><br>
                    <a class="footer__nav-link_sm" href="#">Design by<br> Gregory Maslov</a>
                </li>
            </ul>
            <ul class="footer__sub-nav">
                <li class="footer__sub-nav-item">
                    <a class="footer__sub-nav-link" href="#">Пользовательское<br> соглашение</a>
                </li>
                <li class="footer__sub-nav-item">
                    <a class="footer__sub-nav-link" href="#">О персональных<br> данных</a>
                </li>
                <li class="footer__sub-nav-item">
                    <a class="footer__sub-nav-link" href="#">Оферта</a><br>
                </li>
                <li class="footer__sub-nav-item">
                    <a class="footer__sub-nav-link" href="#">Design by<br> Gregory Maslov</a>
                </li>
            </ul>
        </div>
    </footer>
</div>

<div class="header-side-nav">
    <button class="header-side-nav__menu-toggler"></button>
    <div class="header-side-nav__wrap">
        <div class="header-side-logo">
            <img class="header-side-logo__img" src="../../images/admin/logo-white.svg" alt="">
        </div>
        <ul class="header-side-menu">
            <li class="header-side-menu__item">
                <a class="header-side-menu__link" href="#">Оборудование</a>
            </li>
            <li class="header-side-menu__item">
                <a class="header-side-menu__link" href="#">Динамика и прогноз</a>
            </li>
            <li class="header-side-menu__item">
                <a class="header-side-menu__link" href="#">История транзакций</a>
            </li>
            <li class="header-side-menu__item">
                <a class="header-side-menu__link" href="#">Профиль</a>
            </li>
            <li class="header-side-menu__item">
                <a class="header-side-menu__link" href="#">Счёт</a>
            </li>
            <li class="header-side-menu__item">
                <a class="header-side-menu__link-btn" href="#">Купить портфель</a>
            </li>
        </ul>
    </div>
</div>

<div class="mask"></div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../../vendors/jquery.touchSwipe.min.js"></script>
<!--<script src="../../vendors/d3.v4.min.js"></script>-->
<script src="../../js/main.js"></script>
<script src="../../vendors/echarts.common.min.js"></script>
<script>

    var lineData = {
        data: [
            {name: "GPU (75,0%)", value: 25.0},
            {name: "Bitcoin2 (25,0%)", value: 25.0},
            {name: "GPU3 (75,0%)", value: 25.0},
            {name: "Bitco4in (25,0%)", value: 25.0},
            {name: "GPU 5(75,0%)", value: 25.0},
        ],
    }


    drawLineGraph('chartCandlestick', lineData)

    drawLineGraph('chartForecast', lineData)

    function drawLineGraph(id, donutData) {

        var chart = echarts.init(document.getElementById(id));

        option = {
            tooltip: {
                trigger: 'axis',
//                formatter: "{a}:<br>{b} мес. {c}",
                backgroundColor: '#e6ecf8',
                borderRadius: 0,
                padding: 10,
                textStyle: {
                    color: '#4f5163',
                }
            },
            grid: {
                top: '2%',
                left: '0',
                right: '0',
                bottom: '0',
                containLabel: true
            },
            xAxis: {
                type: 'category',
//                boundaryGap: false,
                data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30'],
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: '#f2f5fc',
                    },
                },
                axisLine: {
                    lineStyle: {
                        color: '#b5bcc8',
                        width: '0',
                    }
                },
                axisLabel: {
                    textStyle: {
                        fontFamily: "futura-pt, 'helvetica', 'sans-serif'",
                        fontSize: '12',
                    }
                },
            },
            yAxis: {
                type: 'value',
                position: 'bottom',
                splitLine: {
                    lineStyle: {
                        color: '#f2f5fc',
                    },
                },
                axisLine: {
                    lineStyle: {
                        color: '#b5bcc8',
                        width: '0',
                    }
                },
                axisLabel: {
                    textStyle: {
                        fontFamily: "futura-pt, 'helvetica', 'sans-serif'",
                        fontSize: '10',
                    }
                }
            },
            series: [
                {
                    name: 'ВЕС',
                    type: 'line',
                    data: [10, 20, 30, 40, 20, 55, 50, 10, 20, 30, 40, 20, 70, 50, 60, 90, 30, 40, 20, 100, 50],
                    itemStyle: {
                        normal: {
                            color: '#49b680',
                            lineStyle: {
                                color: '#49b680',
                                type: 'solid',
                                width: '1',
                            },
                        }
                    },
                    showSymbol: false,
                },
                {
                    name: 'XYZ',
                    type: 'line',
                    data: [11, 19, 40, 40, 20, 10, 20, 50, 80, 55, 77, 45, 46, 50, 69, 90, 85, 78, 45, 75, 0],
                    itemStyle: {
                        normal: {
                            color: '#ec4d5c',
                            lineStyle: {
                                color: '#ec4d5c',
                                type: 'solid',
                                width: '1',
                            },
                        }
                    },
                    showSymbol: false,
                }
            ]
        };

        chart.setOption(option);

    }

</script>

</body>
</html>