.btn {
  display: inline-block;
  padding: 13px 25px;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #000000;
  background: transparent;
  border-radius: 25px;
  border: 1px solid #000;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  transition: color .2s, background .2s;

  &:hover {
    color: #000;
    background: #fff;
  }

  &_block {
    width: 160px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  &_drk {
    position: relative;
    padding-right: 60px;
    color: #fff;
    background: #000;
    box-shadow: 0 4px 12px 0 #f48f4c;

    &:hover {
      color: #fff;
      background: #000;
    }

    &_arrow {
      position: absolute;
      content: "";
      top: 10px;
      right: 12px;
      background: url('data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im00MC40LDEyMS4zYy0wLjgsMC44LTEuOCwxLjItMi45LDEuMnMtMi4xLTAuNC0yLjktMS4yYy0xLjYtMS42LTEuNi00LjIgMC01LjhsNTEtNTEtNTEtNTFjLTEuNi0xLjYtMS42LTQuMiAwLTUuOCAxLjYtMS42IDQuMi0xLjYgNS44LDBsNTMuOSw1My45YzEuNiwxLjYgMS42LDQuMiAwLDUuOGwtNTMuOSw1My45eiIgZmlsbD0iI2VjNzE0ZSIvPgogIDwvZz4KPC9zdmc+Cg==') no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      z-index: 1;
    }

    &:before {
      position: absolute;
      content: "";
      top: 3px;
      right: 9px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: #fff;
      opacity: .8;
    }

    &:after {
      position: absolute;
      content: "";
      top: 3px;
      right: 3px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: #fff;
      opacity: .8;
    }

  }

  &_sm {
    position: relative;
    padding: 8px 38px 8px 26px;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.7px;
    color: #000000;
    border-radius: 6px;

    &:after {
      content: '';
      position: absolute;
      top: 10px;
      right: 10px;
      background: url("../../images/landing/shapes/arrows.svg") no-repeat;
      background-size: 17px 6px;
      width: 17px;
      height: 6px;
    }

  }

}

