.card {
  position: relative;
  margin-top: 50px;
  width: 100%;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 16px 36px 0 rgba(174, 174, 174, 0.5);
  z-index: 1;

  &_mt-183 {
    margin-top: 183px;
  }

  &_mt-76 {
    margin-top: 76px;
  }

  &__content {
    margin: -100px 0 0 0;
    padding: 0 97px 72px;
    font-family: $font-stack;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.5px;
    color: #000000;

    &_tac {
      text-align: center;
    }

  }

  &__title {
    margin: 0;
    padding-top: 32px;
    font-family: $font-stack;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
  }

  &__form {
    padding: 28px 34px 54px;
  }

}

.card-wrap {
  padding: 0 100px;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .card {

    &__content {
      padding: 0 33px 72px;
    }

    &__form {
      padding: 28px 30px 40px;
    }

  }

  .card-wrap {
    padding: 0;
  }

}
/* Small Devices, Tablets */
@media only screen and (max-width : 760px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
