.form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__col {
    flex-grow: 1;

    &_w160 {
      flex-grow: 0;
      //width: 160px;
    }

  }

  &__wrap-inside {
    display: flex;
    padding: 0 15px;
  }

  &__input {
    flex-grow: 1;
    padding: 12px 24px 10px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 3px 0 rgba(174, 174, 174, 0.5);
    border: solid 1px #dadada;

    font-family: $font-stack;
    font-size: 16px;
    line-height: 0.88;
    letter-spacing: 0.5px;
    text-align: left;
    color: #959595;

  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .form {
    flex-wrap: wrap;

    &__col {
      flex-grow: 0;
      width: 33.33%;

      &_w160 {
        margin-top: 32px;
        flex-grow: 1;
      }

    }

    &__wrap-inside {
      justify-content: center;
      margin-top: 0;
      padding: 0 10px;
    }

    &__input {
      width: 100%;
      flex-grow: 0;
      padding: 12px 24px 10px;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: inset 0 1px 3px 0 rgba(174, 174, 174, 0.5);
      border: solid 1px #dadada;

      font-family: $font-stack;
      font-size: 16px;
      line-height: 0.88;
      letter-spacing: 0.5px;
      text-align: left;
      color: #959595;

    }

  }

}
/* Small Devices, Tablets */
@media only screen and (max-width : 760px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
