.go {
  position: relative;
  margin-top: 100px;
  background-color: #b9b9b9;
  z-index: 1;

  &__wrap {
    display: flex;
    align-items: center;
    padding: 20px 0;

    &_jcc {
      justify-content: center;
    }

  }

  &__title {
    display: inline-block;
    padding-right: 60px;
    font-family: $font-stack;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #000000;
    text-transform: uppercase;
  }

  &__title-sub {
    display: block;
    font-family: $font-stack;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000;
    text-transform: none;
  }

}
