.road {
  margin-top: 76px;
  display: flex;

  &__item {
    width: 25%;

    &_w-33 {
      width: 33%;
    }

  }

  &__item-img-box {
    height: 64px;
    text-align: center;
  }

  &__item-img {
    width: 64px;
    height: 64px;
  }

  &__item-title {
    margin: 28px 0 0 0;
    padding-bottom: 26px;
    font-family: $font-stack;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;

    &_pb {
      padding-bottom: 43px;
    }

    &_token {
      height: 48px;
    }

  }

  &__item-content {
    padding-top: 26px;

    &_pt {
      padding-top: 35px;
    }

    & ul {
      margin: 0;
      padding-left: 20px;
      font-family: $font-stack;
      font-size: 12px;
      line-height: 2;
      letter-spacing: 0.3px;
      color: #000000;
      list-style: none;

      & li {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 10px;
          left: -10px;
          width: 2px;
          height: 2px;
          border-radius: 50%;
          background: #000;
        }

      }

    }

    & p {
      margin: 0;
      padding-left: 20px;
      font-family: $font-stack;
      font-size: 12px;
      line-height: 2;
      letter-spacing: 0.3px;
      color: #000000;
    }

  }

  &__item-content-tac {
    padding: 0 40px!important;
    text-align: center;
  }

  &__item-content-flags {
    margin-left: 3px;
    width: 15px;
    height: 15px;
    box-shadow: 0 1px 2px 0 rgba(174, 174, 174, 0.5);
    border-radius: 50%;
    vertical-align: middle;
  }

}

.road-line {
  display: inline-block;
  position: relative;
  background: #000;
  height: 4px;

  &_50 {
    width: 50%;
  }

  &__wrap {

  }

  &-bar {
    position: relative;
    display: flex;
    width: 100%;
    height: 4px;
    background: #fff;

    &_arrow {

      &:after {
        content: '';
        position: absolute;
        background: url("../../images/landing/shapes/arrow.svg") no-repeat;
        top: -3px;
        right: -20px;
        background-size: 39px 10px;
        width: 39px;
        height: 20px;
      }

    }

  }

  &_wt {
    background-color: transparent;
  }

  &_dot {
    position: relative;
    height: 4px;
    background: transparent;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background: url("../../images/landing/road-sq.png") repeat-x;
      background-size: 8px 4px;
      width: 100%;
      height: 4px;
    }

  }

  &__sq {
    position: relative;
    width: 100%;
    height: 0;

    &:after {
      content: '';
      position: absolute;
      top: -11px;
      left: 50%;
      background: url("../../images/landing/shapes/roadmapshape.svg") no-repeat;
      background-size: 19px 19px;
      width: 19px;
      height: 19px;
      margin-left: -7px;
    }

  }

  &__sq-num {
    position: relative;
    width: 100%;
    height: 0;

    &_1 {

      &:after {
        content: '';
        position: absolute;
        top: -18px;
        left: 50%;
        background: url("../../images/landing/shapes/1.svg") no-repeat;
        background-size: 36px 36px;
        width: 36px;
        height: 36px;
        margin-left: -15px;
      }

    }

    &_2 {

      &:after {
        content: '';
        position: absolute;
        top: -18px;
        left: 50%;
        background: url("../../images/landing/shapes/2.svg") no-repeat;
        background-size: 36px 36px;
        width: 36px;
        height: 36px;
        margin-left: -15px;
      }

    }

    &_3 {

      &:after {
        content: '';
        position: absolute;
        top: -19px;
        left: 50%;
        background: url("../../images/landing/shapes/3.svg") no-repeat;
        background-size: 36px 36px;
        width: 36px;
        height: 36px;
        margin-left: -15px;
      }

    }

  }

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .road {

    &__item-content {

      & ul {
        margin: 0;
        padding-left: 15px;
        font-size: 11px;
        line-height: 1.7;
      }

      & p {
        margin: 0;
        padding-left: 15px;
        font-size: 11px;
        line-height: 1.7;
      }

    }

  }

}
/* Small Devices, Tablets */
@media only screen and (max-width : 760px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

