.section {
  position: relative;
  padding-top: 120px;
  z-index: 1;

  &_sm {
    padding-top: 70px;
  }

  &_footer {
    padding-bottom: 200px;
  }

  &__title {
    margin: 0;
    font-family: $font-stack;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000000;
    text-align: center;

    &_sm {
      font-size: 16px;
      line-height: 1.5;
      text-transform: uppercase;
    }

  }

  &__description-wrap {
    padding: 0 300px;
  }

  &__description {
    margin: 16px 0 0 0;
    font-family: $font-stack;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #000000;
    text-align: center;

    &_sm {
      margin: 12px 0 0 0;
      font-size: 12px;
      line-height: 2;
      letter-spacing: 0.3px;
    }

    &_mt {
      margin-top: 70px;
    }

    &_footer {
      line-height: 2;
    }

  }

  &__content {
    margin-top: 76px;
  }

  &__content-text-wrap {
    padding-left: 30px;

    &_tar {
      padding-right: 30px;
      text-align: right;
    }

  }

  &__content-img-box {
    text-align: right;

    &_tal {
      text-align: left;
    }

  }

  &__content-img {

  }

  &__content-title {
    //width: 80%;
    margin: 0;
    font-family: $font-stack;
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 1px;
    color: #000000;
  }

  &__content-description {
    //width: 80%;
    margin: 16px 0 30px 0;
    font-family: $font-stack;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.5px;
    color: #000000;
  }

  &__content-description-sub {
    margin: 3px 0 0 0;
    font-family: $font-stack;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.3px;
    color: #a6a6a6;
  }

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .section {

    &__description-wrap {
      padding: 0 150px;
    }

    &__content-img {
      width: 100%;
    }

  }

}
/* Small Devices, Tablets */
@media only screen and (max-width : 760px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
