<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#4270ba">
    <title>KITAP TATAR</title>
    <meta name="description" content="краткое описание страницы">
    <link rel="stylesheet" href="../styles/index.css?2341">
</head>
<body>
<div class="content-wrap">
    <div class="header-wrap-bg">
        <div class="container">
            <header class="header">
                <button class="header__nav-btn">
                    <i class="icon-menu"></i>
                </button>
                <a class="logo header__logo" href="#">
                    <div class="logo__img-wrap">
                        <img class="logo__img" src="../images/logo/logo.png"
                             alt="Национальная электронная библиотека Республики Татарстан">
                    </div>
                    <div class="logo__text">
                        <span>Национальная электронная библиотека</span>
                        <span>Республики Татарстан</span>
                    </div>
                    <div class="logo__text-sm">
                        НЭБ РТ
                    </div>
                </a>
                <ul class="nav nav_tool header__tool">
                    <li class="nav__item nav__item_active">
                        <a class="nav__link" href="#">Рус</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Тат</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Eng</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#"><i class="icon-eye" title="Версия для слабовидящих"></i></a>
                    </li>
                </ul>
                <ul class="nav header__user">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Вход&nbsp;&nbsp;<i class="icon-man-user"></i></a>
                    </li>
                </ul>
            </header>
            <nav class="nav-wrap">
                <ul class="nav nav_tool">
                    <li class="nav__item nav__item_active">
                        <a class="nav__link" href="#">Рус</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Тат</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Eng</a>
                    </li>
                </ul>
                <ul class="nav nav_user">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Регистрация</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Вход&nbsp;&nbsp;<i class="icon-man-user"></i></a>
                    </li>
                </ul>
                <ul class="nav nav_main">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Проект турында</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Китапханәләр</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Каталог</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Коллекцияләр</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Фикерләр</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Яңалыклар</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Китапханәчедән сора</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Профессионалларга</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <main>
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="/ru/">Главная</a>
                    </li>
                    <li>
                        <span class="crumb__current">Спроси библиотекаря</span>
                    </li>
                </ol>
            </nav>
            <div class="content">
                <h1 class="content__title">Спроси библиотекаря → Вопрос № 4730</h1>
            </div>
            <ul class="ask-nav">
                <li class="ask-nav__item">
                    <a class="ask-nav__link" href="#">Задать вопрос</a>
                </li>
                <li class="ask-nav__item">
                    <button id="askNavBtn" class="ask-nav__link">Категории вопросов</button>
                </li>
            </ul>
            <div class="ask-container">
                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        <div class="content">
                            <p>Здравствуйте. Готовимся с дочерью к научному докладу в школе. Необходима информация об
                                экопарке Марьино озеро. Знаю что проводились исследования в КФУ, как-то можно с ними
                                ознакомиться. По каталогу ничего найти не удалось.</p>
                            <div class="content__sub">
                                <span>Категория: Биология</span>
                                <span>Статус: Готов</span>
                            </div>
                            <h2>Ответ</h2>
                            <p>Здравствуйте!</p>
                            <ol>
                                <li>Андрюшин, С. А. Фондирование и валютный курс рубля: источники, риски и регулирование
                                    // Банковское дело. – 2017. – № 10. – С. 4-9
                                </li>
                                <li>Базовые принципы управления мировыми валютными резервами // Экономика и управление в
                                    зарубежных странах. – 2017. – № 2. – С. 40-48. – Журнал хранится в ибо
                                </li>
                                <li>Белых В.С., Степанченко А.В. К вопросу о понятии иностранной валюты как объекта
                                    гражданских прав // Гражданское право. - 2017. - N 5. - С. 3 - 6.
                                </li>
                                <li>Бутузова, А. С. Как влияет инфляционное таргетирование на экономическое развитие
                                    страны?&nbsp; // Финансы и Кредит. – 2017. – № 18. – С. 1063-1071
                                </li>
                                <li>Бутузова, А. С. Денежно-кредитная политика в России: смена приоритетов и целевых
                                    ориентиров // Финансы и Кредит. – 2018. – № 9,10,11,12. – С. 591-612
                                </li>
                                <li>Зуева Е. Валютная оговорка прямая и косвенная // ЭЖ-Юрист. - 2017. - N 40. - С.
                                    14.
                                </li>
                                <li>Картаев, Ф. Полезно ли инфляционное таргетирование для экономического роста? //
                                    Вопросы экономики. – 2017. – № 2. – С. 62-74
                                </li>
                                <li>Кондратов, Д. И. Российский рубль - мировая валюта? // Бизнес и банки. – 2017. –
                                    февраль (№ 1). – С. 6-12
                                </li>
                                <li>Кондратов, Д. Современная мировая валютная система и перспективы её развития //
                                    Общество и экономика. – 2018. – № 6. – С. 5-26
                                </li>
                                <li>Крылов О.М. Иностранная валюта как элемент денежного обращения в процессе
                                    образования доходов и осуществления расходов централизованных денежных фондов
                                    публично-правовых образований // Финансовое право. - 2017. - N 12. - С. 5 - 9.
                                </li>
                                <li>Кудряшова, И. В. Современные мировые валюты: роль в официальном секторе // Финансы и
                                    Кредит. – 2018. – № 1-4. – С. 79-94
                                </li>
                                <li>Левицкий, Л. Валютное регулирование - ахиллесова пята экономики // Российская
                                    Федерация сегодня. – 2017. – № 10. – С. 38-39
                                </li>
                                <li>Майоров, С. Глобальный кодекс поведения на валютном рынке // Рынок ценных бумаг. –
                                    2017. – № 7. – С. 56-64
                                </li>
                                <li>Минибаева, Э. И. Валютные риски и применение инструментов хеджирования //
                                    Экономический вестник Республики Татарстан. – 2017. – № 1. – С. 63-70
                                </li>
                                <li>Сайбель, Н. Ю. Фондовый рынок России: проблемы и перспективы развития / Н. Ю.
                                    Сайбель, А. В. Ковальчук // Финансы и Кредит. – 2018. – № 9,10,11,12. – С. 613-626
                                </li>
                                <li>Соболев, А. И. Митигация валютных рисков: архитектурная инновация процесса
                                    хеджирования // РИСК: Ресурсы, Информация, Снабжение, Конкуренция. – 2017. – № 3. –
                                    С. 159-166. –инновационный подход к управлению валютными рисками с использованием
                                    композитных индексов валютных пар
                                </li>
                                <li>Щеголева, Н. Г. Трансформация мировой валютной системы: будущее за криптовалютой? /
                                    Н. Г. Щеголева, О. И. Терентьева // Вестник Московского университета. Серия
                                    "Экономика". – 2018. – № 2. – С. 75-93
                                </li>
                            </ol>
                            <a href="/ru/ask_librarian/detail/print/4787/" target="_blank">Версия для
                                печати</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="ask-facet">
                            <section class="card card_bs-2 card_facet">
                                <div class="card__header">
                                    <h2 class="card__title card__title_sm">Задать вопрос</h2>
                                </div>
                                <div class="card__body">
                                    <p class="card__text">Ищете информацию? Подбираете литературу? Есть вопросы о работе
                                        библиотеки? Виртуальная справочная служба поможет.</p>
                                </div>
                                <div class="card__footer">
                                    <ul class="card-nav">
                                        <li class="card-nav__item">
                                            <a class="card-nav__link" href="#">Задать вопрос</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section class="card card_bs-2 card_mt card_facet">
                                <div class="card__header">
                                    <h2 class="card__title card__title_sm">Категории вопросов</h2>
                                </div>
                                <div class="card__body">
                                    <ul class="card-list">
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                        <li class="card-list__item">
                                            <a class="card-list__link" href="#">
                                                <span class="card-list__title">Сельское и лесное хозяйство</span>
                                                <span class="card-list__count">55</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer" role="contentinfo">
        <div class="container">
            <ul class="footer-nav">
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">О проекте</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Библиотеки</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Каталог</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Коллекции</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Отзывы</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Новости</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Спроси библиотекаря</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Профессионалам</a>
                </li>
            </ul>
            <ul class="footer-nav">
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Национальная электронная библиотека Республики Татарстан</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Министерство информатизации и связи Республики Татарстан</a>
                </li>
            </ul>
        </div>
    </footer>
</div>
<div class="nav-mask"></div>
<div class="search-mask"></div>
<div class="ask-mask"></div>

<script src="../vendors/jquery-2.2.4.min.js"></script>
<script src="../vendors/swiper/js/swiper.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>