<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#4270ba">
    <title>KITAP TATAR</title>
    <meta name="description" content="краткое описание страницы">
    <link rel="stylesheet" href="../styles/index.css?2341">
</head>
<body>
<div class="content-wrap">
    <div class="header-wrap-bg">
        <div class="container">
            <header class="header">
                <button class="header__nav-btn">
                    <i class="icon-menu"></i>
                </button>
                <a class="logo header__logo" href="#">
                    <div class="logo__img-wrap">
                        <img class="logo__img" src="../images/logo/logo.png"
                             alt="Национальная электронная библиотека Республики Татарстан">
                    </div>
                    <div class="logo__text">
                        <span>Национальная электронная библиотека</span>
                        <span>Республики Татарстан</span>
                    </div>
                    <div class="logo__text-sm">
                        НЭБ РТ
                    </div>
                </a>
                <ul class="nav nav_tool header__tool">
                    <li class="nav__item nav__item_active">
                        <a class="nav__link" href="#">Рус</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Тат</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Eng</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#"><i class="icon-eye" title="Версия для слабовидящих"></i></a>
                    </li>
                </ul>
                <ul class="nav header__user">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Вход&nbsp;&nbsp;<i class="icon-man-user"></i></a>
                    </li>
                </ul>
            </header>
            <nav class="nav-wrap">
                <ul class="nav nav_tool">
                    <li class="nav__item nav__item_active">
                        <a class="nav__link" href="#">Рус</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Тат</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Eng</a>
                    </li>
                </ul>
                <ul class="nav nav_user">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Регистрация</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Вход&nbsp;&nbsp;<i class="icon-man-user"></i></a>
                    </li>
                </ul>
                <ul class="nav nav_main">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Проект турында</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Китапханәләр</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Каталог</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Коллекцияләр</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Фикерләр</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Яңалыклар</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Китапханәчедән сора</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Профессионалларга</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <main>
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="/ru/">Главная</a>
                    </li>
                    <li>
                        <a href="/ru/">МБУ «Межпоселенческая библиотечная система Нижнекамского муниципального района
                            РТ»</a>
                    </li>
                    <li>
                        <a href="/ru/">Городская молодежная библиотека филиал №45</a>
                    </li>
                    <li>
                        <a href="/ru/">Афиша</a>
                    </li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="content">
                        <h1 class="content__title">"Волшебный сундучок Деда Грамотея" (ко Дню Наума Грамотника)</h1>
                        <div class="content__info">
                            <span><span class="icon-locating"></span>&nbsp;&nbsp;Место проведения: Староабдуловская сельская библиотека</span>
                            <span><span class="icon-runer-silhouette-running-fast"></span>&nbsp;&nbsp;Начало: Пн 17 декабря 2018 10:00</span>
                            <span><span
                                    class="icon-racing-flag"></span>&nbsp;&nbsp;Окончание: Пн 17 декабря 2018 12:00</span>
                            <span><span class="icon-wall-clock"></span>&nbsp;&nbsp;Длительность: 2 ч.</span>
                            <span><span class="icon-man-user"></span>&nbsp;&nbsp;Возрастная категория: 6+</span>
                            <span><span
                                    class="icon-line-chart"></span>&nbsp;&nbsp;Направление: литературная гостинная</span>
                        </div>
                        <p><a href="#">Установить напоминание</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="#">Загрузить в календарь</a></p>
                        <p>14 декабря в 16:00 в Реабилитационном центре "Балкыш", сотрудники молодежной библиотеки
                            проведут интерактивную игру "Волшебный сундучок Деда Грамотея", посвященную Дню Наума
                            Грамотника.</p>
                    </div>
                    <div class="ya-share2"
                         data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,viber,whatsapp,telegram"></div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <section class="card card_md-mt">
                        <header class="card__header">
                            <h2 class="card__title">Другие мероприятия</h2>
                        </header>
                        <div class="card__body">
                            <div class="event-list">
                                <div class="swiper-container swiper-container-event">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <article class="event-list__item">
                                                <div class="event-list__date-wrap">
                                                    <time class="event-list__date">
                                                        <span>31</span>
                                                        <span>декабря</span>
                                                        <span>в 17:00</span></time>
                                                </div>
                                                <div class="event-list__detail">
                                                    <h3 class="event-list__detail-title">
                                                        <a class="event-list__detail-link" href="#">" Ак карларын белэн
                                                            ,ак
                                                            бэхетлэр тояп,хуш килэсен ,эйдэ Яна Ел!"</a>
                                                    </h3>
                                                    <p class="event-list__detail-description">новогодний бал
                                                        маскарад.</p>
                                                    <p class="event-list__detail-description">Место
                                                        проведения:Староабдуловская
                                                        сельская библиотека филиал № 30</p>
                                                </div>
                                            </article>
                                            <article class="event-list__item">
                                                <div class="event-list__date-wrap">
                                                    <time class="event-list__date">
                                                        <span>26</span>
                                                        <span>октября</span>
                                                        <span>в 17:00</span></time>
                                                </div>
                                                <div class="event-list__detail">
                                                    <h3 class="event-list__detail-title">
                                                        <a class="event-list__detail-link" href="#">«Первая мировая
                                                            война :
                                                            Люди. События. Факты»</a>
                                                    </h3>
                                                    <p class="event-list__detail-description">книжная выставка</p>
                                                    <p class="event-list__detail-description">Место проведения:
                                                        Тукаевский
                                                        районm,
                                                        Круглопольская сельская библиотека филиал № 35</p>
                                                </div>
                                            </article>
                                            <article class="event-list__item">
                                                <div class="event-list__date-wrap">
                                                    <time class="event-list__date">
                                                        <span>26</span>
                                                        <span>октября</span>
                                                        <span>в 17:00</span></time>
                                                </div>
                                                <div class="event-list__detail">
                                                    <h3 class="event-list__detail-title">
                                                        <a class="event-list__detail-link" href="#">«Первая мировая
                                                            война :
                                                            Люди. События. Факты»</a>
                                                    </h3>
                                                    <p class="event-list__detail-description">книжная выставка</p>
                                                    <p class="event-list__detail-description">Место проведения:
                                                        Тукаевский
                                                        районm,
                                                        Круглопольская сельская библиотека филиал № 35</p>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="swiper-slide">
                                            <article class="event-list__item">
                                                <div class="event-list__date-wrap">
                                                    <time class="event-list__date">
                                                        <span>31</span>
                                                        <span>декабря</span>
                                                        <span>в 17:00</span></time>
                                                </div>
                                                <div class="event-list__detail">
                                                    <h3 class="event-list__detail-title">
                                                        <a class="event-list__detail-link" href="#">" Ак карларын белэн
                                                            ,ак
                                                            бэхетлэр тояп,хуш килэсен ,эйдэ Яна Ел!"</a>
                                                    </h3>
                                                    <p class="event-list__detail-description">новогодний бал
                                                        маскарад.</p>
                                                    <p class="event-list__detail-description">Место проведения:
                                                        Библиотека:
                                                        Староабдуловская сельская библиотека филиал № 30</p>
                                                </div>
                                            </article>
                                            <article class="event-list__item">
                                                <div class="event-list__date-wrap">
                                                    <time class="event-list__date">
                                                        <span>26</span>
                                                        <span>октября</span>
                                                        <span>в 17:00</span></time>
                                                </div>
                                                <div class="event-list__detail">
                                                    <h3 class="event-list__detail-title">
                                                        <a class="event-list__detail-link" href="#">«Первая мировая
                                                            война :
                                                            Люди. События. Факты»</a>
                                                    </h3>
                                                    <p class="event-list__detail-description">книжная выставка</p>
                                                    <p class="event-list__detail-description">Место проведения:
                                                        Тукаевский
                                                        районm,
                                                        Круглопольская сельская библиотека филиал № 35</p>
                                                </div>
                                            </article>
                                            <article class="event-list__item">
                                                <div class="event-list__date-wrap">
                                                    <time class="event-list__date">
                                                        <span>26</span>
                                                        <span>октября</span>
                                                        <span>в 17:00</span></time>
                                                </div>
                                                <div class="event-list__detail">
                                                    <h3 class="event-list__detail-title">
                                                        <a class="event-list__detail-link" href="#">«Первая мировая
                                                            война :
                                                            Люди. События. Факты»</a>
                                                    </h3>
                                                    <p class="event-list__detail-description">книжная выставка</p>
                                                    <p class="event-list__detail-description">Место проведения:
                                                        Тукаевский
                                                        районm,
                                                        Круглопольская сельская библиотека филиал № 35</p>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="swiper-slide">
                                            <article class="event-list__item">
                                                <div class="event-list__date-wrap">
                                                    <time class="event-list__date">
                                                        <span>26</span>
                                                        <span>октября</span>
                                                        <span>в 17:00</span></time>
                                                </div>
                                                <div class="event-list__detail">
                                                    <h3 class="event-list__detail-title">
                                                        <a class="event-list__detail-link" href="#">«Первая мировая
                                                            война :
                                                            Люди. События. Факты»</a>
                                                    </h3>
                                                    <p class="event-list__detail-description">книжная выставка</p>
                                                    <p class="event-list__detail-description">Место проведения:
                                                        Тукаевский
                                                        районm,
                                                        Круглопольская сельская библиотека филиал № 35</p>
                                                </div>
                                            </article>
                                            <article class="event-list__item">
                                                <div class="event-list__date-wrap">
                                                    <time class="event-list__date">
                                                        <span>26</span>
                                                        <span>октября</span>
                                                        <span>в 17:00</span></time>
                                                </div>
                                                <div class="event-list__detail">
                                                    <h3 class="event-list__detail-title">
                                                        <a class="event-list__detail-link" href="#">«Первая мировая
                                                            война :
                                                            Люди. События. Факты»</a>
                                                    </h3>
                                                    <p class="event-list__detail-description">книжная выставка</p>
                                                    <p class="event-list__detail-description">Место проведения:
                                                        Тукаевский
                                                        районm,
                                                        Круглопольская сельская библиотека филиал № 35</p>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="swiper-slide">
                                            <article class="event-list__item">
                                                <div class="event-list__date-wrap">
                                                    <time class="event-list__date">
                                                        <span>26</span>
                                                        <span>октября</span>
                                                        <span>в 17:00</span></time>
                                                </div>
                                                <div class="event-list__detail">
                                                    <h3 class="event-list__detail-title">
                                                        <a class="event-list__detail-link" href="#">«Первая мировая
                                                            война :
                                                            Люди. События. Факты» «Первая мировая война :
                                                            Люди. События. Факты»</a>
                                                    </h3>
                                                    <p class="event-list__detail-description">книжная выставка</p>
                                                    <p class="event-list__detail-description">Место проведения:
                                                        Тукаевский
                                                        районm,
                                                        Круглопольская сельская библиотека филиал № 35</p>
                                                </div>
                                            </article>
                                            <article class="event-list__item">
                                                <div class="event-list__date-wrap">
                                                    <time class="event-list__date">
                                                        <span>26</span>
                                                        <span>октября</span>
                                                        <span>в 17:00</span></time>
                                                </div>
                                                <div class="event-list__detail">
                                                    <h3 class="event-list__detail-title">
                                                        <a class="event-list__detail-link" href="#">«Первая мировая
                                                            война :
                                                            Люди. События. Факты»</a>
                                                    </h3>
                                                    <p class="event-list__detail-description">книжная выставка</p>
                                                    <p class="event-list__detail-description">Место проведения:
                                                        Тукаевский
                                                        районm,
                                                        Круглопольская сельская библиотека филиал № 35</p>
                                                </div>
                                            </article>
                                            <article class="event-list__item">
                                                <div class="event-list__date-wrap">
                                                    <time class="event-list__date">
                                                        <span>26</span>
                                                        <span>октября</span>
                                                        <span>в 17:00</span></time>
                                                </div>
                                                <div class="event-list__detail">
                                                    <h3 class="event-list__detail-title">
                                                        <a class="event-list__detail-link" href="#">«Первая мировая
                                                            война :
                                                            Люди. События. Факты»</a>
                                                    </h3>
                                                    <p class="event-list__detail-description">книжная выставка</p>
                                                    <p class="event-list__detail-description">Место проведения:
                                                        Тукаевский
                                                        районm,
                                                        Круглопольская сельская библиотека филиал № 35</p>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination swiper-pagination-event"></div>
                                </div>
                                <div class="swiper-button-next swiper-button-next_bottom swiper-button-next-event"></div>
                                <div class="swiper-button-prev swiper-button-prev_bottom swiper-button-prev-event"></div>
                            </div>
                        </div>
                        <div class="card__footer">
                            <ul class="card-nav">
                                <li class="card-nav__item">
                                    <a class="card-nav__link" href="#">Все мероприятия</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer" role="contentinfo">
        <div class="container">
            <ul class="footer-nav">
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">О проекте</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Библиотеки</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Каталог</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Коллекции</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Отзывы</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Новости</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Спроси библиотекаря</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Профессионалам</a>
                </li>
            </ul>
            <ul class="footer-nav">
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Национальная электронная библиотека Республики Татарстан</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Министерство информатизации и связи Республики Татарстан</a>
                </li>
            </ul>
        </div>
    </footer>
</div>
<div class="nav-mask"></div>
<script src="../vendors/jquery-2.2.4.min.js"></script>
<script src="../vendors/swiper/js/swiper.min.js"></script>
<script src="../js/main.js"></script>
<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=<ваш API-ключ>&lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);

    function init() {
        var myMap = new ymaps.Map("map-ymaps", {
            center: [55.76, 37.64],
            zoom: 7
        });
    }
</script>
</body>
</html>