<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#4270ba">

    <title>KITAP TATAR</title>
    <meta name="description" content="краткое описание страницы">
    <link rel="stylesheet" href="../styles/index.css?2341">
</head>
<body>
<div class="content-wrap">
    <div class="container">
        <header class="header">
            <button class="header__nav-btn">
                <i class="icon-menu"></i>
            </button>
            <a class="logo header__logo" href="#">
                <div class="logo__img-wrap">
                    <img class="logo__img" src="../images/logo/logo.png"
                         alt="Национальная электронная библиотека Республики Татарстан">
                </div>
                <div class="logo__text">
                    <span>Национальная электронная библиотека</span>
                    <span>Республики Татарстан</span>
                </div>
                <div class="logo__text-sm">
                    НЭБ РТ
                </div>
            </a>
            <ul class="nav nav_tool header__tool">
                <li class="nav__item nav__item_active">
                    <a class="nav__link" href="#">Рус</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Тат</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Eng</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#"><i class="icon-eye" title="Версия для слабовидящих"></i></a>
                </li>
            </ul>
            <ul class="nav header__user">
                <li class="nav__item">
                    <a class="nav__link" href="#">Вход&nbsp;&nbsp;<i class="icon-man-user"></i></a>
                </li>
            </ul>
        </header>

        <nav class="nav-wrap">
            <ul class="nav nav_tool">
                <li class="nav__item nav__item_active">
                    <a class="nav__link" href="#">Рус</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Тат</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Eng</a>
                </li>
            </ul>
            <ul class="nav nav_user">
                <li class="nav__item">
                    <a class="nav__link" href="#">Регистрация</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Вход&nbsp;&nbsp;<i class="icon-man-user"></i></a>
                </li>
            </ul>
            <ul class="nav nav_main">
                <li class="nav__item">
                    <a class="nav__link" href="#">Проект турында</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Китапханәләр</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Каталог</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Коллекцияләр</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Фикерләр</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Яңалыклар</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Китапханәчедән сора</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Профессионалларга</a>
                </li>
            </ul>
        </nav>
    </div>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <section class="search">
                        <h1 class="search__title">В электронном каталоге вы сможете найти и забронировать книги в
                            библиотеках Республики Татарстан</h1>
                        <form action="" role="search">
                            <div class="search-input search-input_mw">
                                <select name="attr" class="search-input__select">
                                    <option value="all_t">
                                        Везде
                                    </option>
                                    <option value="author_t">
                                        Автор
                                    </option>
                                </select>
                                <input class="search-input__input" type="text"
                                       placeholder="Поиск по электронному каталогу">
                                <button class="search-input__btn">
                                    <i class="icon-search" title="Поиск"></i>
                                </button>
                            </div>
                        </form>
                        <a class="search-sub-link" href="#">Поиск по школьным библиотекам<i
                                class="icon-right-arrow"></i></a>
                    </section>
                </div>
                <div class="col-lg-4 col-md-12 col_as-fe">
                    <section class="card card_md-mt">
                        <div class="card__header">
                            <h2 class="card__title">Спроси библиотекаря</h2>
                        </div>
                        <div class="card__body">
                            <p class="card__ask-lib-text">Ищете информацию? Подбираете литературу? Есть вопросы о работе
                                библиотеки? Виртуальная справочная служба поможет!</p>
                        </div>
                        <div class="card__footer">
                            <ul class="card-nav">
                                <li class="card-nav__item">
                                    <a class="card-nav__link" href="#">Задать вопрос</a>
                                </li>
                                <li class="card-nav__item">
                                    <a class="card-nav__link" href="#">Все вопросы</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <section class="card news-main">
                <h2 class="news-main__title">Объявляется приём изданий на национальный конкурс «Книга года» - 2018</h2>
                <p class="news-main__description">На конкурс принимаются книги, вышедшие в свет в период с 1 августа
                    2017 года по 1 июля 2018 года.</p>
                <a class="news-main__link" href="#">Подробнее о конкурсе</a>
            </section>
            <section class="card-transparent new-arrival-card">
                <header class="card-transparent__header">
                    <h2 class="card-transparent__title">Новые оцифрованные издания</h2>
                    <a class="card-transparent__link" href="#">Все оцифрованные издания</a>
                </header>
                <div class="new-arrival">
                    <div class="swiper-container swiper-container-news-arrival">
                        <div class="swiper-wrapper">
                            <article class="swiper-slide">
                                <div class="new-arrival">
                                    <div class="new-arrival__img-wrap">
                                        <a class="new-arrival__img-link" href="#">
                                            <img class="new-arrival__img"
                                                 src="http://kitap.tatar.ru/obl/nlrt/nbrt_tatarica_Inv_13608.jpg"
                                                 alt="А. С. Пушкин в Казани ">
                                        </a>
                                    </div>
                                    <div class="new-arrival__detail">
                                        <a class="new-arrival__detail-link" href="#">
                                            <h3 class="new-arrival__detail-title">А. С. Пушкин в Казани : 5 - 8 сентября
                                                1833 года</h3>
                                            <p class="new-arrival__detail-description">Архангельский, А. С. А. С. Пушкин
                                                в
                                                Казани : 5 - 8 сентября 1833 года : несколько
                                                заметок о пребывании А. С. Пушкина в Казани с присоединением относящихся
                                                к
                                                этому
                                                лит. материалов.- Казань : Типо-литогр. Имп. ун-та, 1899 .</p>
                                        </a>
                                    </div>
                                </div>
                            </article>
                            <article class="swiper-slide">
                                <div class="new-arrival">
                                    <div class="new-arrival__img-wrap">
                                        <a class="new-arrival__img-link" href="#">
                                            <img class="new-arrival__img"
                                                 src="http://kitap.tatar.ru/obl/nlrt/nbrt_tatarica_Inv_F_1577094.jpg"
                                                 alt="А. С. Пушкин в Казани ">
                                        </a>
                                    </div>
                                    <div class="new-arrival__detail">
                                        <a class="new-arrival__detail-link" href="#">
                                            <h3 class="new-arrival__detail-title">Казань</h3>
                                            <p class="new-arrival__detail-description">Казань: фотоальбом .- Казань :
                                                Таткнигоиздат, 1960 .</p>
                                        </a>
                                    </div>
                                </div>
                            </article>
                            <article class="swiper-slide">
                                <div class="new-arrival">
                                    <div class="new-arrival__img-wrap">
                                        <a class="new-arrival__img-link" href="#">
                                            <img class="new-arrival__img"
                                                 src="http://kitap.tatar.ru/obl/nlrt/nbrt_tatarica_Inv_13608.jpg"
                                                 alt="А. С. Пушкин в Казани ">
                                        </a>
                                    </div>
                                    <div class="new-arrival__detail">
                                        <a class="new-arrival__detail-link" href="#">
                                            <h3 class="new-arrival__detail-title">Tatarstan ASSR Eşce-Krestiәn
                                                xөkymәteneñ qәrarlar hәm bojьrьqlar çiьntьgь</h3>
                                            <p class="new-arrival__detail-description">Tatarstan ASSR Esce-Krestiәn
                                                xөkymәtenen qәrarlar hәm bojьrьqlar ciьntьgь : 1939 jьl, 20 ginvar.-
                                                Qazan, 1939.</p>
                                        </a>
                                    </div>
                                </div>
                            </article>
                            <article class="swiper-slide">
                                <div class="new-arrival">
                                    <div class="new-arrival__img-wrap">
                                        <a class="new-arrival__img-link" href="#">
                                            <img class="new-arrival__img"
                                                 src="http://kitap.tatar.ru/obl/nlrt/nbrt_tatarica_Inv_M_3759.jpg"
                                                 alt="А. С. Пушкин в Казани ">
                                        </a>
                                    </div>
                                    <div class="new-arrival__detail">
                                        <a class="new-arrival__detail-link" href="#">
                                            <h3 class="new-arrival__detail-title">А. С. Пушкин в Казани : 5 - 8 сентября
                                                1833 года</h3>
                                            <p class="new-arrival__detail-description">Архангельский, А. С. А. С. Пушкин
                                                в
                                                Казани : 5 - 8 сентября 1833 года : несколько
                                                заметок о пребывании А. С. Пушкина в Казани с присоединением относящихся
                                                к
                                                этому
                                                лит. материалов.- Казань : Типо-литогр. Имп. ун-та, 1899 .</p>
                                        </a>
                                    </div>
                                </div>
                            </article>

                        </div>
                        <div class="swiper-pagination swiper-pagination-news-arrival"></div>
                    </div>
                    <div class="swiper-button-next swiper-button-next-news-arrival"></div>
                    <div class="swiper-button-prev swiper-button-prev-news-arrival"></div>
                </div>
            </section>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <section class="card-transparent">
                        <header class="card-transparent__header">
                            <h2 class="card-transparent__title">Новости</h2>
                            <a class="card-transparent__link" href="#">Все новости</a>
                        </header>
                        <div class="news-list">
                            <article class="news-list__item">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">#ЩедрыйВторник</a></h3>
                            </article>
                            <article class="news-list__item">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">Всероссийская акция
                                    «Ночь искусств»</a></h3>
                            </article>
                            <article class="news-list__item">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">Межрегиональный
                                    телемост «Формирование фонда национальной литературы в
                                    библиотеках России»</a></h3>
                            </article>
                            <article class="news-list__item">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">Определен самый
                                    читающий регион России в 2018 году</a></h3>
                            </article>
                            <article class="news-list__item">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">Шорт-лист конкурса
                                    «Библиотечная аналитика - 2018»</a></h3>
                            </article>
                            <article class="news-list__item">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">Межрегиональный
                                    телемост «Формирование фонда национальной литературы в
                                    библиотеках России»</a></h3>
                            </article>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6 col-md-12">
                    <section class="card-transparent">
                        <header class="card-transparent__header">
                            <h2 class="card-transparent__title">Афиша</h2>
                            <a class="card-transparent__link" href="#">Все мероприятия</a>
                        </header>
                        <div class="event-list">
                            <div class="swiper-container swiper-container-event">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <article class="event-list__item">
                                            <div class="event-list__date-wrap">
                                                <time class="event-list__date">
                                                    <span>31</span>
                                                    <span>декабря</span>
                                                    <span>в 17:00</span></time>
                                            </div>
                                            <div class="event-list__detail">
                                                <h3 class="event-list__detail-title">
                                                    <a class="event-list__detail-link" href="#">" Ак карларын белэн ,ак
                                                        бэхетлэр тояп,хуш килэсен ,эйдэ Яна Ел!"</a>
                                                </h3>
                                                <p class="event-list__detail-description">новогодний бал маскарад.</p>
                                                <p class="event-list__detail-description">Место
                                                    проведения:Староабдуловская
                                                    сельская библиотека филиал № 30</p>
                                            </div>
                                        </article>
                                        <article class="event-list__item">
                                            <div class="event-list__date-wrap">
                                                <time class="event-list__date">
                                                    <span>26</span>
                                                    <span>октября</span>
                                                    <span>в 17:00</span></time>
                                            </div>
                                            <div class="event-list__detail">
                                                <h3 class="event-list__detail-title">
                                                    <a class="event-list__detail-link" href="#">«Первая мировая война :
                                                        Люди. События. Факты»</a>
                                                </h3>
                                                <p class="event-list__detail-description">книжная выставка</p>
                                                <p class="event-list__detail-description">Место проведения: Тукаевский
                                                    районm,
                                                    Круглопольская сельская библиотека филиал № 35</p>
                                            </div>
                                        </article>
                                        <article class="event-list__item">
                                            <div class="event-list__date-wrap">
                                                <time class="event-list__date">
                                                    <span>26</span>
                                                    <span>октября</span>
                                                    <span>в 17:00</span></time>
                                            </div>
                                            <div class="event-list__detail">
                                                <h3 class="event-list__detail-title">
                                                    <a class="event-list__detail-link" href="#">«Первая мировая война :
                                                        Люди. События. Факты»</a>
                                                </h3>
                                                <p class="event-list__detail-description">книжная выставка</p>
                                                <p class="event-list__detail-description">Место проведения: Тукаевский
                                                    районm,
                                                    Круглопольская сельская библиотека филиал № 35</p>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="event-list__item">
                                            <div class="event-list__date-wrap">
                                                <time class="event-list__date">
                                                    <span>31</span>
                                                    <span>декабря</span>
                                                    <span>в 17:00</span></time>
                                            </div>
                                            <div class="event-list__detail">
                                                <h3 class="event-list__detail-title">
                                                    <a class="event-list__detail-link" href="#">" Ак карларын белэн ,ак
                                                        бэхетлэр тояп,хуш килэсен ,эйдэ Яна Ел!"</a>
                                                </h3>
                                                <p class="event-list__detail-description">новогодний бал маскарад.</p>
                                                <p class="event-list__detail-description">Место проведения: Библиотека:
                                                    Староабдуловская сельская библиотека филиал № 30</p>
                                            </div>
                                        </article>
                                        <article class="event-list__item">
                                            <div class="event-list__date-wrap">
                                                <time class="event-list__date">
                                                    <span>26</span>
                                                    <span>октября</span>
                                                    <span>в 17:00</span></time>
                                            </div>
                                            <div class="event-list__detail">
                                                <h3 class="event-list__detail-title">
                                                    <a class="event-list__detail-link" href="#">«Первая мировая война :
                                                        Люди. События. Факты»</a>
                                                </h3>
                                                <p class="event-list__detail-description">книжная выставка</p>
                                                <p class="event-list__detail-description">Место проведения: Тукаевский
                                                    районm,
                                                    Круглопольская сельская библиотека филиал № 35</p>
                                            </div>
                                        </article>
                                        <article class="event-list__item">
                                            <div class="event-list__date-wrap">
                                                <time class="event-list__date">
                                                    <span>26</span>
                                                    <span>октября</span>
                                                    <span>в 17:00</span></time>
                                            </div>
                                            <div class="event-list__detail">
                                                <h3 class="event-list__detail-title">
                                                    <a class="event-list__detail-link" href="#">«Первая мировая война :
                                                        Люди. События. Факты»</a>
                                                </h3>
                                                <p class="event-list__detail-description">книжная выставка</p>
                                                <p class="event-list__detail-description">Место проведения: Тукаевский
                                                    районm,
                                                    Круглопольская сельская библиотека филиал № 35</p>
                                            </div>
                                        </article>
                                    </div>

                                    <div class="swiper-slide">
                                        <article class="event-list__item">
                                            <div class="event-list__date-wrap">
                                                <time class="event-list__date">
                                                    <span>26</span>
                                                    <span>октября</span>
                                                    <span>в 17:00</span></time>
                                            </div>
                                            <div class="event-list__detail">
                                                <h3 class="event-list__detail-title">
                                                    <a class="event-list__detail-link" href="#">«Первая мировая война :
                                                        Люди. События. Факты»</a>
                                                </h3>
                                                <p class="event-list__detail-description">книжная выставка</p>
                                                <p class="event-list__detail-description">Место проведения: Тукаевский
                                                    районm,
                                                    Круглопольская сельская библиотека филиал № 35</p>
                                            </div>
                                        </article>
                                        <article class="event-list__item">
                                            <div class="event-list__date-wrap">
                                                <time class="event-list__date">
                                                    <span>26</span>
                                                    <span>октября</span>
                                                    <span>в 17:00</span></time>
                                            </div>
                                            <div class="event-list__detail">
                                                <h3 class="event-list__detail-title">
                                                    <a class="event-list__detail-link" href="#">«Первая мировая война :
                                                        Люди. События. Факты»</a>
                                                </h3>
                                                <p class="event-list__detail-description">книжная выставка</p>
                                                <p class="event-list__detail-description">Место проведения: Тукаевский
                                                    районm,
                                                    Круглопольская сельская библиотека филиал № 35</p>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="event-list__item">
                                            <div class="event-list__date-wrap">
                                                <time class="event-list__date">
                                                    <span>26</span>
                                                    <span>октября</span>
                                                    <span>в 17:00</span></time>
                                            </div>
                                            <div class="event-list__detail">
                                                <h3 class="event-list__detail-title">
                                                    <a class="event-list__detail-link" href="#">«Первая мировая война :
                                                        Люди. События. Факты» «Первая мировая война :
                                                        Люди. События. Факты»</a>
                                                </h3>
                                                <p class="event-list__detail-description">книжная выставка</p>
                                                <p class="event-list__detail-description">Место проведения: Тукаевский
                                                    районm,
                                                    Круглопольская сельская библиотека филиал № 35</p>
                                            </div>
                                        </article>
                                        <article class="event-list__item">
                                            <div class="event-list__date-wrap">
                                                <time class="event-list__date">
                                                    <span>26</span>
                                                    <span>октября</span>
                                                    <span>в 17:00</span></time>
                                            </div>
                                            <div class="event-list__detail">
                                                <h3 class="event-list__detail-title">
                                                    <a class="event-list__detail-link" href="#">«Первая мировая война :
                                                        Люди. События. Факты»</a>
                                                </h3>
                                                <p class="event-list__detail-description">книжная выставка</p>
                                                <p class="event-list__detail-description">Место проведения: Тукаевский
                                                    районm,
                                                    Круглопольская сельская библиотека филиал № 35</p>
                                            </div>
                                        </article>
                                        <article class="event-list__item">
                                            <div class="event-list__date-wrap">
                                                <time class="event-list__date">
                                                    <span>26</span>
                                                    <span>октября</span>
                                                    <span>в 17:00</span></time>
                                            </div>
                                            <div class="event-list__detail">
                                                <h3 class="event-list__detail-title">
                                                    <a class="event-list__detail-link" href="#">«Первая мировая война :
                                                        Люди. События. Факты»</a>
                                                </h3>
                                                <p class="event-list__detail-description">книжная выставка</p>
                                                <p class="event-list__detail-description">Место проведения: Тукаевский
                                                    районm,
                                                    Круглопольская сельская библиотека филиал № 35</p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-pagination swiper-pagination-event"></div>
                            </div>
                            <div class="swiper-button-next swiper-button-next-event"></div>
                            <div class="swiper-button-prev swiper-button-prev-event"></div>
                        </div>
                    </section>
                </div>
            </div>
            <section class="card-transparent">
                <header class="card-transparent__header">
                    <h2 class="card-transparent__title">Карта библиотек</h2>
                    <a class="card-transparent__link" href="#">Все библиотеки</a>
                </header>
                <div class="map">
                    <div class="map__col-l">
                        <div class="map-nav">
                            <h3 class="map-nav__title">Алфавитный указатель муниципальных районов</h3>
                            <p class="map-nav__help-text">Выберите букву района или нажмите на гео точку для поиска
                                ближайших библиотек</p>
                            <div class="map-nav-search">
                                <div class="map-nav-search__geo-col">
                                    <button class="map-nav__geo-btn">
                                        <i class="icon-locating" title="Передать мое местоположение"></i>
                                    </button>
                                </div>
                                <div class="map-nav-search__search-col">
                                    <form action="" role="search">
                                        <div class="map-nav-search-input">
                                            <input class="map-nav-search-input__input" type="text"
                                                   placeholder="Введите адрес для поиска">
                                            <button class="map-nav-search-input__btn">
                                                <i class="icon-search" title="Поиск"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <ul class="map-nav-abc">
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                                <li class="map-nav-abc__item">
                                    <button class="map-nav-abc__link">
                                        <span>A</span>
                                    </button>
                                </li>
                            </ul>
                            <div class="map-nav-result-box">
                                <div class="lds-roller-wrap-center">
                                    <div class="lds-roller">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                                <ul class="map-nav-result">
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Андреевская сельская библиотека
                                            фил.2</a>
                                    </li>
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Карамышевская сельская библиотека фил.
                                            8</a>
                                    </li>
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Андреевская сельская библиотека
                                            фил.2</a>
                                    </li>
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Больше-Ширданская сельская
                                            библиотека-филиал № 20</a>
                                    </li>
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Мордовско- Афонькинская сельская
                                            библиотека фил. 12</a>
                                    </li>
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Андреевская сельская библиотека
                                            фил.2</a>
                                    </li>
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Андреевская сельская библиотека
                                            фил.2</a>
                                    </li>
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Больше-Ширданская сельская
                                            библиотека-филиал № 20</a>
                                    </li>
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Андреевская сельская библиотека
                                            фил.2</a>
                                    </li>
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Андреевская сельская библиотека
                                            фил.2</a>
                                    </li>
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Андреевская сельская библиотека
                                            фил.2</a>
                                    </li>
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Больше-Ширданская сельская
                                            библиотека-филиал № 20</a>
                                    </li>
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Андреевская сельская библиотека
                                            фил.2</a>
                                    </li>
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Андреевская сельская библиотека
                                            фил.2</a>
                                    </li>
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Андреевская сельская библиотека
                                            фил.2</a>
                                    </li>
                                    <li class="map-nav-result__item">
                                        <a class="map-nav-result__link" href="#">Больше-Ширданская сельская
                                            библиотека-филиал № 20</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="map__col-r">
                        <div id="map-ymaps"></div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer" role="contentinfo">
        <div class="container">
            <ul class="footer-nav">
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">О проекте</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Библиотеки</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Каталог</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Коллекции</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Отзывы</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Новости</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Спроси библиотекаря</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Профессионалам</a>
                </li>
            </ul>
            <ul class="footer-nav">
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Национальная электронная библиотека Республики Татарстан</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Министерство информатизации и связи Республики Татарстан</a>
                </li>
            </ul>
        </div>
    </footer>
    <div class="bg"></div>
</div>
<div class="nav-mask"></div>

<script src="../vendors/jquery-2.2.4.min.js"></script>
<script src="../vendors/swiper/js/swiper.min.js"></script>
<script src="../js/main.js"></script>

<!--<script src="https://api-maps.yandex.ru/2.1/?apikey=<ваш API-ключ>&lang=ru_RU" type="text/javascript"></script>-->
<!--<script type="text/javascript">-->
<!--// Функция ymaps.ready() будет вызвана, когда-->
<!--// загрузятся все компоненты API, а также когда будет готово DOM-дерево.-->
<!--ymaps.ready(init);-->

<!--function init() {-->
<!--// Создание карты.-->
<!--var myMap = new ymaps.Map("map-ymaps", {-->
<!--// Координаты центра карты.-->
<!--// Порядок по умолчанию: «широта, долгота».-->
<!--// Чтобы не определять координаты центра карты вручную,-->
<!--// воспользуйтесь инструментом Определение координат.-->
<!--center: [55.76, 37.64],-->
<!--// Уровень масштабирования. Допустимые значения:-->
<!--// от 0 (весь мир) до 19.-->
<!--zoom: 7-->
<!--});-->
<!--}-->
<!--</script>-->

</body>
</html>