<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#4270ba">
    <title>KITAP TATAR</title>
    <meta name="description" content="краткое описание страницы">
    <link rel="stylesheet" href="../styles/index.css?2341">
</head>
<body>
<div class="content-wrap">
    <div class="header-wrap-bg">
        <div class="container">
            <header class="header">
                <button class="header__nav-btn">
                    <i class="icon-menu"></i>
                </button>
                <a class="logo header__logo" href="#">
                    <div class="logo__img-wrap">
                        <img class="logo__img" src="../images/logo/logo.png"
                             alt="Национальная электронная библиотека Республики Татарстан">
                    </div>
                    <div class="logo__text">
                        <span>Национальная электронная библиотека</span>
                        <span>Республики Татарстан</span>
                    </div>
                    <div class="logo__text-sm">
                        НЭБ РТ
                    </div>
                </a>
                <ul class="nav nav_tool header__tool">
                    <li class="nav__item nav__item_active">
                        <a class="nav__link" href="#">Рус</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Тат</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Eng</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#"><i class="icon-eye" title="Версия для слабовидящих"></i></a>
                    </li>
                </ul>
                <ul class="nav header__user">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Вход&nbsp;&nbsp;<i class="icon-man-user"></i></a>
                    </li>
                </ul>
            </header>
            <nav class="nav-wrap">
                <ul class="nav nav_tool">
                    <li class="nav__item nav__item_active">
                        <a class="nav__link" href="#">Рус</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Тат</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Eng</a>
                    </li>
                </ul>
                <ul class="nav nav_user">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Регистрация</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Вход&nbsp;&nbsp;<i class="icon-man-user"></i></a>
                    </li>
                </ul>
                <ul class="nav nav_main">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Проект турында</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Китапханәләр</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Каталог</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Коллекцияләр</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Фикерләр</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Яңалыклар</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Китапханәчедән сора</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Профессионалларга</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <main>
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="/ru/">Главная</a>
                    </li>
                    <li>
                        <a href="/ru/pages/prepodavateliam/">Преподавателям</a>
                    </li>
                    <li>
                        <span class="crumb__current">Издательства и поставщики</span>
                    </li>
                </ol>
            </nav>
            <div class="row lib-detail">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="lib-detail__img-wrap">
                        <span class="lib-detail__img-wrap-icon icon-double-arrow"></span>
                        <img class="lib-detail__img"
                             src="https://kitap.tatar.ru/media/participant_site/lib_avatars/28/2818034146_jQDJ2o9.jpg"
                             alt="Библиотека 123">
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-12">
                    <div class="lib-detail__info">
                        <h1 class="lib-detail__title"><a class="lib-detail__title-link" href="#" title="На главную страницу библиотеки">МБУ
                            «Черемшанская межпоселенческая центральная библиотека»
                            Черемшанского муниципального района РТ</a></h1>
                        <p class="lib-detail__title-sub">МБУ «Черемшанская межпоселенческая центральная библиотека»
                            Черемшанского муниципального района РТ</p>
                        <a class="lib-detail__link" href="#">Поиск в каталоге</a>
                    </div>
                </div>
                <ul class="lib-hot-nav">
                    <li class="lib-hot-nav__item">
                        <button id="libraryMenuBtn" class="lib-hot-nav__link">Меню</button>
                    </li>
                    <li class="lib-hot-nav__item">
                        <button id="libraryContactBtn" class="lib-hot-nav__link">Контакты</button>
                    </li>
                </ul>
                <div class="col-lg-5 col-md-12">
                    <div class="lib-contact">
                        <div class="lib-contact__col">
                            <ul class="lib-contact-nav">
                                <li class="lib-contact-nav__item">
                                    <span class="lib-contact-nav__title">Сайт:</span>
                                    <a class="lib-contact-nav__link" href="#" target="_blank" rel="nofollow, noopener">http://www.ryltat.ru</a>
                                </li>
                                <li class="lib-contact-nav__item">
                                    <span class="lib-contact-nav__title">Телефон:</span>
                                    <a class="lib-contact-nav__link" href="tel:123213">(843) 523-55-09</a>,
                                    <a class="lib-contact-nav__link" href="tel:123213">523-55-05</a>
                                </li>
                                <li class="lib-contact-nav__item">
                                    <span class="lib-contact-nav__title">E-mail:</span>
                                    <a class="lib-contact-nav__link"
                                       href="mailto:mk.libjuv@tatar.ru">mk.libjuv@tatar.ru</a>
                                </li>
                                <li class="lib-contact-nav__item">
                                    <span class="lib-contact-nav__title">Адрес:</span>
                                    <span class="lib-contact-nav__text">420044, РТ, г.Казань,
                                        пр.Ибрагимова, 53Б
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="lib-contact__col">
                            <div id="map-ymaps"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <nav class="lib-nav-wrap">
                        <ul class="lib-nav">
                            <li class="lib-nav__item">
                                <a class="lib-nav__link" href="#/ru/site/42017939-01/pages/hist/">О библиотеке</a>
                                <ul>
                                    <li>
                                        <a href="/ru/site/42017939-01/pages/hist/">История</a>
                                    </li>
                                    <li>
                                        <a href="/ru/site/42017939-01/pages/otdel/">Отделы библиотеки</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="lib-nav__item">
                                <a class="lib-nav__link" href="#">Коллегам</a>
                                <ul>
                                    <li>
                                        <a href="/ru/site/42017939-01/pages/metod/">Профессионалам</a>
                                    </li>
                                    <li>
                                        <a href="/ru/site/42017939-01/pages/konkurs/">Конкурсы</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="lib-nav__item">
                                <a class="lib-nav__link" href="#">Читателям</a>
                                <ul>
                                    <li>
                                        <a href="/ru/site/42017939-01/pages/konkurs/">Конкурсы</a>
                                    </li>
                                    <li>
                                        <a href="http://www.ryltat.ru/v_mire_prek.htm" target="_blank">В мире
                                            прекрасного</a>
                                    </li>
                                    <li>
                                        <a href="http://www.ryltat.ru/forma.htm" target="_blank">Продлить книгу</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="lib-nav__item">
                                <a class="lib-nav__link" href="uslugi">Наши услуги</a>
                                <ul>
                                    <li>
                                        <a href="/ru/site/42017939-01/pages/uslugi/">Услуги</a>
                                    </li>
                                    <li>
                                        <a href=" /ru/site/42017939-01/pages/period/">Периодика</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="lib-nav__item">
                                <a class="lib-nav__link" href="http://www.ryltat.ru/pismo.htm" target="_blank">Напишите
                                    нам</a>
                            </li>
                            <li class="lib-nav__item">
                                <a class="lib-nav__link" href="http://94.180.248.76/" target="_blank">Электронный
                                    каталог</a>
                            </li>
                            <li class="lib-nav__item">
                                <a class="lib-nav__link" href="#">Информационные ресурсы</a>
                                <ul>
                                    <li>
                                        <a href="http://www.ryltat.ru/elektron_kn.htm">Книги on-line</a>
                                    </li>
                                    <li>
                                        <a href="http://www.ryltat.ru/krai.htm">Краеведение</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="lib-nav__item">
                                <a class="lib-nav__link" href="http://www.ryltat.ru/n_ocenka.htm" target="_blank">Независимая
                                    оценка качества
                                    услуг</a>
                            </li>
                            <li class="lib-nav__item">
                                <a class="lib-nav__link" href="http://www.ryltat.ru/vistavka1.html" target="_blank">Советуем
                                    почитать</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="card-transparent">
                        <div class="card-transparent__header">
                            <h2 class="card-transparent__title">Новости</h2>
                        </div>
                        <div class="news-list">
                            <article class="news-list__item news-list__item_mb-big">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">#ЩедрыйВторник</a>
                                </h3>
                                <p class="news-list__description">#ЩедрыйВторник – международное благотворительное
                                    движение,
                                    основная цель которого – дать
                                    новый импульс развитию культуры благотворительности и вовлечь как можно больше людей
                                    в
                                    добрые дела.</p>
                            </article>
                            <article class="news-list__item news-list__item_mb-big">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">Всероссийская акция
                                    «Ночь искусств»</a></h3>
                                <p class="news-list__description">Во всех регионах России в шестой раз проходит
                                    ежегодная
                                    Всероссийская культурно-образовательная акция «Ночь искусств».</p>
                            </article>
                            <article class="news-list__item news-list__item_mb-big">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">Межрегиональный
                                    телемост «Формирование фонда национальной литературы в
                                    библиотеках России»</a></h3>
                                <p class="news-list__description">24 октября 2018 года состоялся межрегиональный
                                    телемост
                                    «Формирование фонда национальной литературы в библиотеках России:
                                    организационно-правовой аспект».</p>
                            </article>
                            <article class="news-list__item news-list__item_mb-big">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">Определен самый
                                    читающий регион России в 2018 году</a></h3>
                                <p class="news-list__description">23 октября 2018 года жюри Всероссийского конкурса
                                    «Самый
                                    читающий регион» подвело итоги конкурсного года.</p>
                            </article>
                            <article class="news-list__item news-list__item_mb-big">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">#ЩедрыйВторник</a>
                                </h3>
                                <p class="news-list__description">#ЩедрыйВторник – международное благотворительное
                                    движение,
                                    основная цель которого – дать
                                    новый импульс развитию культуры благотворительности и вовлечь как можно больше людей
                                    в
                                    добрые дела.</p>
                            </article>
                            <article class="news-list__item news-list__item_mb-big">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">Всероссийская акция
                                    «Ночь искусств»</a></h3>
                                <p class="news-list__description">Во всех регионах России в шестой раз проходит
                                    ежегодная
                                    Всероссийская культурно-образовательная акция «Ночь искусств».</p>
                            </article>
                            <article class="news-list__item news-list__item_mb-big">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">Межрегиональный
                                    телемост «Формирование фонда национальной литературы в
                                    библиотеках России»</a></h3>
                                <p class="news-list__description">24 октября 2018 года состоялся межрегиональный
                                    телемост
                                    «Формирование фонда национальной литературы в библиотеках России:
                                    организационно-правовой аспект».</p>
                            </article>
                            <article class="news-list__item news-list__item_mb-big">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">Определен самый
                                    читающий регион России в 2018 году</a></h3>
                                <p class="news-list__description">23 октября 2018 года жюри Всероссийского конкурса
                                    «Самый
                                    читающий регион» подвело итоги конкурсного года.</p>
                            </article>
                            <article class="news-list__item news-list__item_mb-big">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">#ЩедрыйВторник</a>
                                </h3>
                                <p class="news-list__description">#ЩедрыйВторник – международное благотворительное
                                    движение,
                                    основная цель которого – дать
                                    новый импульс развитию культуры благотворительности и вовлечь как можно больше людей
                                    в
                                    добрые дела.</p>
                            </article>
                            <article class="news-list__item news-list__item_mb-big">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">Всероссийская акция
                                    «Ночь искусств»</a></h3>
                                <p class="news-list__description">Во всех регионах России в шестой раз проходит
                                    ежегодная
                                    Всероссийская культурно-образовательная акция «Ночь искусств».</p>
                            </article>
                            <article class="news-list__item news-list__item_mb-big">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">Межрегиональный
                                    телемост «Формирование фонда национальной литературы в
                                    библиотеках России»</a></h3>
                                <p class="news-list__description">24 октября 2018 года состоялся межрегиональный
                                    телемост
                                    «Формирование фонда национальной литературы в библиотеках России:
                                    организационно-правовой аспект».</p>
                            </article>
                            <article class="news-list__item news-list__item_mb-big">
                                <time class="news-list__date">26 октября 2018 г.</time>
                                <h3 class="news-list__title"><a class="news-list__link" href="#">Определен самый
                                    читающий регион России в 2018 году</a></h3>
                                <p class="news-list__description">23 октября 2018 года жюри Всероссийского конкурса
                                    «Самый
                                    читающий регион» подвело итоги конкурсного года.</p>
                            </article>
                        </div>
                        <ul class="pagination">
                            <li class="disabled"><a href="#">←</a></li>
                            <li class="active">
                                <a href="?q=%D0%A3%D1%80%D0%B0%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F+%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F+%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%B0&amp;attr=collection2_s&amp;page=1">1</a>
                            </li>
                            <li>
                                <a href="?q=%D0%A3%D1%80%D0%B0%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F+%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F+%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%B0&amp;attr=collection2_s&amp;page=2">2</a>
                            </li>
                            <li>
                                <a href="?q=%D0%A3%D1%80%D0%B0%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F+%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F+%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%B0&amp;attr=collection2_s&amp;page=3">3</a>
                            </li>
                            <li>
                                <a href="?q=%D0%A3%D1%80%D0%B0%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F+%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F+%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%B0&amp;attr=collection2_s&amp;page=4">4</a>
                            </li>
                            <li>
                                <a href="?q=%D0%A3%D1%80%D0%B0%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F+%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F+%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%B0&amp;attr=collection2_s&amp;page=5">5</a>
                            </li>
                            <li>
                                <a href="?q=%D0%A3%D1%80%D0%B0%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F+%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F+%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%B0&amp;attr=collection2_s&amp;page=6">6</a>
                            </li>
                            <li class="disabled"><a href="#">…</a></li>
                            <li>
                                <a href="?q=%D0%A3%D1%80%D0%B0%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F+%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F+%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%B0&amp;attr=collection2_s&amp;page=167">167</a>
                            </li>
                            <li>
                                <a href="?q=%D0%A3%D1%80%D0%B0%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F+%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F+%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%B0&amp;attr=collection2_s&amp;page=168">168</a>
                            </li>
                            <li>
                                <a href="?q=%D0%A3%D1%80%D0%B0%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F+%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F+%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%B0&amp;attr=collection2_s&amp;page=2">→</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer" role="contentinfo">
        <div class="container">
            <ul class="footer-nav">
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">О проекте</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Библиотеки</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Каталог</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Коллекции</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Отзывы</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Новости</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Спроси библиотекаря</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Профессионалам</a>
                </li>
            </ul>
            <ul class="footer-nav">
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Национальная электронная библиотека Республики Татарстан</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Министерство информатизации и связи Республики Татарстан</a>
                </li>
            </ul>
        </div>
    </footer>
</div>
<div class="nav-mask"></div>
<script src="../vendors/jquery-2.2.4.min.js"></script>
<script src="../vendors/swiper/js/swiper.min.js"></script>
<script src="../js/main.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=<ваш API-ключ>&lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);

    function init() {
        var myMap = new ymaps.Map("map-ymaps", {
            center: [55.76, 37.64],
            zoom: 7
        });
    }
</script>
</body>
</html>