<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#4270ba">

    <title>KITAP TATAR</title>
    <meta name="description" content="краткое описание страницы">
    <link rel="stylesheet" href="../styles/index.css?2341">
</head>
<body>
<div class="content-wrap">
    <div class="header-wrap-bg">
        <div class="container">
            <header class="header">
                <button class="header__nav-btn">
                    <i class="icon-menu"></i>
                </button>
                <a class="logo header__logo" href="#">
                    <div class="logo__img-wrap">
                        <img class="logo__img" src="../images/logo/logo.png"
                             alt="Национальная электронная библиотека Республики Татарстан">
                    </div>
                    <div class="logo__text">
                        <span>Национальная электронная библиотека</span>
                        <span>Республики Татарстан</span>
                    </div>
                    <div class="logo__text-sm">
                        НЭБ РТ
                    </div>
                </a>
                <ul class="nav nav_tool header__tool">
                    <li class="nav__item nav__item_active">
                        <a class="nav__link" href="#">Рус</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Тат</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Eng</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#"><i class="icon-eye" title="Версия для слабовидящих"></i></a>
                    </li>
                </ul>
                <ul class="nav header__user">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Вход&nbsp;&nbsp;<i class="icon-man-user"></i></a>
                    </li>
                </ul>
            </header>
            <nav class="nav-wrap">
                <ul class="nav nav_tool">
                    <li class="nav__item nav__item_active">
                        <a class="nav__link" href="#">Рус</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Тат</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Eng</a>
                    </li>
                </ul>
                <ul class="nav nav_user">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Регистрация</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Вход&nbsp;&nbsp;<i class="icon-man-user"></i></a>
                    </li>
                </ul>
                <ul class="nav nav_main">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Проект турында</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Китапханәләр</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Каталог</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Коллекцияләр</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Фикерләр</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Яңалыклар</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Китапханәчедән сора</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Профессионалларга</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <main>
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="/ru/">Главная</a>
                    </li>
                    <li>
                        <span class="crumb__current">Национальная электронная библиотека Республики Татарстан. Сводный электронный библиотечный каталог</span>
                    </li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-lg-7">
                    <div class="content">
                        <h1 class="content__title">Национальная электронная библиотека Республики Татарстан. Сводный
                            электронный библиотечный каталог</h1>
                        <p style="text-align: justify;">С 2010 г. реализуется проект информационной системы
                            «Национальная электронная библиотека Республики Татарстан». Его целью является создание
                            информационной системы для обеспечения доступа граждан и сотрудников библиотек Татарстана,
                            России и зарубежных стран к сводному электронному каталогу библиотек Республики Татарстан.
                            Единой точкой доступа к ресурсам&nbsp; библиотек республики является портал Национальной
                            электронной библиотеки Республики Татарстан, предоставляющий любому пользователю в
                            кратчайшие сроки всю необходимую информацию из фондов библиотек.</p>
                        <p style="text-align: justify;">Основные сервисы портала:</p>
                        <ul style="text-align: justify;">
                            <li>поиск документов в сводном <a title="Электронный каталог"
                                                              href="/ru/ssearch/ecatalog/"><span
                                    style="text-decoration: underline;">Электронном&nbsp;каталоге</span></a><em> </em>муниципальных
                                библиотек Республики Татарстан;
                            </li>
                            <li>заказ документа в выбранной библиотеке;</li>
                            <li>доступ к полнотекстовым <a title="Электронные коллекции"
                                                           href="/ru/ssearch/ecollection/"><span
                                    style="text-decoration: underline;">Электронны</span><span
                                    style="text-decoration: underline;">м</span><span
                                    style="text-decoration: underline;">&nbsp;</span><span
                                    style="text-decoration: underline;">&nbsp;коллекци</span><span
                                    style="text-decoration: underline;">ям</span></a>;
                            </li>
                            <li>справочная служба <a title="Спроси библиотекаря" href="/ru/pages/inf_for_ask/"><span
                                    style="text-decoration: underline;">Спроси библиотекаря</span></a>;
                            </li>
                            <li>услуги межбиблиотечного абонемента;</li>
                            <li>информация о каждой <span style="text-decoration: underline;"><a
                                    href="/ru/participants/">библиотеке-участнице</a></span> сводного электронного
                                каталога Республики Татарстан;
                            </li>
                            <li>информация для библиотечных специалистов, вовлеченных в процессы освоения
                                автоматизированной библиотечно-информационной системы «РУСЛАН».
                            </li>
                        </ul>
                        <p style="text-align: justify;">Расширение территориального охвата информационной системы
                            «Национальная электронная библиотека РТ» внутри Республики Татарстан осуществлялось
                            поэтапно. С каждым годом увеличивалось количество библиотек, участвующих в проекте: в 2010
                            году его участницами стали Национальная библиотека Республики Татарстан, Республиканская
                            юношеская библиотека, центральная и Айшинская сельская библиотека централизованной
                            библиотечной системы Зеленодольского района Татарстана. В 2012 г. в число участников вошли
                            Республиканская детская библиотека, Республиканская специальная библиотека для слепых и еще
                            10 централизованных библиотечных систем.&nbsp;В 2013 году было подключено 17
                            централизованных библиотечных систем, в 2014 году – 9, в 2015 году – оставшиеся 8 ЦБС. В
                            настоящий момент все библиотеки системы Министерства культуры РТ стали участницами сводного
                            электронного библиотечного каталога Республики Татарстан.</p>
                        <p style="text-align: justify;"><a
                                href="http://pravo.tatarstan.ru/rus/npa_kabmin/post/?npa_id=2930">Постановлением
                            Кабинета Министров Республики Татарстан №187 от 26.03.2015 г.</a> &nbsp;информационной
                            системе «Национальная электронная библиотека Республики Татарстан» придан статус
                            государственной.</p>
                        <p style="text-align: justify;">Работа над развитием государственной информационной системы
                            «Национальная электронная библиотека РТ» продолжается. Результатом проекта станет увеличение
                            объема сводного электронного библиотечного каталога, повышение качества библиографических
                            записей. Все это позволит совершенствовать информационно-библиотечные услуги для населения,
                            предоставляемые через портал.</p>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer" role="contentinfo">
        <div class="container">
            <ul class="footer-nav">
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">О проекте</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Библиотеки</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Каталог</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Коллекции</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Отзывы</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Новости</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Спроси библиотекаря</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Профессионалам</a>
                </li>
            </ul>
            <ul class="footer-nav">
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Национальная электронная библиотека Республики Татарстан</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Министерство информатизации и связи Республики Татарстан</a>
                </li>
            </ul>
        </div>
    </footer>
</div>
<div class="nav-mask"></div>

<script src="../vendors/jquery-2.2.4.min.js"></script>
<script src="../vendors/swiper/js/swiper.min.js"></script>
<script src="../js/main.js"></script>

<script src="https://api-maps.yandex.ru/2.1/?apikey=<ваш API-ключ>&lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);

    function init() {
        var myMap = new ymaps.Map("map-ymaps", {
            center: [55.76, 37.64],
            zoom: 7
        });
    }
</script>

</body>
</html>