<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#4270ba">
    <title>KITAP TATAR</title>
    <meta name="description" content="краткое описание страницы">
    <link rel="stylesheet" href="../styles/index.css?2341">
</head>
<body>
<div class="content-wrap">
    <div class="header-wrap-bg">
        <div class="container">
            <header class="header">
                <button class="header__nav-btn">
                    <i class="icon-menu"></i>
                </button>
                <a class="logo header__logo" href="#">
                    <div class="logo__img-wrap">
                        <img class="logo__img" src="../images/logo/logo.png"
                             alt="Национальная электронная библиотека Республики Татарстан">
                    </div>
                    <div class="logo__text">
                        <span>Национальная электронная библиотека</span>
                        <span>Республики Татарстан</span>
                    </div>
                    <div class="logo__text-sm">
                        НЭБ РТ
                    </div>
                </a>
                <ul class="nav nav_tool header__tool">
                    <li class="nav__item nav__item_active">
                        <a class="nav__link" href="#">Рус</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Тат</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Eng</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#"><i class="icon-eye" title="Версия для слабовидящих"></i></a>
                    </li>
                </ul>
                <ul class="nav header__user">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Вход&nbsp;&nbsp;<i class="icon-man-user"></i></a>
                    </li>
                </ul>
            </header>
            <nav class="nav-wrap">
                <ul class="nav nav_tool">
                    <li class="nav__item nav__item_active">
                        <a class="nav__link" href="#">Рус</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Тат</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Eng</a>
                    </li>
                </ul>
                <ul class="nav nav_user">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Регистрация</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Вход&nbsp;&nbsp;<i class="icon-man-user"></i></a>
                    </li>
                </ul>
                <ul class="nav nav_main">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Проект турында</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Китапханәләр</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Каталог</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Коллекцияләр</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Фикерләр</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Яңалыклар</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Китапханәчедән сора</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Профессионалларга</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <main>
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="/ru/">Главная</a>
                    </li>
                    <li>
                        <a href="/ru/pages/prepodavateliam/">Поиск</a>
                    </li>
                    <li>
                        <span class="crumb__current">Java</span>
                    </li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <ul class="record-nav">
                        <li class="record-nav__item record-nav__item_booking">
                            <button id="recordNavBtn" class="record-nav__link"><i class="icon-menu"></i>&nbsp;&nbsp;Бронирование</button>
                        </li>
                        <li class="record-nav__item">
                            <a class="record-nav__link" href="#"><i class="icon-folder"></i>&nbsp;&nbsp;Сохранить в
                                документах</a>
                        </li>
                        <li class="record-nav__item">
                            <a class="record-nav__link" href="#" target="_blank"><i class="icon-printer"></i>&nbsp;&nbsp;Печать</a>
                        </li>
                        <li class="record-nav__item">
                            <button id="marcCardBtn" class="record-nav__link"><i class="icon-note"></i>&nbsp;&nbsp;Карточка</button>
                        </li>
                    </ul>
                    <div class="record-detail">
                        <div class="record-detail__col-text">
                            <div class="record" id="ru\nlrt\1393098">
                                <div class="header">Эккель, Брюс.</div>
                                Философия JAVA / пер.с англ.И.Портянкин .— СПб.: Питер, 2001 .— 876 с.: табл. — (Б-ка
                                программиста) .— <a href="#">Перевод изд.:Tranking in Java:Second edition/B.Eckel .—</a>
                                Прил.:с.796-863.-Алф.указ.:с.864-876 .— ISBN 5-272-00250-4 : 150-00 .— ISBN
                                0-13-027363-5.
                                <table width="100%">
                                    <tbody>
                                    <tr></tr>
                                    <tr>
                                        <td align="left" valign="top" class="recsrc"></td>
                                        <td align="right" valign="top">ББК 32.973.26-018.1<br></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="record-detail__info">Идентификатор записи: fktcuckwgx</p>
                            <p class="record-detail__info">Количество обращений: 63</p>
                            <div class="card card_bs-2 marc-card">
                                <div class="card__body">
                                    <div class="marc_dump"><span class="data">00757nam#a22002413i#450#</span><br><span
                                            class="fieldlabel">001</span><span
                                            class="data">ru\nlrt\1394908</span><br><span
                                            class="fieldlabel">005</span><span
                                            class="data">20100804131232.2</span><br><span
                                            class="fieldlabel">010</span><span class="indicator">##</span><span
                                            class="subfieldlabel">$d</span><span class="data">56-00</span><br><span
                                            class="fieldlabel">200</span><span class="indicator">1#</span><span
                                            class="subfieldlabel">$a</span><span
                                            class="data">Мемуары,1814-1815</span><span
                                            class="subfieldlabel">$f</span><span class="data">РНБ</span><br><span
                                            class="fieldlabel">210</span><span class="indicator">##</span><span
                                            class="subfieldlabel">$a</span><span class="data">СПб.</span><span
                                            class="subfieldlabel">$d</span><span class="data">2001</span><br><span
                                            class="fieldlabel">215</span><span class="indicator">##</span><span
                                            class="subfieldlabel">$a</span><span class="data">400с.</span><br><span
                                            class="fieldlabel">225</span><span class="indicator">2#</span><span
                                            class="subfieldlabel">$a</span><span
                                            class="data">Рукоп.памятники</span><span
                                            class="subfieldlabel">$v</span><span class="data">Вып.6</span><br><span
                                            class="fieldlabel">320</span><span class="indicator">##</span><span
                                            class="subfieldlabel">$a</span><span
                                            class="data">Библиогр.в примеч.</span><br><span
                                            class="fieldlabel">610</span><span class="indicator">1#</span><span
                                            class="subfieldlabel">$a</span><span class="data">1814-1815</span><span
                                            class="subfieldlabel">$a</span><span class="data">ЕВРОПА</span><span
                                            class="subfieldlabel">$a</span><span class="data">РОССИЯ</span><span
                                            class="subfieldlabel">$a</span><span
                                            class="data">МИХАЙЛОВСКИЙ-ДАНИЛЕВСКИЙ А.И.</span><br><span
                                            class="fieldlabel">610</span><span
                                            class="indicator">1#</span><span class="subfieldlabel">$a</span><span
                                            class="data">МЕМУАРЫ</span><br><span class="fieldlabel">610</span><span
                                            class="indicator">1#</span><span class="subfieldlabel">$a</span><span
                                            class="data">ИСТОРИЯ</span><br><span class="fieldlabel">610</span><span
                                            class="indicator">1#</span><span class="subfieldlabel">$a</span><span
                                            class="data">ПОЛИТИКА</span><br><span class="fieldlabel">610</span><span
                                            class="indicator">1#</span><span class="subfieldlabel">$a</span><span
                                            class="data">XIX 1-Я ПОЛОВИНА</span><br><span
                                            class="fieldlabel">610</span><span
                                            class="indicator">1#</span><span class="subfieldlabel">$a</span><span
                                            class="data">ИСТОРИКИ</span><br><span class="fieldlabel">686</span><span
                                            class="indicator">##</span><span class="subfieldlabel">$2</span><span
                                            class="data">rubbk</span><span class="subfieldlabel">$a</span><span
                                            class="data">Р1</span><br><span class="fieldlabel">700</span><span
                                            class="indicator">#1</span><span class="subfieldlabel">$a</span><span
                                            class="data">Михайловский-Данилевский</span><span
                                            class="subfieldlabel">$b</span><span class="data">А.И.</span><br><span
                                            class="fieldlabel">998</span><span class="indicator">##</span><span
                                            class="subfieldlabel">$a</span><span
                                            class="data">Ме181801С000Миха</span><br><span
                                            class="fieldlabel">999</span><span
                                            class="indicator">##</span><span class="subfieldlabel">$a</span><span
                                            class="data">42017092</span><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="record-detail__col-img">
                            <img class="record-detail__img"
                                 src="http://kitap.tatar.ru/obl/nlrt/nbrt_tatarica_Inv_F_1577094.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="record-booking">
                        <section class="card card_bs-2 card_booking">
                            <div class="card__header">
                                <h2 class="card__title card__title_sm">Бронирование</h2>
                            </div>
                            <div class="card__body">
                                <ul class="card-booking">
                                    <li class="card-booking__item">
                                        <p class="card-booking__name">МБУК «Чистопольская межпоселенческая центральная
                                            библиотека»
                                            Чистопольского муниципального района РТ →
                                            <span>Центральная библиотека</span>
                                        </p>
                                        <a class="card-booking__geo" href="#" target="_blank"><i class="icon-locating"
                                                                                                 title="Контакты"></i></a>
                                        <a class="card-booking__btn" href="#">Забронировать</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <section class="card card_bs-2 card_mt card_booking">
                            <div class="card__header">
                                <h2 class="card__title card__title_sm">Удаленное бронирование</h2>
                            </div>
                            <div class="card__body">
                                <ul class="card-booking">
                                    <li class="card-booking__item">
                                        <p class="card-booking__name">ГБУК РТ «Национальная библиотека Республики Татарстан»</p>
                                        <a class="card-booking__geo" href="#" target="_blank"><i class="icon-locating"
                                                                                                 title="Контакты"></i></a>
                                        <span class="card-booking__btn card-booking__btn_dsb">Заказ не доступен</span>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
    </main>
    <footer class="footer" role="contentinfo">
        <div class="container">
            <ul class="footer-nav">
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">О проекте</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Библиотеки</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Каталог</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Коллекции</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Отзывы</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Новости</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Спроси библиотекаря</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Профессионалам</a>
                </li>
            </ul>
            <ul class="footer-nav">
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Национальная электронная библиотека Республики Татарстан</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Министерство информатизации и связи Республики Татарстан</a>
                </li>
            </ul>
        </div>
    </footer>
</div>
<div class="nav-mask"></div>
<div class="search-mask"></div>
<div class="record-mask"></div>
<script src="../vendors/jquery-2.2.4.min.js"></script>
<script src="../vendors/swiper/js/swiper.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>