.card {
  position: relative;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 33px 60px;
  background: #fff;
  box-shadow: 0px 0px 44px 0px rgba(198, 206, 224, 0.35);

  z-index: 2;

  &_plr-60 {
    padding-left: 60px;
    padding-right: 60px;
  }

  &_mt-90 {
    margin-top: 90px;
  }

  &_mt-575 {
    margin-top: 575px;
  }

  &__title {
    margin: 0;
    font-family: $font-stack;
    font-weight: 600;
    font-size: 35px;
    color: #000;
  }

  &__img {
    margin-top: 60px;

    &_1 {
      width: 277px;
    }

    &_2 {
      width: 185px;
    }

    &_3 {
      width: 319px;
    }

    &_ml-60 {
      margin-left: 60px;
    }

  }

  &__description {
    margin: 60px 0 0 0;
    width: 100%;
    font-family: $font-stack;
    font-weight: 500;
    font-size: 26px;
    color: #4f5163;
    line-height: 41px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 484px;
    margin: 50px 0 0 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    display: flex;
    width: 33.33%;
  }

  &__list-item-wrap {
    width: 100%;
    padding-right: 15px;
    padding-bottom: 15px;
    border-color: #eaedf3;
    border-width: 1px;
  }

  &__list-item:nth-child(1) &__list-item-wrap {
       border-style: none solid solid none;
   }

  &__list-item:nth-child(2) &__list-item-wrap {
    padding-left: 15px;
    border-style: none solid solid none;
  }

  &__list-item:nth-child(3) &__list-item-wrap {
    padding-left: 15px;
    border-style: none none solid none;
  }

  &__list-item:nth-child(4) &__list-item-wrap {
    padding-top: 30px;
    border-style: none solid none none;
  }

  &__list-item:nth-child(5) &__list-item-wrap {
    padding-top: 30px;
    padding-left: 15px;
    border-style: none solid none none;
  }

  &__list-item:nth-child(6) &__list-item-wrap {
    padding-top: 30px;
    padding-left: 15px;
    border-style: none none none none;
  }

  &__list-item-title {
    margin: 0;
    font-family: $font-stack;
    font-weight: 600;
    font-size: 22px;
    color: #383df4;
  }

  &__list-item-description {
    margin: 18px 0 0 0;
    font-family: $font-stack;
    font-weight: 500;
    font-size: 17px;
    color: #4f5163;
    line-height: 20px;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .card {
    margin-top: 30px;
    padding: 55px 60px 35px;

    &__title {
      font-size: 30px;
      color: #000;
    }

    &__img {
      margin-top: 25px;

      &_1 {
        width: 175px;
      }

      &_2 {
        width: 115px;
      }

      &_3 {
        width: 200px;
      }

      &_ml-60 {
        margin-left: 50px;
      }

    }

    &__description {
      margin: 48px 0 0 0;
      font-size: 22px;
      line-height: 35px;
    }

    &__list {
      margin: 30px 0 0 0;
      max-width: 100%;
    }

    &__list-item {
      width: 25%;
    }


    &__list-item:nth-child(4) &__list-item-wrap {
      padding-top: 0;
      padding-left: 15px;
      border-style: none none solid solid;
    }

    &__list-item:nth-child(5) &__list-item-wrap {
      padding-top: 25px;
      padding-left: 0;
      border-style: none solid none none;
    }

    &__list-item-title {
      font-size: 20px;
      line-height: 22px;
    }

  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 760px) {

  .card {
    margin-top: 70px;
    padding: 40px 15px 40px;

    &_plr-60 {
      padding-left: 15px;
      padding-right: 15px;
    }

    &_mt-90 {
      margin-top: 30px;
    }

    &_mt-575 {
      margin-top: 30px;
    }

    &__title {
      font-size: 30px;
    }

    &__img {
      margin-top: 25px;

      &_1 {
        width: 175px;
      }

      &_2 {
        width: 115px;
      }

      &_3 {
        width: 200px;
      }

      &_ml-60 {
        margin-left: 50px;
      }

    }

    &__description {
      margin: 30px 0 0 0;
      font-size: 20px;
      line-height: 25px;
    }

    &__list {
      margin: 30px 0 0 0;
    }

    &__list-item {
      width: 50%;
    }

    &__list-item-wrap {
      //height: 100%;
      width: 100%;
      padding-right: 15px;
      padding-bottom: 15px;
      border-color: #eaedf3;
      border-width: 1px;
    }

    &__list-item:nth-child(1) &__list-item-wrap {
      border-style: none solid solid none;
    }

    &__list-item:nth-child(2) &__list-item-wrap {
      padding-left: 15px;
      border-style: none none solid none;
    }

    &__list-item:nth-child(3) &__list-item-wrap {
      padding-top: 25px;
      padding-left: 0;
      border-style: none solid solid none;
    }

    &__list-item:nth-child(4) &__list-item-wrap {
      padding-top: 25px;
      padding-left: 15px;
      border-style: none none solid none;
    }

    &__list-item:nth-child(5) &__list-item-wrap {
      padding-top: 25px;
      padding-left: 0;
      border-style: none solid none none;
    }

    &__list-item:nth-child(6) &__list-item-wrap {
      padding-top: 25px;
      padding-left: 15px;
      border-style: none none none none;
    }

    &__list-item-title {
      font-size: 20px;
      line-height: 23px;
    }

    &__list-item-description {
      margin: 18px 0 0 0;
      font-size: 17px;
      line-height: 16px;
    }

  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
