.get {
  margin-top: 54px;
  height: 565px;
  background: #434d63;
  border-radius: 5px;

  &__title {
    margin: 0;
    padding-top: 17px;
    font-family: $font-stack;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    text-align: center;

    & span {
      color: #49b680;
    }

  }

  &__description {
    margin: 10px 0 0 0;
    font-family: $font-stack;
    font-size: 15px;
    font-weight: 400;
    color: #69768f;
    text-align: center;
  }

  &__tab {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border-radius: 15.25px;
    background: #394256;
    list-style: none;
  }

  &__tab-wrap {
    padding: 45px 25px 20px 25px;
  }

  &__tab-item {
    flex-grow: 1;
    width: 100%;
  }

  &__tab-btn {
    width: 100%;
    padding: 5px 5px 7px 5px;
    background: none;
    font-family: $font-stack;
    font-size: 15px;
    font-weight: 400;
    color: #8c96b2;
    background: transparent;
    border-radius: 15.25px;
    border: none;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    transition: color .2s, background .2s;

    &:hover {
      color: #ffffff;
    }

    &_active {
      color: #ffffff;
      background: #57637c;
    }

  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .get {
    margin-top: 30px;
    height: 430px;

    &__title {
      padding-top: 12px;
      padding-left: 12px;
      font-size: 30px;
      text-align: left;
    }

    &__description {
      padding-left: 12px;
      font-size: 14px;
      text-align: left;
    }

    &__tab {

    }

    &__tab-wrap {
      padding: 25px 15px;
    }

    &__tab-item {

    }

    &__tab-btn {
      width: 100%;
      padding: 6px 0 6px 0;
      background: none;
      font-family: $font-stack;
      font-size: 12px;
      font-weight: 400;
      color: #8c96b2;
      background: transparent;
      border-radius: 15.25px;
      border: none;
      outline: 0;
      text-decoration: none;
      cursor: pointer;
      transition: color .2s, background .2s;

      &:hover {
        color: #ffffff;
      }

      &_active {
        color: #ffffff;
        background: #57637c;
      }

    }

  }

}
/* Small Devices, Tablets */
@media only screen and (max-width : 760px) {

  .get {
    margin-top: 30px;
    height: 565px;

    &__title {
      padding-top: 20px;
      padding-left: 12px;
      font-size: 30px;
      text-align: left;
    }

    &__description {
      //margin: 10px 0 0 0;
      padding-left: 12px;
      font-size: 14px;
      text-align: left;
    }

    &__tab {
      //display: flex;
      //align-items: center;
      //margin: 0;
      //padding: 0;
      //border-radius: 15.25px;
      //background: #394256;
      //list-style: none;
    }

    &__tab-wrap {
      padding: 25px 15px;
    }

    &__tab-item {
      //flex-grow: 1;
      //width: 100%;
    }

    &__tab-btn {
      width: 100%;
      padding: 6px 0 6px 0;
      background: none;
      font-family: $font-stack;
      font-size: 12px;
      font-weight: 400;
      color: #8c96b2;
      background: transparent;
      border-radius: 15.25px;
      border: none;
      outline: 0;
      text-decoration: none;
      cursor: pointer;
      transition: color .2s, background .2s;

      &:hover {
        color: #ffffff;
      }

      &_active {
        color: #ffffff;
        background: #57637c;
      }

    }

  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

