.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  //height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  z-index: 1050;
  overflow: auto;

  background: #6b41f1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #6b41f1 0%, #4d6fff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #6b41f1 0%,#4d6fff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #6b41f1 0%,#4d6fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b41f1', endColorstr='#4d6fff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  &__btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    background-image: url("../../images/landing/close-login.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
  }

}

.modal-dialog {
  position: relative;
  width: 100%;
  max-width: 1000px;
  background: #fff;
  box-shadow: 0px 0px 44px 0px rgba(198, 206, 224, 0.35);
}
