.section {
  position: relative;
  width: 100%;
  margin-top: 100px;

  z-index: 2;

  &__title {
    margin: 0;
    font-family: $font-stack;
    font-weight: 600;
    font-size: 50px;
    color: #000;
    text-align: center;
  }

}

.section-sm {
  position: relative;
  margin-top: 60px;

  z-index: 2;

  &__title {
    margin: 0;
    font-family: $font-stack;
    font-weight: 600;
    font-size: 34px;
    color: #000;
  }

  &__nav {
    display: flex;
    align-items: center;
    margin: 65px 0 0 0;
    padding: 0 0 70px 0;
    list-style: none;

    &_investing {
      margin: 50px 0 0 0;
      padding: 0;
    }

  }

  &__nav-item {
    position: relative;
    margin-right: 26px;

    &_arrow {
      margin-right: 0;

      &:after {
        position: absolute;
        left: 55px;
        bottom: -80px;
        content: "";
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 18px solid #394256;
      }

    }

  }

}

.section-sm-drk {
  position: relative;
  margin-top: 60px;
  background-color: #394256;

  z-index: 2;

  &__title {
    margin: 0;
    font-family: $font-stack;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
  }

}

.section-info {
  padding: 14px 0 18px 0;
  font-family: $font-stack;
  font-weight: 500;
  font-size: 13px;
  color: #57637c;
  line-height: 12px;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .section {
    margin-top: 60px;
  }

  .section-sm {

    &__nav-item {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      &_arrow {
        margin-right: 0;

        &:after {
          position: absolute;
          left: 40px;
          bottom: -70px;
          content: "";
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 18px solid #394256;
        }

      }

    }


  }

}
/* Small Devices, Tablets */
@media only screen and (max-width : 760px) {

  .section {
    margin-top: 50px;

    &__title {
      font-size: 30px;
      line-height: 35px;
    }

  }

  .section-sm {
    margin-top: 30px;

    &__title {
      font-size: 30px;
      text-align: center;
    }

    &__nav {
      margin: 35px 0 0 0;
      padding: 0 0 30px 0;
      list-style: none;

      &_investing {
        margin: 25px 0 0 0;
        padding: 0;
      }

    }

    &__nav-item {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      &_arrow {
        margin-right: 0;

        &:after {
          position: absolute;
          left: 55px;
          bottom: -40px;
          content: "";
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 18px solid #394256;
        }

      }

    }

  }

  .section-sm-drk {
    margin-top: 30px;

    &__title {
      font-size: 22px;
    }

  }


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
