$font-stack: futura-pt, 'helvetica', 'sans-serif';

body {
  position: relative;
  height: 100%;
  //background-color: #000000;
  overflow-x: hidden;
}

@import "../normalize.css";
@import "fonts";
@import "grid";
@import "bg";
@import "container";
@import "header";
@import "investing";
@import "modal";
@import "button";
@import "banner";
@import "cube";
@import "video";
@import "card";
@import "section";
@import "plus";
@import "part";
@import "progress";
@import "footer";
@import "form";
@import "get";
@import "chart";
@import "../../vendors/owl-carousel/dist/assets/owl.carousel.min.css";

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width : 760px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
