@font-face {
    font-family: "RF Dewi Expanded";
    src: url("RF-Dewi-Expanded-Bold.eot"); /* IE9 */
    src: url("RF-Dewi-Expanded-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("RF-Dewi-Expanded-Bold.woff") format("woff"), /* chrome, firefox */
    url("RF-Dewi-Expanded-Bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("RF-Dewi-Expanded-Bold.svg#RF Dewi Expanded") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


