<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title></title>
    <link rel="stylesheet" href="../styles/index.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
</head>
<body class="">
<div class="content-wrap">
    <header class="header">
        <div class="container header__wrap">
            <button class="header__menu-btn">
                <svg class="header__menu-btn-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 20">
                    <path d="M1 10h28M15 1h14M1 19h14" fill="none" stroke-linecap="square"
                          stroke-width="2"/>
                </svg>
            </button>
            <div class="header__logo">
                <a class="logo" href="#">
                    <img class="logo__img"
                         src="../images/logo/logo-new-s.png"
                         srcset="../images/logo/logo-new-s.png 1x, ../images/logo/logo-new-s@2x.png 2x, ../images/logo/logo-new-s@3x.png 3x"
                         alt=""
                    >
                </a>
            </div>
            <div class="header__partner">
                <ul class="partner">
                    <li class="partner__item">
                        <a class="partner__item-link" href="https://www.pwc.ru/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_1"
                                 src="../images/partner/pwc.png"
                                 srcset="../images/partner/pwc.png 1x, ../images/partner/pwc@2x.png 2x, ../images/partner/pwc@3x.png 3x"
                                 alt="PwC"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://nm-g.ru/holding/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_2"
                                 src="../images/partner/nmg.png"
                                 srcset="../images/partner/nmg.png 1x, ../images/partner/nmg@2x.png 2x, ../images/partner/nmg@3x.png 3x"
                                 alt="Национальная Медиа Группа"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://www.odgersberndtson.ru/ru/glavnaya/" target="_blank"
                           rel="noopener">
                            <img class="partner__item-img partner__item-img_3"
                                 src="../images/partner/logo-ob-s.png"
                                 srcset="../images/partner/logo-ob-s.png 1x, ../images/partner/logo-ob-s@2x.png 2x, ../images/partner/logo-ob-s@3x.png 3x"
                                 alt="Odgers Berndtson"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://mediascope.net/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_4"
                                 src="../images/partner/mediascope-logo-black.png"
                                 srcset="../images/partner/mediascope-logo-black.png 1x, ../images/partner/mediascope-logo-black@2x.png 2x, ../images/partner/mediascope-logo-black@3x.png 3x"
                                 alt="Mediascope"
                            >
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header__social">
                <div class="social">
                    <li class="social__item">
                        <a class="social__item-link" href="#">
                            <img class="social__item-img"
                                 src="../images/social/facebook-icon.svg"
                                 alt="facebook"
                            >
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__item-link" href="#">
                            <img class="social__item-img"
                                 src="../images/social/twitter-icon.svg"
                                 alt="twitter"
                            >
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__item-link" href="#">
                            <img class="social__item-img"
                                 src="../images/social/instagram-icon.svg"
                                 alt="instagram"
                            >
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </header>
    <div class="grid-main">
        <div class="container container_main">
            <nav class="nav">
                <ul class="nav-menu">
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#">Итоги</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#">Пульс рынка</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#">Новости</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#">Календарь</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#">Контакты</a>
                    </li>
                </ul>
                <ul class="partner partner_nav">
                    <li class="partner__item">
                        <a class="partner__item-link" href="https://www.pwc.ru/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_1"
                                 src="../images/partner/pwc.png"
                                 srcset="../images/partner/pwc.png 1x, ../images/partner/pwc@2x.png 2x, ../images/partner/pwc@3x.png 3x"
                                 alt="PwC"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://nm-g.ru/holding/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_2"
                                 src="../images/partner/nmg.png"
                                 srcset="../images/partner/nmg.png 1x, ../images/partner/nmg@2x.png 2x, ../images/partner/nmg@3x.png 3x"
                                 alt="Национальная Медиа Группа"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://www.odgersberndtson.ru/ru/glavnaya/" target="_blank"
                           rel="noopener">
                            <img class="partner__item-img partner__item-img_3"
                                 src="../images/partner/logo-ob-s.png"
                                 srcset="../images/partner/logo-ob-s.png 1x, ../images/partner/logo-ob-s@2x.png 2x, ../images/partner/logo-ob-s@3x.png 3x"
                                 alt="Odgers Berndtson"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://mediascope.net/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_4"
                                 src="../images/partner/mediascope-logo-black.png"
                                 srcset="../images/partner/mediascope-logo-black.png 1x, ../images/partner/mediascope-logo-black@2x.png 2x, ../images/partner/mediascope-logo-black@3x.png 3x"
                                 alt="Mediascope"
                            >
                        </a>
                    </li>
                </ul>

            </nav>
            <main class="main">
                <div class="content">
                    <h1>Анкета участника</h1>
                    <p><b>Здравствуйте!</b> <br>
                        Просим Вас в данной анкете заполнить информацию о себе. Это позволит нам объективно оценить Ваши
                        достижения.</p>
                    <form action="#">
                        <h2 class="content__form-title">Персональные данные</h2>
                        <div class="form-grid">
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <label class="control-label">Фамилия <span>*</span></label>
                                    <input class="form-control"/>
                                </div>
                            </div>
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <label class="control-label">Имя <span>*</span></label>
                                    <input class="form-control"/>
                                </div>
                            </div>
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <label class="control-label">Отчество <span>*</span></label>
                                    <input class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-grid">
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <label class="control-label">Дата рождения <span>*</span></label>
                                    <input class="form-control" value="01.01.1985"/>
                                </div>
                            </div>
                            <div class="form-grid_col">
                                <div class="form-group has-error">
                                    <label class="control-label">Фото <span>*</span></label>
                                    <input type="file">
                                    <p class="help-block">файл не выбран</p>
                                </div>
                            </div>
                        </div>
                        <h2 class="content__form-title">Текущее место работы</h2>
                        <div class="form-grid">
                            <div class="form-grid_col">
                                <div class="form-group has-error">
                                    <label class="control-label">Название компании</label>
                                    <input class="form-control"/>
                                    <span class="help-block">Обязательно для заполнения</span>
                                </div>
                            </div>
                            <div class="form-grid_col">
                                <div class="form-group has-success">
                                    <label class="control-label">Другое название</label>
                                    <input class="form-control"/>
                                    <span class="help-block">Обязательно для заполнения</span>
                                </div>
                            </div>
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <label class="control-label">Ваша должность <span>*</span></label>
                                    <input class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-grid">
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <br><br>
                                    <label class="control-label">Дата начала работы в компании (или на текущей
                                        должности)
                                        <span>*</span></label>
                                </div>
                            </div>
                            <div class="form-grid_col">
                                <div class="form-group has-error">
                                    <label class="control-label">Выберите месяц</label>
                                    <select class="form-control">
                                        <option>Январь1Январь1Январь1Январь1Январь1Январь1Январь1Январь1Январь1Январь1Январь1Январь1Январь1Январь1Январь1Январь1</option>
                                        <option>Январь1Январь1Январь1Январь1Январь1Январь1Январь1Январь1</option>
                                        <option>Январ2ь</option>
                                        <option>Январь3</option>
                                        <option>Январ4ь</option>
                                        <option>Январ5ь</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <label class="control-label">Выберите год</label>
                                    <select class="form-control">
                                        <option>20181</option>
                                        <option>20182</option>
                                        <option>20183</option>
                                        <option>20184</option>
                                        <option>20185</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <h2 class="content__form-title">Предыдущее место работы</h2>
                        <div class="form-grid">
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <label class="control-label">Название компании</label>
                                    <select class="form-control">
                                        <option disabled selected>Выберите название</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <label class="control-label">Другое название</label>
                                    <input class="form-control"/>
                                </div>
                            </div>
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <label class="control-label">Ваша должность <span>*</span></label>
                                    <input class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-grid">
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <br><br>
                                    <label class="control-label">Дата начала работы в компании (или на текущей
                                        должности)
                                        <span>*</span></label>
                                </div>
                            </div>
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <label class="control-label">Выберите месяц</label>
                                    <select class="form-control">
                                        <option>Январь</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <label class="control-label">Выберите год</label>
                                    <select class="form-control">
                                        <option>2018</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <h2 class="content__form-title">Дополнительная информация</h2>
                        <p class="content__form-text">Есть ли у вас степень MBA?<span>*</span></p>
                        <br>
                        <div class="form-group has-error">
                            <label class="radio-inline">
                                <input type="radio">Да
                            </label>
                            <label class="radio-inline">
                                <input type="radio">Нет
                            </label>
                        </div>
                        <p class="content__form-text">Есть ли у вас опыт преподавания за последние 2 года (курсы лекций,
                            семинаров или мастер-классов по профессиональной тематике)<br> Курсом считается не менее 3
                            занятий,
                            объединенных общей тематикой. <span>*</span></p>
                        <br>
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio">Да
                            </label>
                            <label class="radio-inline">
                                <input type="radio">Нет
                            </label>
                        </div>
                        <p class="content__form-text">Есть ли у вас авторские статьи по профессиональной тематике за
                            последние 3 года? <span>*</span></p>
                        <br>
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio">Да
                            </label>
                            <label class="radio-inline">
                                <input type="radio">Нет
                            </label>
                        </div>
                        <div class="form-grid">
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <label class="control-label">Ваше владение английским языком</label>
                                    <select class="form-control">
                                        <option>Intermediate</option>
                                    </select>
                                    <span class="help-block">Организаторы оставляют за собой право пригла-сить вас пройти экспресс-тестирование на соот-ветствие указанному Вами уровню знания языка.</span>
                                </div>
                            </div>
                        </div>
                        <h2 class="content__form-title">Контактная информация</h2>
                        <div class="form-grid">
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <label class="control-label">Контактный телефон <span>*</span></label>
                                    <input class="form-control"/>
                                </div>
                            </div>
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <label class="control-label">Адрес электронной почты <span>*</span></label>
                                    <input class="form-control"/>
                                </div>
                            </div>
                            <div class="form-grid_col">
                                <div class="form-group">
                                    <label class="control-label">Личный e-mail <span>*</span></label>
                                    <input class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Дополнительная информация <span>*</span></label>
                            <textarea rows="4" class="form-control"
                                      placeholder="Укажите дополнительную информацию которую хотите нам сообщить"></textarea>
                        </div>
                        <br>
                        <button class="btn" type="submit">Отправить данные</button>
                        <br>
                        <br>
                        <div class="checkbox has-error">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Корректность и достоверность указанных сведений подтверждаю. После отправки данной формы
                                Вы не сможете изменить данные о себе
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" checked>
                                Я согласен (см. приложение) на обработку моих персональных данных
                            </label>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>

    <footer class="footer-wrap">
        <div class="container">
            <div class="footer">
                <div class="footer__cr">© 2018 Odgers Berndtson</div>
                <div class="footer__nav">
                    <ul class="footer-menu">
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Итоги</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Новости</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Календарь</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Контакты</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="tel:+79162107821">+7 (916) 210 78 21</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__social">
                    <div class="social">
                        <li class="social__item">
                            <a class="social__item-link" href="#">
                                <img class="social__item-img"
                                     src="../images/social/facebook-icon.svg"
                                     alt="facebook"
                                >
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__item-link" href="#">
                                <img class="social__item-img"
                                     src="../images/social/twitter-icon.svg"
                                     alt="twitter"
                                >
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__item-link" href="#">
                                <img class="social__item-img"
                                     src="../images/social/instagram-icon.svg"
                                     alt="instagram"
                                >
                            </a>
                        </li>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</div>

<script src="../vendors/jquery-3.2.1.min.js"></script>
<script src="../vendors/selectBox/jquery.selectBox.js"></script>
<script>
    $(document).ready(function () {

        $('.header__menu-btn').click(function (e) {
            e.preventDefault();
            $('.nav, .header__menu-btn, .header__logo').toggleClass('toggled');
        });

        $('select').selectBox();

    });
</script>
</body>
</html>