<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title></title>
    <link rel="stylesheet" href="../styles/index.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
</head>
<body>
<div class="content-wrap">
    <header class="header">
        <div class="container header__wrap">
            <button class="header__menu-btn">
                <svg class="header__menu-btn-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 20">
                    <path d="M1 10h28M15 1h14M1 19h14" fill="none" stroke-linecap="square"
                          stroke-width="2"/>
                </svg>
            </button>
            <div class="header__logo">
                <a class="logo" href="#">
                    <img class="logo__img"
                         src="../images/logo/logo-new-s.png"
                         srcset="../images/logo/logo-new-s.png 1x, ../images/logo/logo-new-s@2x.png 2x, ../images/logo/logo-new-s@3x.png 3x"
                         alt=""
                    >
                </a>
            </div>
            <div class="header__partner">
                <ul class="partner">
                    <li class="partner__item">
                        <a class="partner__item-link" href="https://www.pwc.ru/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_1"
                                 src="../images/partner/pwc.png"
                                 srcset="../images/partner/pwc.png 1x, ../images/partner/pwc@2x.png 2x, ../images/partner/pwc@3x.png 3x"
                                 alt="PwC"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://nm-g.ru/holding/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_2"
                                 src="../images/partner/nmg.png"
                                 srcset="../images/partner/nmg.png 1x, ../images/partner/nmg@2x.png 2x, ../images/partner/nmg@3x.png 3x"
                                 alt="Национальная Медиа Группа"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://www.odgersberndtson.ru/ru/glavnaya/" target="_blank"
                           rel="noopener">
                            <img class="partner__item-img partner__item-img_3"
                                 src="../images/partner/logo-ob-s.png"
                                 srcset="../images/partner/logo-ob-s.png 1x, ../images/partner/logo-ob-s@2x.png 2x, ../images/partner/logo-ob-s@3x.png 3x"
                                 alt="Odgers Berndtson"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://mediascope.net/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_4"
                                 src="../images/partner/mediascope-logo-black.png"
                                 srcset="../images/partner/mediascope-logo-black.png 1x, ../images/partner/mediascope-logo-black@2x.png 2x, ../images/partner/mediascope-logo-black@3x.png 3x"
                                 alt="Mediascope"
                            >
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header__social">
                <div class="social">
                    <li class="social__item">
                        <a class="social__item-link" href="#">
                            <img class="social__item-img"
                                 src="../images/social/facebook-icon.svg"
                                 alt="facebook"
                            >
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__item-link" href="#">
                            <img class="social__item-img"
                                 src="../images/social/twitter-icon.svg"
                                 alt="twitter"
                            >
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__item-link" href="#">
                            <img class="social__item-img"
                                 src="../images/social/instagram-icon.svg"
                                 alt="instagram"
                            >
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </header>
    <div class="bg"></div>
    <div class="grid-main">
        <div class="container container_main">
            <nav class="nav nav_hl">
                <ul class="nav-menu">
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#">Итоги</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#">Пульс рынка</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#">Новости</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#">Календарь</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#">Контакты</a>
                    </li>
                </ul>
                <ul class="partner partner_nav">
                    <li class="partner__item">
                        <a class="partner__item-link" href="https://www.pwc.ru/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_1"
                                 src="../images/partner/pwc.png"
                                 srcset="../images/partner/pwc.png 1x, ../images/partner/pwc@2x.png 2x, ../images/partner/pwc@3x.png 3x"
                                 alt="PwC"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://nm-g.ru/holding/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_2"
                                 src="../images/partner/nmg.png"
                                 srcset="../images/partner/nmg.png 1x, ../images/partner/nmg@2x.png 2x, ../images/partner/nmg@3x.png 3x"
                                 alt="Национальная Медиа Группа"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://www.odgersberndtson.ru/ru/glavnaya/" target="_blank"
                           rel="noopener">
                            <img class="partner__item-img partner__item-img_3"
                                 src="../images/partner/logo-ob-s.png"
                                 srcset="../images/partner/logo-ob-s.png 1x, ../images/partner/logo-ob-s@2x.png 2x, ../images/partner/logo-ob-s@3x.png 3x"
                                 alt="Odgers Berndtson"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://mediascope.net/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_4"
                                 src="../images/partner/mediascope-logo-black.png"
                                 srcset="../images/partner/mediascope-logo-black.png 1x, ../images/partner/mediascope-logo-black@2x.png 2x, ../images/partner/mediascope-logo-black@3x.png 3x"
                                 alt="Mediascope"
                            >
                        </a>
                    </li>
                </ul>

            </nav>
            <main class="main">
                <div class="content content_mw">
                    <h1>Рейтинг молодых медиаменеджеров россии</h1>
                    <p><b>Odgers Berndtson</b> в партнерстве c PwC и Mediascope представляет ежегодный <b>«Рейтинг
                        молодых
                        медиаменеджеров России»</b>. Рейтинг призван выявить молодых профессионалов с наибольшим
                        потенциалом
                        роста, которые с большой степенью вероятности будут определять происходящее на рынке медиа в
                        ближайшие 3-5 лет.
                        <br>
                        <b>Одна из ключевых задач Рейтинга</b> — повышение значимости профессиональной
                        репутации и реальных достижений, создание базы для максимально возможной объективности их оценки
                        с помощью специально разработанной методологии Рейтинга.</p>
                    <ul class="btn-group">
                        <li>
                            <a class="btn" href="#">Изучить итоги рейтинга</a>
                        </li>
                        <li>
                            <div class="btn-wt-wrap">
                                <a class="btn btn_wt" href="#" data-title="Заполнить анкету">Заполнить анкету</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
    </div>
    <div class="bg-grad">
        <div class="container container_main">
            <div class="rating-line-wrap rating-line-wrap_tdn">
                <div class="rating-line"></div>
            </div>
            <div class="rating-detail container__order-2">
                <div class="rating-detail__label-box">
                    <div class="rating-detail__label-group">
                        <ul>
                            <li>AAA</li>
                            <li>AA</li>
                            <li>A</li>
                        </ul>
                    </div>
                    <div class="rating-detail__label-group">
                        <ul>
                            <li>BB</li>
                            <li>B</li>
                        </ul>
                    </div>
                    <div class="rating-detail__label-group">
                        <ul>
                            <li>C</li>
                        </ul>
                    </div>
                </div>
                <div class="rating-detail__title-box">
                    <div class="rating-detail__title-group">
                        <h3 class="y1">Высшая</h3>
                        <ul>
                            <li class="y1">Лидер медиа-отрасли России</li>
                            <li>Занимает высшие позиции в рейтинге</li>
                            <li>Находится в верхнем диапазоне рейтинга</li>
                            <li>Находится в нижней части верхнего диапазона рейтинга</li>
                        </ul>
                    </div>
                    <div class="rating-detail__title-group">
                        <h3 class="y2">Средняя</h3>
                        <ul>
                            <li class="y2">Потенциальный лидер медиа-отрасли</li>
                            <li>Находится в среднем диапазоне рейтинга</li>
                            <li>Находится в нижней части среднего диапазона рейтинга</li>
                        </ul>
                    </div>
                    <div class="rating-detail__title-group">
                        <h3 class="y3">Базовая</h3>
                        <ul>
                            <li class="y3">Кадровый резерв медиа-отрасли</li>
                            <li>Находится в базовом диапазоне рейтинга</li>
                        </ul>
                    </div>
                </div>
            </div>
            <main class="main container__order-1">
                <div class="content content_fs-lg">
                    <h2>Как это работает</h2>
                    <p>В основе проекта – оценка профессиональных достижений и дальнейших карьерных перспектив
                        медиаменеджеров. </p>
                    <h3>Индивидуальная оценка (рейтинг) участника формируется по итогам анализа 5 факторов:</h3>
                    <ul>
                        <li>Профессиональные достижения (исходя из показателей работы компании-работодателя);</li>
                        <li>Признание коллег (оценка участников рейтинга);</li>
                        <li>Оценка (прогноз) краткосрочных экономических перспектив медиа-сектора, в котором действует
                            компания-работодатель участника рейтинга (PwC-фактор);
                        </li>
                        <li>Оценка (прогноз) востребованности профессиональных компетенций участника рейтинга на
                            кадровом рынке (OB-фактор);
                        </li>
                        <li>Конкурентность менеджера (наличие МВА, уровень владения английским языком, опыт преподавания
                            и наличие публикаций).
                        </li>
                    </ul>
                </div>
            </main>
        </div>
    </div>

    <footer class="footer-wrap">
        <div class="container">
            <div class="footer">
                <div class="footer__cr">© 2018 Odgers Berndtson</div>
                <div class="footer__nav">
                    <ul class="footer-menu">
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Итоги</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Новости</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Календарь</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Контакты</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="tel:+79162107821">+7 (916) 210 78 21</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__social">
                    <ul class="social">
                        <li class="social__item">
                            <a class="social__item-link" href="#">
                                <img class="social__item-img"
                                     src="../images/social/facebook-icon.svg"
                                     alt="facebook"
                                >
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__item-link" href="#">
                                <img class="social__item-img"
                                     src="../images/social/twitter-icon.svg"
                                     alt="twitter"
                                >
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__item-link" href="#">
                                <img class="social__item-img"
                                     src="../images/social/instagram-icon.svg"
                                     alt="instagram"
                                >
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </footer>
</div>

<script src="../vendors/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {

        $('.header__menu-btn').click(function (e) {
            e.preventDefault();
            $('.nav, .header__menu-btn, .header__logo').toggleClass('toggled');
        });

    });
</script>
</body>
</html>