<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title></title>
    <link rel="stylesheet" href="../styles/index.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic" rel="stylesheet">
</head>
<body class="bg-body">
<div class="content-wrap">
    <header class="header">
        <div class="container header__wrap">
            <button class="header__menu-btn">
                <svg class="header__menu-btn-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 20">
                    <path d="M1 10h28M15 1h14M1 19h14" fill="none" stroke-linecap="square"
                          stroke-width="2"/>
                </svg>
            </button>
            <div class="header__logo">
                <a class="logo" href="#">
                    <img class="logo__img"
                         src="../images/logo/logo-new-s.png"
                         srcset="../images/logo/logo-new-s.png 1x, ../images/logo/logo-new-s@2x.png 2x, ../images/logo/logo-new-s@3x.png 3x"
                         alt=""
                    >
                </a>
            </div>
            <div class="header__partner">
                <ul class="partner">
                    <li class="partner__item">
                        <a class="partner__item-link" href="https://www.pwc.ru/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_1"
                                 src="../images/partner/pwc.png"
                                 srcset="../images/partner/pwc.png 1x, ../images/partner/pwc@2x.png 2x, ../images/partner/pwc@3x.png 3x"
                                 alt="PwC"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://nm-g.ru/holding/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_2"
                                 src="../images/partner/nmg.png"
                                 srcset="../images/partner/nmg.png 1x, ../images/partner/nmg@2x.png 2x, ../images/partner/nmg@3x.png 3x"
                                 alt="Национальная Медиа Группа"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://www.odgersberndtson.ru/ru/glavnaya/" target="_blank"
                           rel="noopener">
                            <img class="partner__item-img partner__item-img_3"
                                 src="../images/partner/logo-ob-s.png"
                                 srcset="../images/partner/logo-ob-s.png 1x, ../images/partner/logo-ob-s@2x.png 2x, ../images/partner/logo-ob-s@3x.png 3x"
                                 alt="Odgers Berndtson"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://mediascope.net/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_4"
                                 src="../images/partner/mediascope-logo-black.png"
                                 srcset="../images/partner/mediascope-logo-black.png 1x, ../images/partner/mediascope-logo-black@2x.png 2x, ../images/partner/mediascope-logo-black@3x.png 3x"
                                 alt="Mediascope"
                            >
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header__social">
                <div class="social">
                    <li class="social__item">
                        <a class="social__item-link" href="#">
                            <img class="social__item-img"
                                 src="../images/social/facebook-icon.svg"
                                 alt="facebook"
                            >
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__item-link" href="#">
                            <img class="social__item-img"
                                 src="../images/social/twitter-icon.svg"
                                 alt="twitter"
                            >
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__item-link" href="#">
                            <img class="social__item-img"
                                 src="../images/social/instagram-icon.svg"
                                 alt="instagram"
                            >
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </header>
    <div class="grid-main">
        <div class="container container_main">
            <nav class="nav">
                <ul class="nav-menu">
                    <li class="nav-menu__item">
                        <a class="nav-menu__link nav-menu__link_active" href="#">Итоги</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#">Пульс рынка</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#">Новости</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#">Календарь</a>
                    </li>
                    <li class="nav-menu__item">
                        <a class="nav-menu__link" href="#">Контакты</a>
                    </li>
                </ul>
                <ul class="partner partner_nav">
                    <li class="partner__item">
                        <a class="partner__item-link" href="https://www.pwc.ru/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_1"
                                 src="../images/partner/pwc.png"
                                 srcset="../images/partner/pwc.png 1x, ../images/partner/pwc@2x.png 2x, ../images/partner/pwc@3x.png 3x"
                                 alt="PwC"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://nm-g.ru/holding/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_2"
                                 src="../images/partner/nmg.png"
                                 srcset="../images/partner/nmg.png 1x, ../images/partner/nmg@2x.png 2x, ../images/partner/nmg@3x.png 3x"
                                 alt="Национальная Медиа Группа"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://www.odgersberndtson.ru/ru/glavnaya/" target="_blank"
                           rel="noopener">
                            <img class="partner__item-img partner__item-img_3"
                                 src="../images/partner/logo-ob-s.png"
                                 srcset="../images/partner/logo-ob-s.png 1x, ../images/partner/logo-ob-s@2x.png 2x, ../images/partner/logo-ob-s@3x.png 3x"
                                 alt="Odgers Berndtson"
                            >
                        </a>
                    </li>
                    <li class="partner__item">
                        <a class="partner__item-link" href="http://mediascope.net/" target="_blank" rel="noopener">
                            <img class="partner__item-img partner__item-img_4"
                                 src="../images/partner/mediascope-logo-black.png"
                                 srcset="../images/partner/mediascope-logo-black.png 1x, ../images/partner/mediascope-logo-black@2x.png 2x, ../images/partner/mediascope-logo-black@3x.png 3x"
                                 alt="Mediascope"
                            >
                        </a>
                    </li>
                </ul>

            </nav>
            <main class="main">
                <div class="content">
                    <h1>Итоги</h1>
                    <div class="form-grid">
                        <div class="form-grid_col">
                            <div class="form-group">
                                <label class="control-label">Направление деятельности:</label>
                                <select class="form-control">
                                    <option>Высший менеджмент (CEO)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-grid_col">
                            <div class="form-group">
                                <label class="control-label">Выбор отрасли:</label>
                                <select class="form-control">
                                    <option selected>Все</option>
                                    <option>Неэфирное ТВ</option>
                                    <option>Интернет-сервисы (за исключением СМИ) Интернет-сервисы (за исключением СМИ)</option>
                                    <option>Печать</option>
                                    <option>Эфирное Радио</option>
                                    <option>Эфирное ТВ</option>
                                    <option>СМИ в интернете</option>
                                </select>                            </div>
                        </div>
                        <div class="form-grid_col">
                            <div class="form-group">
                                <label class="control-label">Поиск учатника</label>
                                <input class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="rating-scroll">
                        <div class="rating">
                            <div class="rating-label rating-label_display-xs-none">
                                <div class="rating-label__item y1">AAA</div>
                                <div class="rating-label__item y2">AA</div>
                                <div class="rating-label__item y3">A</div>
                                <div class="rating-label__item y4">BB</div>
                                <div class="rating-label__item y5">B</div>
                                <div class="rating-label__item y6">C</div>
                            </div>
                            <div class="rating-line-wrap rating-line-wrap_w-bg rating-line-wrap_pb-0 rating-line-wrap_display-xs-none">
                                <div class="rating-line rating-line_alt"></div>
                            </div>
                            <div class="rating-list-wrap">
                                <div class="rating-list">
                                    <div class="rating-list__card">
                                        <div class="rating-list__card-head y1">
                                            AAA
                                        </div>
                                        <div class="rating-list__card-body">
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y1" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rating-list">
                                    <div class="rating-list__card">
                                        <div class="rating-list__card-head y2">
                                            АА
                                        </div>
                                        <div class="rating-list__card-body">
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y2" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y2" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rating-list">
                                    <div class="rating-list__card">
                                        <div class="rating-list__card-head y3">
                                            А
                                        </div>
                                        <div class="rating-list__card-body">
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y3" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y3" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y3" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rating-list">
                                    <div class="rating-list__card">
                                        <div class="rating-list__card-head y4">
                                            BB
                                        </div>
                                        <div class="rating-list__card-body">
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y4" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y4" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rating-list">
                                    <div class="rating-list__card">
                                        <div class="rating-list__card-head y5">
                                            B
                                        </div>
                                        <div class="rating-list__card-body">
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y5" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y5" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y5" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y5" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rating-list">
                                    <div class="rating-list__card">
                                        <div class="rating-list__card-head y6">
                                           C
                                        </div>
                                        <div class="rating-list__card-body">
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                            <div class="rating-list__item">
                                                <a class="rating-list-profile y6" href="#">
                                                    <span>Картозия Николай</span>
                                                    <span>Пятница</span>
                                                    <span>Генеральный директор</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rating-modal rating-modal_show">
                        <div class="rating-modal__head">
                            <button class="rating-modal__close"></button>
                            <div class="rating-modal__title">Профайл</div>
                            <div class="rating-modal__np-btn">
                                <button class="rating-modal__next">Предыдущий<br>участник</button>
                                <button class="rating-modal__previous">Следующий<br>участник</button>
                            </div>
                        </div>
                        <div class="rating-modal__body">
                            <div class="rating-modal__img-wrap">
                                <img class="rating-modal__img" src="https://24smi.org/public/media/2017/5/30/02_c77s5YS.jpg" alt="">
                            </div>
                            <div class="rating-modal__info">
                                <div class="rating-modal__label-wrap">
                                    <span class="rating-modal__label">ааа</span>
                                    <span class="rating-modal__label-question">
                                        ?
                                        <div class="rating-modal__label-tooltip">
                                            ВЫСШАЯ. Лидер медиа-отрасли России, занимает высшие позиции в рейтинге.
                                        </div>
                                    </span>
                                </div>
                                <h3 class="rating-modal__name">Юрий Дудь</h3>
                                <p class="rating-modal__date">11.10.1986 (31 год)</p>
                                <p class="rating-modal__position">Главный редактор Sports.ru <br> Создание контента (продукта)</p>
                                <div class="rating-modal__social">
                                    <div class="social">
                                        <li class="social__item">
                                            <a class="social__item-link" href="#">
                                                <img class="social__item-img"
                                                     src="../images/social/facebook-icon.svg"
                                                     alt="facebook"
                                                >
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a class="social__item-link" href="#">
                                                <img class="social__item-img"
                                                     src="../images/social/twitter-icon.svg"
                                                     alt="twitter"
                                                >
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a class="social__item-link" href="#">
                                                <img class="social__item-img"
                                                     src="../images/social/instagram-icon.svg"
                                                     alt="instagram"
                                                >
                                            </a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <footer class="footer-wrap">
        <div class="container">
            <div class="footer">
                <div class="footer__cr">© 2018 Odgers Berndtson</div>
                <div class="footer__nav">
                    <ul class="footer-menu">
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Итоги</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Новости</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Календарь</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Контакты</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="tel:+79162107821">+7 (916) 210 78 21</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__social">
                    <div class="social">
                        <li class="social__item">
                            <a class="social__item-link" href="#">
                                <img class="social__item-img"
                                     src="../images/social/facebook-icon.svg"
                                     alt="facebook"
                                >
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__item-link" href="#">
                                <img class="social__item-img"
                                     src="../images/social/twitter-icon.svg"
                                     alt="twitter"
                                >
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__item-link" href="#">
                                <img class="social__item-img"
                                     src="../images/social/instagram-icon.svg"
                                     alt="instagram"
                                >
                            </a>
                        </li>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</div>

<script src="../vendors/jquery-2.2.4.min.js"></script>
<script src="../vendors/selectric/jquery.selectric.min.js"></script>
<!--<script src="../vendors/selectBox/jquery.selectBox.js"></script>-->

<script>
    $(document).ready(function () {

        $('.header__menu-btn').click(function (e) {
            e.preventDefault();
            $('.nav, .header__menu-btn, .header__logo').toggleClass('toggled');
        });

        $('.rating-list-profile').click(function (e) {
            e.preventDefault();
            $('.rating-modal').toggleClass('rating-modal_show');
        });

        $('.rating-modal__close').click(function (e) {
            e.preventDefault();
            $('.rating-modal').toggleClass('rating-modal_show');
        });

        // $('select').selectBox({
        //     mobile: true,
        // });
        $('select').selectric();

        $('.rating-list-wrap .rating-list__card-head').click(function () {
            $(this).toggleClass('rating-list__card-head_show');
            var $body = $(this).closest('.rating-list').find('.rating-list__card-body');
            $body.toggleClass('rating-list__card-body_show');
        });

    });
</script>
</body>
</html>