<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title></title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
<header class="header">
    <div class="container header-box">
        <button class="header-menu-btn toggle"><span></span></button>
        <a class="logo" href="#">
            <img class="logo__img" src="../images/logo.svg" alt="">
        </a>
        <div class="header-nav-box">
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a class="header-nav__link header-nav__link_active" href="#">О нас</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Продукты</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Технологии</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="content content_pt">
                    <h1>О нас</h1>
                    <p>Viartech – команда разработчиков, создающая удивительные продукты
                        на базе дополненной реальности. Мы на примере своих проектов хотим
                        показать миру, что удачное применение дополненной реальности не
                        ограничивается развлекательными приложениями: она уже сегодня может
                        приносить людям пользу в огромном количестве областей.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="team">
        <div class="container">
            <h2 class="team__title">Руководство компании</h2>
            <div class="team-list">
                <div class="team-list__item">
                    <div class="team-list__img-box">
                        <img class="team-list__img" src="../images/team/01.png" srcset="../images/team/01@2x.png 2x"
                             alt="">
                    </div>
                    <div class="team-list__detail">
                        <h3 class="team-list__title">Денис Перфильев</h3>
                        <p class="team-list__position">Генеральный директор</p>
                    </div>
                </div>
            </div>
            <div class="team-list">
                <div class="team-list__item">
                    <div class="team-list__img-box">
                        <img class="team-list__img" src="../images/team/04.png" srcset="../images/team/04@2x.png 2x"
                             alt="">
                    </div>
                    <div class="team-list__detail">
                        <h3 class="team-list__title">Серж Четвертной</h3>
                        <p class="team-list__position">Директор по продажам</p>
                    </div>
                </div>
            </div>
            <div class="team-list">
                <div class="team-list__item">
                    <div class="team-list__img-box">
                        <img class="team-list__img" src="../images/team/03.png" srcset="../images/team/03@2x.png 2x"
                             alt="">
                    </div>
                    <div class="team-list__detail">
                        <h3 class="team-list__title">Андрей Бельский</h3>
                        <p class="team-list__position">Финансовый директор</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <p class="footer__text">Copyright © 2011–2018 Viartech.</p>
</footer>
<div class="header-nav-mask"></div>
<!--<div class="social">-->
<!--<a class="social__link" href="#">-->
<!--<img class="social__img" src="../images/social/tm.svg" alt="">-->
<!--</a>-->
<!--<a class="social__link" href="#">-->
<!--<img class="social__img" src="../images/social/tw.svg" alt="">-->
<!--</a>-->
<!--<a class="social__link" href="#">-->
<!--<img class="social__img" src="../images/social/inst.svg" alt="">-->
<!--</a>-->
<!--<a class="social__link" href="#">-->
<!--<img class="social__img" src="../images/social/fb.svg" alt="">-->
<!--</a>-->
<!--</div>-->

<script src="../vendors/jquery-2.2.4.min.js"></script>

<script>
    $(document).ready(function () {

        $('.header-menu-btn').click(function (e) {
            e.preventDefault();
            $('.header-nav-box, .header-nav-mask, .header-menu-btn, body').toggleClass('toggled');
        });

        $('.header-nav-mask').click(function (e) {
            e.preventDefault();
            $('.header-nav-box, .header-nav-mask, .header-menu-btn, body').toggleClass('toggled');
        });

    });
</script>
</body>
</html>