<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title></title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
<header class="header">
    <div class="container header-box">
        <a class="logo" href="#">
            <img class="logo__img" src="../images/logo.svg" alt="">
        </a>
        <div class="header-nav-box">
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a class="header-nav__link header-nav__link_active" href="#">О нас</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Продукты</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Технологии</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner">
                    <h1 class="banner__title">Дополненная реальность сделает жизнь людей лучше. Уже сегодня.</h1>
                </div>
            </div>
        </div>
    </div>
</main>
<!--<footer class="footer">-->
    <!--3-->
<!--</footer>-->
<div class="scroll">
    <img class="scroll__img" src="../images/scroll.svg" alt="">
    <div class="scroll__text">Scroll down</div>
</div>
<div class="social">
    <a class="social__link" href="#">
        <img class="social__img" src="../images/social/tm.svg" alt="">
    </a>
    <a class="social__link" href="#">
        <img class="social__img" src="../images/social/tw.svg" alt="">
    </a>
    <a class="social__link" href="#">
        <img class="social__img" src="../images/social/inst.svg" alt="">
    </a>
    <a class="social__link" href="#">
        <img class="social__img" src="../images/social/fb.svg" alt="">
    </a>
</div>
<div class="banner-img"></div>

<script src="../vendors/jquery-2.2.4.min.js"></script>

<script>
    $(document).ready(function () {

        // $('.header-menu-btn').click(function (e) {
        //     e.preventDefault();
        //     $('.header-nav').toggleClass('toggled');
        // });

    });
</script>
</body>
</html>