<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title></title>
    <link rel="stylesheet" href="../styles/index.css?12345">
</head>
<body>
<header class="header">
    <div class="container header-box">
        <button class="header-menu-btn toggle"><span></span></button>
        <a class="logo" href="#">
            <img class="logo__img" src="../images/logo.svg" alt="">
        </a>
        <div class="header-nav-box">
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">О нас</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link header-nav__link_active" href="#">Продукты</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Технологии</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<main class="main">
    <!--<div class="container container_mh-2">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-6 col-md-12">-->
    <!--<div class="content content_pt content_pb">-->
    <!--<h1>Наши продукты</h1>-->
    <!--<p>Представьте, что граница между виртуальным и реальным мирами-->
    <!--исчезла. Можно отправиться в открытый космос прямо на уроке.-->
    <!--Увидеть прошлое так же ясно, как и настоящее. Посмотреть на-->
    <!--привычные вещи совершенно по-новому. Всё это можно сделать-->
    <!--с помощью дополненной реальности уже сейчас. Дополненная-->
    <!--реальность изменит ваше представление о работе, учёбе, играх-->
    <!--и взаимодействии с окружающим миром. И это только начало.</p>-->
    <!--<h3>Добро пожаловать в новый мир</h3>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="banner-img-box-nf">-->
    <!--<div class="banner-img-box-nf__img"></div>-->
    <!--</div>-->
    <!--<div class="section-bg section-bg_1">-->
    <!--<div class="section section_bgn section_pn">-->
    <!--<div class="section-head">-->
    <!--<div class="section-head__title">Навигация</div>-->
    <!--<img class="section-head__img" src="../images/logo_sm.svg" alt="">-->
    <!--</div>-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-6 col-md-12">-->
    <!--<div class="content content_pt content_pr content_card">-->
    <!--<h2>Навигация</h2>-->
    <!--<p>Теперь вам не нужно отвлекаться на карту,-->
    <!--когда вы пытаетесь сориентироваться на-->
    <!--местности. Что бы вы не искали:-->
    <!--достопримечательности в незнакомом-->
    <!--городе, нужный бутик внутри торгового-->
    <!--центра или просто запланировали-->
    <!--путешествие, дополненная реальность-->
    <!--все сделает за вас и укажет вам путь.</p>-->
    <!--<p class="content__btn-wrap content__btn-wrap_tar"><a class="btn" href="#">Читать далее</a>-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-6 col-md-12 hide-md">-->
    <!--<div class="content">-->
    <!--<img src="../images/product/1.jpg" alt="">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="section-bg__mask"></div>-->
    <!--</div>-->

    <!--<div class="section-bg section-bg_ptbn section-bg_1">-->
        <div class="section section_pn">
            <!--<div class="section-head">-->
                <!--<div class="section-head__title">Навигация</div>-->
                <!--<img class="section-head__img" src="../images/logo_sm.svg" alt="">-->
            <!--</div>-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="content content_pt content_pr content_card">
                            <h1>Навигация</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 hide-md">
                        <div class="content">
                            <img src="../images/product/1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="section-bg__mask"></div>-->
    <!--</div>-->

    <!--<div class="section-bg section-bg_ptbn section-bg_1">-->
        <div class="section section_pn">
            <!--<div class="section-head">-->
                <!--<div class="section-head__title">Навигация</div>-->
                <!--<img class="section-head__img" src="../images/logo_sm.svg" alt="">-->
            <!--</div>-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="content">
                            <img src="../images/product/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="content content_pt content_pl content_card">
                            <h2>Навигация на местности</h2>
                            <p>Путешествуйте по миру, с легкостью находя интересные объекты и достопримечательности;
                                перемещайтесь по офисам, служебным и техническим помещениям с устройством, отображающим
                                навигационную, справочную информацию, медиа-контент и объекты дополненной
                                реальности.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="section-bg__mask"></div>-->
    <!--</div>-->

</main>

<div class="header-nav-mask"></div>

<script src="../vendors/jquery-2.2.4.min.js"></script>

<script>
    $(document).ready(function () {

        $('.header-menu-btn').click(function (e) {
            e.preventDefault();
            $('.header-nav-box, .header-nav-mask, .header-menu-btn, body').toggleClass('toggled');
        });

        $('.header-nav-mask').click(function (e) {
            e.preventDefault();
            $('.header-nav-box, .header-nav-mask, .header-menu-btn, body').toggleClass('toggled');
        });

    });
</script>
</body>
</html>