<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title></title>
    <link rel="stylesheet" href="../styles/index.css?1234567">
</head>
<body>
<header class="header">
    <div class="container header-box">
        <button class="header-menu-btn toggle"><span></span></button>
        <a class="logo" href="#">
            <img class="logo__img" src="../images/logo.svg" alt="">
        </a>
        <div class="header-nav-box">
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">О нас</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link header-nav__link_active" href="#">Продукты</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Технологии</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<main class="main">
    <div class="container container_mh-2">
        <div class="row">
            <div class="col-lg-6 col-md-12 content-md content-md_pt">
                <div class="content content_pt content_pb content_pr">
                    <h1>Навигация</h1>
                    <p>С навигацией в дополненной
                        реальности вы сможете быстро и
                        легко сориентироваться в
                        незнакомом месте, будь это парк,
                        офис или метро.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 hide-md">
                <div class="content content_pt">
                    <img src="../images/product/1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="section-bg section-bg_ptbn section-bg_1">
        <div class="section section_bgn section_pn">
            <div class="section-head">
                <div class="section-head__title">Навигация на местности</div>
                <img class="section-head__img" src="../images/logo_sm.svg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 hide-md">
                        <div class="content">
                            <img src="../images/product/1.jpg" alt="">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 content-md">
                        <div class="content content_pt content_pl content_card">
                            <h2>Навигация на местности</h2>
                            <p>Путешествуйте по миру, с
                                легкостью находя интересные
                                объекты и достопримечательности;
                                перемещайтесь по офисам,
                                служебным и техническим
                                помещениям с устройством,
                                отображающим навигационную,
                                справочную информацию, медиа-
                                контент и объекты дополненной
                                реальности.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-bg__mask"></div>
    </div>

    <div class="section-bg section-bg_ptbn section-bg_1">
        <div class="section section_bgn section_pn">
            <div class="section-head">
                <div class="section-head__title">Навигация в парках</div>
                <img class="section-head__img" src="../images/logo_sm.svg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 content-md">
                        <div class="content content_pt content_pr content_card">
                            <h2>Навигация в парках</h2>
                            <p>Распознавание уличных объектов
                                и достопримечательностей в
                                реальном времени расскажет вам
                                историю места, в котором вы
                                находитесь. Использование GPS
                                навигации и привязки к местности
                                не даст вам потеряться.
                                Изображение с камеры вашего
                                девайса будет аккуратно
                                дополнено виртуальными
                                информационными слоями и
                                данными об объектах.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 hide-md">
                        <div class="content">
                            <img src="../images/product/1.jpg" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="section-bg__mask"></div>
    </div>

    <div class="section-bg section-bg_ptbn section-bg_1">
        <div class="section section_bgn section_pn">
            <div class="section-head">
                <div class="section-head__title">Навигация на складах</div>
                <img class="section-head__img" src="../images/logo_sm.svg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 hide-md">
                        <div class="content">
                            <img src="../images/product/1.jpg" alt="">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 content-md">
                        <div class="content content_pt content_pl content_card">
                            <h2>Навигация на складах</h2>
                            <p>Визуальная система навигации на
                                складах с точностью до стеллажа.
                                Может быть дополнена системой
                                визуального контроля хранимых на
                                складах материально-
                                технических средств без вскрытия
                                их контейнеров и нарушения
                                условий хранения.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="footer-text-in-section">Copyright © 2011–2018 Viartech.</p>
        <div class="section-bg__mask"></div>
    </div>


</main>

<div class="header-nav-mask"></div>

<script src="../vendors/jquery-2.2.4.min.js"></script>

<script>
    $(document).ready(function () {

        $('.header-menu-btn').click(function (e) {
            e.preventDefault();
            $('.header-nav-box, .header-nav-mask, .header-menu-btn, body').toggleClass('toggled');
        });

        $('.header-nav-mask').click(function (e) {
            e.preventDefault();
            $('.header-nav-box, .header-nav-mask, .header-menu-btn, body').toggleClass('toggled');
        });

    });
</script>
</body>
</html>