<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title></title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
<header class="header">
    <div class="container header-box">
        <a class="logo" href="#">
            <img class="logo__img" src="../images/logo.svg" alt="">
        </a>
        <div class="header-nav-box">
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">О нас</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Продукты</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link header-nav__link_active" href="#">Технологии</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content content_pt content_pb">
                    <h1>Наши технологии</h1>
                    <p>Если мы не можем решить задачу с помощью
                        существующих технологий – мы создаем свои.
                        Мы нацелены на то, чтобы наш пользователь
                        получил передовой продукт, который вызывает
                        восхищение и выполняет поставленные перед
                        ним задачи.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section-bg section-bg_1">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="content content_pt content_pr">
                            <h2>Смешанная реальность</h2>
                            <p>Технология смешанной реальности
                                встраивает в окружающий мир
                                виртуальные объекты таким образом,
                                что они становятся неотличимы от
                                физических. Пример технологии – наш
                                физический макет фрагмента города,
                                по которому гуляют виртуальные люди.</p>
                            <p class="content__btn-wrap content__btn-wrap_tar"><a class="btn" href="#">Читать далее</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content">
                            <img src="../images/product/1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-bg section-bg_2">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="content">
                            <img src="../images/product/6.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content content_pt content_pl">
                            <h2>Нейросетевые технологии</h2>
                            <p>Умение создавать и обучать нейросети
                                позволяют нашим приложениям распознавать
                                любые объекты. С их помощью мы можем
                                привязывать дополненную реальность к
                                любым физическим объектам, отслеживать
                                их перемещение и делать реалистичное
                                взаимодействие виртуального и
                                реального мира.</p>
                            <p class="content__btn-wrap content__btn-wrap_tar"><a class="btn" href="#">Читать далее</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-bg section-bg_3">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="content content_pt content_pr">
                            <h2>Облачный рендеринг</h2>
                            <p>Разработанная нами технология облачных
                                вычислений и потоковой передачи данных
                                позволяют организовать коллективный
                                просмотр дополненной реальности и
                                значительно повысить уровень графики
                                на любых мобильных устройствах.</p>
                            <p class="content__btn-wrap content__btn-wrap_tar"><a class="btn" href="#">Читать далее</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content">
                            <img src="../images/product/7.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <p class="footer__text">Copyright © 2011–2018 Viartech.</p>
</footer>
<!--<div class="banner-img"></div>-->
<div class="social">
    <a class="social__link" href="#">
        <img class="social__img" src="../images/social/tm.svg" alt="">
    </a>
    <a class="social__link" href="#">
        <img class="social__img" src="../images/social/tw.svg" alt="">
    </a>
    <a class="social__link" href="#">
        <img class="social__img" src="../images/social/inst.svg" alt="">
    </a>
    <a class="social__link" href="#">
        <img class="social__img" src="../images/social/fb.svg" alt="">
    </a>
</div>
<!--<div class="scroll">-->
<!--<img class="scroll__img" src="../images/scroll.svg" alt="">-->
<!--<div class="scroll__text">Scroll down</div>-->
<!--</div>-->

<script src="../vendors/jquery-2.2.4.min.js"></script>

<script>
    $(document).ready(function () {

        // $('.header-menu-btn').click(function (e) {
        //     e.preventDefault();
        //     $('.header-nav').toggleClass('toggled');
        // });

    });
</script>
</body>
</html>