<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title></title>
    <link rel="stylesheet" href="../styles/index.css?12345">
</head>
<body>
<header class="header">
    <div class="container header-box">
        <button class="header-menu-btn toggle"><span></span></button>
        <a class="logo" href="#">
            <img class="logo__img" src="../images/logo.svg" alt="">
        </a>
        <div class="header-nav-box">
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">О нас</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Продукты</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link header-nav__link_active" href="#">Технологии</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<main class="main">
    <div class="container container_mh">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="content content_pt content_pb">
                    <h1>Наши технологии</h1>
                    <p>Если мы не можем решить задачу с помощью существующих технологий – мы создаем свои. Мы нацелены
                        на то, чтобы наш пользователь получил передовой продукт, который вызывает восхищение и выполняет
                        поставленные перед ним задачи.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-img-box-nf">
        <div class="banner-img-box-nf__img-2"></div>
    </div>
    <div class="section-bg section-bg_8">
        <div class="section section_bgn section_pn">
            <div class="section-head">
                <div class="section-head__title">Смешанная реальность
                </div>
                <img class="section-head__img" src="../images/logo_sm.svg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="content content_pt content_pr content_card">
                            <h2>Смешанная реальность</h2>
                            <p>Технология смешанной реальности
                                встраивает в окружающий мир
                                виртуальные объекты таким образом,
                                что они становятся неотличимы от
                                физических. Пример технологии – наш
                                физический макет фрагмента города,
                                по которому гуляют виртуальные люди.</p>
                            <p class="content__btn-wrap content__btn-wrap_tar"><a class="btn" href="#">Читать далее</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 hide-md">
                        <div class="content">
                            <img src="../images/product/14.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-bg__mask"></div>
    </div>
    <div class="section-bg section-bg_ptbn section-bg_9">
        <div class="section section_bgn section_pn">
            <div class="section-head">
                <div class="section-head__title">Нейросетевые технологии</div>
                <img class="section-head__img" src="../images/logo_sm.svg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 hide-md">
                        <div class="content">
                            <img src="../images/product/15.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="content content_pt content_pl content_card">
                            <h2>Нейросетевые технологии</h2>
                            <p>Умение создавать и обучать нейросети
                                позволяют нашим приложениям распознавать
                                любые объекты. С их помощью мы можем
                                привязывать дополненную реальность к
                                любым физическим объектам, отслеживать
                                их перемещение и делать реалистичное
                                взаимодействие виртуального и
                                реального мира.</p>
                            <p class="content__btn-wrap content__btn-wrap_tar"><a class="btn" href="#">Читать далее</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-bg__mask"></div>
    </div>
    <div class="section-bg section-bg_10">
        <div class="section section_bgn section_pn">
            <div class="section-head">
                <div class="section-head__title">Облачный рендеринг</div>
                <img class="section-head__img" src="../images/logo_sm.svg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="content content_pt content_pr content_card">
                            <h2>Облачный рендеринг</h2>
                            <p>Разработанная нами технология облачных
                                вычислений и потоковой передачи данных
                                позволяют организовать коллективный
                                просмотр дополненной реальности и
                                значительно повысить уровень графики
                                на любых мобильных устройствах.</p>
                            <p class="content__btn-wrap content__btn-wrap_tar"><a class="btn" href="#">Читать далее</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 hide-md">
                        <div class="content">
                            <img src="../images/product/16.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="footer-text-in-section">Copyright © 2011–2018 Viartech.</p>
        <div class="section-bg__mask"></div>
    </div>
</main>
<div class="header-nav-mask"></div>

<script src="../vendors/jquery-2.2.4.min.js"></script>

<script>
    $(document).ready(function () {

        $('.header-menu-btn').click(function (e) {
            e.preventDefault();
            $('.header-nav-box, .header-nav-mask, .header-menu-btn, body').toggleClass('toggled');
        });

        $('.header-nav-mask').click(function (e) {
            e.preventDefault();
            $('.header-nav-box, .header-nav-mask, .header-menu-btn, body').toggleClass('toggled');
        });

    });
</script>
</body>
</html>