<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>Algoritmix</title>
    <link rel="stylesheet" href="../../styles/landing/index.css">
    <link rel="stylesheet" href="../../vendors/owl-carousel/dist/assets/owl.carousel.min.css">
</head>
<body class="">
<header class="header">
    <div class="container">
        <div class="header__wrap">
            <a href="#" class="header__logo">
                <img class="header__logo-img" src="../../images/landing/logo.svg" alt="Algoritmix">
            </a>
            <ul class="header__nav">
                <li class="header__nav-item">
                    <a class="btn" href="#">Регистрация</a>
                </li>
                <li class="header__nav-item">
                    <a class="btn-link" href="#">Войти</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="container">
    <div class="banner">
        <h1 class="banner__title">Промышленный <br> майнинг</h1>
        <p class="banner__teaser">Со-инвестирование в криптовалюты</p>
        <ul class="banner__nav">
            <li class="banner__nav-item">
                <a class="btn btn_gd" href="#">Стать инвестором</a>
            </li>
            <li class="banner__nav-item">
                <a class="btn-link btn-link_bl" href="#">Расчёт инвестиций</a>
            </li>
        </ul>
        <p class="banner__detail">
            Капитализация криптовалют растет с каждым днём.
            Курс биткоина уже $4,600.00. Но добыть его дешевле.
            С нами.
        </p>
    </div>
    <!--<div class="cube">-->
        <!--<div class="cube__main"></div>-->
        <!--<div class="cube__ctr"></div>-->
        <!--<div class="cube__gr cube__gr_1"></div>-->
        <!--<div class="cube__gr cube__gr_2"></div>-->
        <!--<div class="cube__gr cube__gr_3"></div>-->
        <!--<div class="cube__gr cube__gr_4"></div>-->
        <!--<div class="cube__grad"></div>-->
        <!--<div class="cube__gr cube__gr_5"></div>-->
    <!--</div>-->
    <div class="grid">
        <div class="col-9 col-md-12">
            <div class="video">
                <h2 class="video__title">Можно ли законно <br> купить биткоин?</h2>
                <a class="btn btn_ic" href="#"><span class="btn_ic__text">Смотреть</span></a>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-6 col-md-12 col_pr">
            <div class="card">
                <h3 class="card__title">Это выгодно</h3>
                <img class="card__img card__img_1" src="../../images/landing/card/card-1@2x.png" alt="Это выгодно">
                <p class="card__description">
                    Мы создали самый выгодный способ приобретения криптовалюты
                </p>
                <ul class="card__list">
                    <li class="card__list-item">
                        <div class="card__list-item-wrap">
                            <h4 class="card__list-item-title">Batch method</h4>
                            <p class="card__list-item-description">Экспертиза аналитиков под каждую партию и прямые
                                поставки с завода</p>
                        </div>
                    </li>
                    <li class="card__list-item">
                        <div class="card__list-item-wrap">
                            <h4 class="card__list-item-title">Algo-модуль</h4>
                            <p class="card__list-item-description">Кратчайшие сроки между оплатой и пуско-наладкой</p>
                        </div>
                    </li>
                    <li class="card__list-item">
                        <div class="card__list-item-wrap">
                            <h4 class="card__list-item-title">MAX КПД</h4>
                            <p class="card__list-item-description">Бесплатный холод Крайнего Севера</p>
                        </div>
                    </li>
                    <li class="card__list-item">
                        <div class="card__list-item-wrap">
                            <h4 class="card__list-item-title">$0,01 kWh</h4>
                            <p class="card__list-item-description">Самая дешевая в мире электроэнергия</p>
                        </div>
                    </li>
                    <li class="card__list-item">
                        <div class="card__list-item-wrap">
                            <h4 class="card__list-item-title">$0.07 kWh</h4>
                            <p class="card__list-item-description">Минимальные комиссии за обслуживание и аренду</p>
                        </div>
                    </li>
                    <li class="card__list-item">
                        <div class="card__list-item-wrap">
                            <h4 class="card__list-item-title">93% uptime</h4>
                            <p class="card__list-item-description">собственный с/ц</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card card_mt-90 card_plr-60">
                <h3 class="card__title">Это легально</h3>
                <img class="card__img card__img_3 card__img_ml-60" src="../../images/landing/card/card-3@2x.png"
                     alt="Это легально">
                <p class="card__description">
                    Сегодня промышленный майнинг — это единственный законный способ купить криптовалюту за рубли. При
                    этом поставку, наладку и обслуживание оборудования 24/7 мы взяли на себя, а контроль за доходами — в
                    вашем личном кабинете.
                </p>
            </div>
        </div>
        <div class="col-6 col-md-12 col_pl">
            <div class="card card_mt-575 card_plr-60">
                <h3 class="card__title">Это надежно</h3>
                <img class="card__img card__img_2" src="../../images/landing/card/card-2@2x.png" alt="Это надежно">
                <p class="card__description">
                    Владельцу уже введенных вычислительных мощностей невыгодно делиться с вами прибылью: либо ставка
                    аренды выше реальных доходов от майнинга, либо перед вами пирамида. В отличие от «облачного»
                    контракта, с Algoritmix вы инвестируете в реальное оборудо-вание, приобретая право собственности на
                    него.
                </p>
            </div>
        </div>
    </div>
    <div class="section">
        <h2 class="section__title">Как это работает</h2>
        <div class="plus owl-carousel">
            <div class="plus__item plus__item_ar">
                <div class="plus__img plus__img_1"></div>
                <h3 class="plus__title">Вы бронируете<br> майнеры</h3>
                <div class="plus__description-wrap">
                    <p class="plus__description">Мы дозаполним последний модуль, если не набралась необходимая сумма</p>
                </div>
            </div>
            <div class="plus__item plus__item_ar">
                <div class="plus__img plus__img_2"></div>
                <h3 class="plus__title">Оптовая партия <br> изготавливается на заводе</h3>
                <div class="plus__description-wrap">
                    <p class="plus__description">Она может быть меньше объявленной, кратно выкупленным модулям</p>
                </div>
            </div>
            <div class="plus__item plus__item_ar">
                <div class="plus__img plus__img_3"></div>
                <h3 class="plus__title">Быстрое развертывание<br> модулей фермы</h3>
                <div class="plus__description-wrap">
                    <p class="plus__description">Без инвестиций в избыточную инфраструктуру</p>
                </div>
            </div>
            <div class="plus__item">
                <div class="plus__img plus__img_4"></div>
                <h3 class="plus__title">Вы управляете доходом<br> в личном кабинете</h3>
                <div class="plus__description-wrap">
                    <p class="plus__description">Но по истечении 4 мес обслуживания вправе забрать оборудование</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <h2 class="section__title">Первая партия</h2>
        <p class="part-description">10 модулей, 3,5 МВт, 1820 единиц. Республика Саха, Якутия. п. Кызыл-Сыр</p>
        <div class="part-card">
            <div class="part-card__tb">
                <div class="part-card__rw">
                    <div class="part-card__cl"><span class="part-card__text-1">Поставка</span></div>
                    <div class="part-card__cl"><span class="part-card__text-2">01 Декабря 2017</span></div>
                </div>
                <div class="part-card__dl"></div>
                <div class="part-card__rw">
                    <div class="part-card__cl"><span class="part-card__text-1">Запуск</span></div>
                    <div class="part-card__cl"><span class="part-card__text-2">02 Января 2018</span></div>
                </div>
            </div>
            <div class="part-card__price-wrap">
                <div class="part-card__price">$ 255,325</div>
                <div class="part-card__price-check">
                    <div class="part-card__price-check-item"></div>
                    <div class="part-card__price-check-item"></div>
                    <div class="part-card__price-check-item"></div>
                    <div class="part-card__price-check-item"></div>
                    <div class="part-card__price-check-item"></div>
                    <div class="part-card__price-check-item part-card__price-check-item_n"></div>
                    <div class="part-card__price-check-item part-card__price-check-item_n"></div>
                    <div class="part-card__price-check-item part-card__price-check-item_n"></div>
                    <div class="part-card__price-check-item part-card__price-check-item_n"></div>
                    <div class="part-card__price-check-item part-card__price-check-item_n"></div>
                </div>
            </div>
            <div class="part-card__days-wrap">
                <div class="part-card__days">
                    <span class="part-card__days-count">145</span>
                </div>
                <div class="part-card__days-detail">Дней осталось</div>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-6 col_pr">

            <div class="chart-box">

                <div id="chartPie" class="chart-pie">
                </div>

                <a href="#" class="chart-box__link">Как выбрано?</a>

            </div>

        </div>
        <div class="col-6 col_pl">
            <div class="section-sm">
                <h2 class="section-sm__title">Доступны</h2>
                <div class="progress-wrap">
                    <div class="progress-tb">
                        <div class="progress">
                            <div class="progress__bar" style="width: 50%">
                                <span class="progress__title">Antminer S9</span>
                                <div class="progress__bar-dropdown">
                                    <div class="progress__bar-dropdown-header">
                                        <p class="progress__bar-dropdown-header-t">Antminer D3</p>
                                        <p class="progress__bar-dropdown-header-b">Dash</p>
                                    </div>
                                    <div class="progress__bar-dropdown-nav">
                                        <div class="progress__bar-dropdown-nav-item">
                                            <p class="progress__bar-dropdown-nav-item-t">Хэшрейт</p>
                                            <p class="progress__bar-dropdown-nav-item-m">504 MH/s</p>
                                        </div>
                                        <div class="progress__bar-dropdown-nav-item">
                                            <p class="progress__bar-dropdown-nav-item-t">Потребляемая мощность</p>
                                            <p class="progress__bar-dropdown-nav-item-m">800 W</p>
                                            <p class="progress__bar-dropdown-nav-item-b">+7% БП, +11% Вентиляция</p>
                                        </div>
                                        <div class="progress__bar-dropdown-nav-item">
                                            <p class="progress__bar-dropdown-nav-item-t">Чип</p>
                                            <p class="progress__bar-dropdown-nav-item-m">BM1485 <span>14нм</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-count">123 единиц</div>
                    </div>
                    <div class="progress-tb">
                        <div class="progress">
                            <div class="progress__bar" style="width: 30%">
                                <span class="progress__title">Antminer L3+</span>
                            </div>
                        </div>
                        <div class="progress-count">80 единиц</div>
                    </div>
                    <div class="progress-tb">
                        <div class="progress">
                            <div class="progress__bar" style="width: 100%">
                                <span class="progress__title">Antminer D3</span>
                                <div class="progress__bar-dropdown">
                                    <div class="progress__bar-dropdown-header">
                                        <p class="progress__bar-dropdown-header-t">Antminer D3</p>
                                        <p class="progress__bar-dropdown-header-b">Dash</p>
                                    </div>
                                    <div class="progress__bar-dropdown-nav">
                                        <div class="progress__bar-dropdown-nav-item">
                                            <p class="progress__bar-dropdown-nav-item-t">Хэшрейт</p>
                                            <p class="progress__bar-dropdown-nav-item-m">504 MH/s</p>
                                        </div>
                                        <div class="progress__bar-dropdown-nav-item">
                                            <p class="progress__bar-dropdown-nav-item-t">Потребляемая мощность</p>
                                            <p class="progress__bar-dropdown-nav-item-m">800 W</p>
                                            <p class="progress__bar-dropdown-nav-item-b">+7% БП, +11% Вентиляция</p>
                                        </div>
                                        <div class="progress__bar-dropdown-nav-item">
                                            <p class="progress__bar-dropdown-nav-item-t">Чип</p>
                                            <p class="progress__bar-dropdown-nav-item-m">BM1485 <span>14нм</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-count">15 единиц</div>
                    </div>
                    <div class="progress-tb">
                        <div class="progress">
                            <div class="progress__bar" style="width: 35%">
                                <span class="progress__title">GPU</span>
                            </div>
                        </div>
                        <div class="progress-count">35 единиц</div>
                    </div>
                </div>
                <ul class="section-sm__nav">
                    <li class="section-sm__nav-item">
                        <a class="btn btn_gd" href="#">Стать инвестором</a>
                    </li>
                    <li class="section-sm__nav-item section-sm__nav-item_arrow">
                        <a class="btn-link btn-link_bl" href="#">Расчёт инвестиций</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="bg-drk">
    <div class="container">
        <div class="grid">
            <div class="col-6 col_pr col_md-pr">
                <div class="section-sm-drk">
                    <h2 class="section-sm-drk__title">Вы инвестируете</h2>
                    <div class="investing">
                        <div class="investing__input-wrap">
                            <button class="investing__arrow"></button>
                            <span class="investing__currency">$</span>
                            <input class="investing__input" type="text" value="100,000.00">
                        </div>
                    </div>
                    <ul class="investing__tab">
                        <li class="investing__tab-item investing__tab-item_icon"></li>
                        <li class="investing__tab-item">
                            <button class="investing__tab-btn investing__tab-btn_active">Консервативный</button>
                        </li>
                        <li class="investing__tab-item">
                            <button class="investing__tab-btn">Cбалансированный</button>
                        </li>
                        <li class="investing__tab-item">
                            <button class="investing__tab-btn">Агрессивный</button>
                        </li>
                    </ul>
                    <ul class="investing__range-list">
                        <li class="investing__range-item">
                            <div class="investing__range-wrap">
                                <div class="investing__range-text">
                                    <span class="investing__range-title">Bitcoin</span>
                                    <span class="investing__range-title-sub">(S9, 1.35 КВт/Ч, 300 THs, $10.000)</span>
                                </div>
                                <div class="investing__range-count">120 единиц</div>
                            </div>
                            <div class="investing__range-bar">
                                <input type="range" min="0" max="100" value="50"/>
                            </div>
                        </li>
                        <li class="investing__range-item">
                            <div class="investing__range-wrap">
                                <div class="investing__range-text">
                                    <span class="investing__range-title">Litecoin</span>
                                    <span class="investing__range-title-sub">(L3+, 1.5 КВт/Ч, 200 MHs, $5.000)</span>
                                </div>
                                <div class="investing__range-count">80 единиц</div>
                            </div>
                            <div class="investing__range-bar">
                                <input type="range" min="0" max="100" value="35"/>
                            </div>
                        </li>

                        <li class="investing__range-item">
                            <div class="investing__range-wrap">
                                <div class="investing__range-text">
                                    <span class="investing__range-title investing__range-title_grey">Dash</span>
                                    <span class="investing__range-title-sub">(D9, 0.9 КВт/Ч, 300 MHs, $3.000)</span>
                                </div>
                                <div class="investing__range-count">0 единиц</div>
                            </div>
                            <div class="investing__range-bar">
                                <input type="range" min="0" max="100" value="0"/>
                            </div>
                        </li>

                        <li class="investing__range-item">
                            <div class="investing__range-wrap">
                                <div class="investing__range-text">
                                    <span class="investing__range-title">GPU</span>
                                    <span class="investing__range-title-sub">(343, 1.35 КВт/Ч, 300 MHs, $1.000)</span>
                                </div>
                                <div class="investing__range-count">40 единиц</div>
                            </div>
                            <div class="investing__range-bar">
                                <input type="range" min="0" max="100" value="20"/>
                            </div>
                        </li>

                    </ul>
                    <ul class="section-sm__nav section-sm__nav_investing">
                        <li class="section-sm__nav-item">
                            <a class="btn btn_gd btn_w200" href="#">Купить</a>
                        </li>
                        <li class="section-sm__nav-item">
                            <span class="investing-info">Включены: блок питания, доставка, таможня, ндс, обслуживание.</span>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-6 col_pl col_md-pl">
                <div class="section-sm-drk">
                    <h2 class="section-sm-drk__title">Вы получаете</h2>
                    <div class="get">
                        <h3 class="get__title">BTC 29.59 <span>($148,000)</span></h3>
                        <p class="get__description">(в т.ч. BTC 10, LTC 15, DASH 200, GPU 30)</p>
                        <div class="get__tab-wrap">
                            <ul class="get__tab">
                                <li class="get__tab-item">
                                    <button class="get__tab-btn get__tab-btn_active">Общий</button>
                                </li>
                                <li class="get__tab-item">
                                    <button class="get__tab-btn">BTC</button>
                                </li>
                                <li class="get__tab-item">
                                    <button class="get__tab-btn">LTC</button>
                                </li>
                                <li class="get__tab-item">
                                    <button class="get__tab-btn">DASH</button>
                                </li>
                                <li class="get__tab-item">
                                    <button class="get__tab-btn">GPU</button>
                                </li>
                            </ul>

                        </div>
                        <div class="chart-info">
                            <div class="chart-info__label-wrap">
                                <span class="chart-info__label chart-info__label_1">Издержки</span>
                                <span class="chart-info__label chart-info__label_2">Доход</span>
                            </div>
                            <div class="chart-select">
                                Модель Algoritmix
                            </div>
                        </div>

                        <div id="chartCandlestick"></div>


                    </div>

                </div>
            </div>
        </div>
        <div class="section-info">Не является офертой. Данные предоставлены в информационно-аналитических целях.
            Инвестирование в криптовалюты предполагает сознание рисков. Рекомендуем инвестировать лишь сумму, которую вы
            можете позволить себе потерять.
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <ul class="footer__nav">
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Algoritmix LLC</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Как это работает</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Регистрация</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Войти</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Расчёт инвестиций</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Design by Gregory Maslov</a>
            </li>
        </ul>
    </div>
</div>

<div class="bg">
    <div class="bg__gr"></div>
    <div class="bg__container">
        <div class="bg__rmb bg__rmb_1"></div>
        <div class="bg__rmb bg__rmb_2"></div>
        <div class="bg__rmb bg__rmb_3"></div>
        <div class="bg__rmb bg__rmb_4"></div>
    </div>
    <div class="bg__wt"></div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../../vendors/owl-carousel/dist/owl.carousel.min.js"></script>
<script src="../../vendors/d3.v4.min.js"></script>
<!--<script defer src="../../js/main.js"></script>-->
<!--<script src="../../vendors/techan.min.js"></script>-->

<script>
    $(document).ready(function () {

        /* Owl-carousel */

        $(".owl-carousel").owlCarousel({
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 4,
                    nav: true,
                    loop: false,
                    mouseDrag: false,
                    margin: 15,
                }
            }
        });

        /* end Owl-carousel */

        /* Input range */

        $('input[type=range]').on('input', function (e) {
            var min = e.target.min,
                    max = e.target.max,
                    val = e.target.value;

            $(e.target).css({
                'backgroundSize': (val - min) * 100 / (max - min) + '% 100%'
            });
        }).trigger('input');

        /* end Input range */

        /* D3 pie */

        /* end D3 pie */


    });
</script>

<script>

    ////////////////////////////////////////////////////////////
    //////////////////////// Set-up ////////////////////////////
    ////////////////////////////////////////////////////////////

    var screenWidth = window.innerWidth;

    var chartWidth = 390,
        chartHeight = 430;
    var margin = {left: 20, top: 20, right: 20, bottom: 20};

    if($(window).width() >= 768){
        chartWidth = 370;
        chartHeight = 430;
        margin = {left: 40, top: 40, right: 40, bottom: 40};
        console.log(123123123);
    }


    var width = Math.min(screenWidth, chartWidth) - margin.left - margin.right,
            height = Math.min(screenWidth, chartHeight) - margin.top - margin.bottom;

    var svg = d3.select("#chartPie").append("svg")
            .attr("width", (width + margin.left + margin.right))
            .attr("height", (height + margin.top + margin.bottom))
            .append("g").attr("class", "wrapper")
            .attr("transform", "translate(" + (width / 2 + margin.left) + "," + (height / 2 + margin.top) + ")");

    //////////////////////////////////////////////////////////////
    ///////////////////// Data &  Scales /////////////////////////
    //////////////////////////////////////////////////////////////

    //Some random data
    var donutData = [
        {name: "GPU (12,2%)", value: 12.2},
        {name: "Bitcoin (24,5%)", value: 24.5},
        {name: "Litecoin (31,2%)", value: 31.2},
        {name: "Dash (19,4%)", value: 19.4},
    ];

    //Create a color scale
    //    var colorScale = d3.scale.linear()
    //            .domain([1,3.5,6])
    //            .range(["#4801ff", "#ffffbf", "#d7191c"])
    //            .interpolate(d3.interpolateHcl);

    var colorScale = d3.scaleOrdinal()
            .range(["#e6e9f0", "#5069fd", "#cdd7e7", "#f6f7fa"]);

    //Create an arc function
    var arc = d3.arc()
            .innerRadius(width * 0.75 / 2)
            .outerRadius(width * 0.75 / 2 + 45);

    //Turn the pie chart 90 degrees counter clockwise, so it starts at the left
    var pie = d3.pie()
            .startAngle(-70 * Math.PI / 180)
            .endAngle(-70 * Math.PI / 180 + 2 * Math.PI)
            .value(function (d) {
                return d.value;
            })
            .padAngle(.01)
            .sort(null);

    //////////////////////////////////////////////////////////////
    //////////////////// Create Chart //////////////////////
    //////////////////////////////////////////////////////////////

    svg.append("text")
            .attr("dy", "10px")
            .style("text-anchor", "middle")
            .attr("class", "inner-circle")
            .attr("fill", "#36454f")
            .text(function (d) {
                return '3,5 МВт';
            });

    //Create the donut slices and also the invisible arcs for the text
    svg.selectAll(".donutArcs")
            .data(pie(donutData))
            .enter().append("path")
            .attr("class", "donutArcs")
            .attr("d", arc)
            .style("fill", function (d, i) {
                if (i === 7) return "#CCCCCC"; //Other
                else return colorScale(i);
            })
            .each(function (d, i) {
                //Search pattern for everything between the start and the first capital L
                var firstArcSection = /(^.+?)L/;

                //Grab everything up to the first Line statement
                var newArc = firstArcSection.exec(d3.select(this).attr("d"))[1];
                //Replace all the comma's so that IE can handle it
                newArc = newArc.replace(/,/g, " ");

                //If the end angle lies beyond a quarter of a circle (90 degrees or pi/2)
                //flip the end and start position
                if (d.endAngle > 90 * Math.PI / 180) {
                    var startLoc = /M(.*?)A/,		//Everything between the first capital M and first capital A
                            middleLoc = /A(.*?)0 0 1/,	//Everything between the first capital A and 0 0 1
                            endLoc = /0 0 1 (.*?)$/;	//Everything between the first 0 0 1 and the end of the string (denoted by $)
                    //Flip the direction of the arc by switching the start en end point (and sweep flag)
                    //of those elements that are below the horizontal line
                    var newStart = endLoc.exec(newArc)[1];
                    var newEnd = startLoc.exec(newArc)[1];
                    var middleSec = middleLoc.exec(newArc)[1];

                    //Build up the new arc notation, set the sweep-flag to 0
                    newArc = "M" + newStart + "A" + middleSec + "0 0 0 " + newEnd;
                }//if

                //Create a new invisible arc that the text can flow along
                svg.append("path")
                        .attr("class", "hiddenDonutArcs")
                        .attr("id", "donutArc" + i)
                        .attr("d", newArc)
                        .style("fill", "none");
            });

    //Append the label names on the outside
    svg.selectAll(".donutText")
            .data(pie(donutData))
            .enter().append("text")
            .attr("class", "donutText")
            //Move the labels below the arcs for those slices with an end angle greater than 90 degrees
            .attr("dy", function (d, i) {
                return (d.endAngle > 90 * Math.PI / 180 ? 18 : -11);
            })
            .append("textPath")
            .attr("startOffset", "50%")
            .style("text-anchor", "middle")
            .attr("xlink:href", function (d, i) {
                return "#donutArc" + i;
            })
            .text(function (d) {
                return d.data.name;
            });

</script>


<script>

</script>

</body>
</html>