<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>Algoritmix</title>
    <link rel="stylesheet" href="../../styles/landing/index.css">
    <link rel="stylesheet" href="../../vendors/owl-carousel/dist/assets/owl.carousel.min.css">
</head>
<body>

<div class="modal">
    <div class="modal-dialog">
        <a class="modal__btn-close" href="#"></a>
        <div class="form-wrap">
            <div class="form__img-box">
                <img class="form__img" src="../../images/landing/logo-small.svg" alt="Algoritmix">
            </div>
            <h4 class="form__title">Вход</h4>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group has-error">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    <span id="helpBlock2" class="help-block">Неверный пароль</span>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Я согласен на обработку персональных данных
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Я согласен с пользовательским соглашением
                    </label>
                </div>
                <div class="form-btn-wrap">
                    <button type="submit" class="btn btn_gd btn_w200">Войти</button>
                </div>
            </form>
            <div class="form-link-wrap">
                <a class="btn-link btn-link_sm" href="#">Забыл пароль</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
