<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>qaazqaaz</title>
    <link rel="stylesheet" href="../../styles/landing/index.css">
    <!--<link rel="stylesheet" href="../../vendors/owlcarousel/assets/owl.carousel.min.css">-->
    <link rel="stylesheet" href="../../vendors/slick/slick.css">
    <link rel="stylesheet" href="../../vendors/slick/slick-theme.css">

    <!--[if lte IE 10]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->

</head>
<body>
<!--<header class="header">-->
<!--</header>-->
<div class="header-coin">
    <div class="container">
        <ul class="header-coin__list">
            <li class="header-coin__list-item">
                1 ETH= 0.05108105 BTC
            </li>
            <li class="header-coin__list-item">
                1 ETH= 0.05108105 BTC
            </li>
            <li class="header-coin__list-item">
                1 ETH= 0.05108105 BTC
            </li>
            <li class="header-coin__list-item">
                1 ETH= 0.05108105 BTC
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="banner">
        <div class="grid grid_banner">
            <div class="col-md-5 banner-calculation-order">
                <div class="calculation__wrap">
                    <div class="calculation">
                        <div class="calculation__title">Pulse</div>
                        <div class="calculation__top">
                            <span class="calculation__top-lt">total token sold:</span>
                            <span class="calculation__top-rt">10435535 qz</span>
                        </div>
                        <div class="calculation__card">
                            <div class="calculation__card-inside-wrap">
                                <div class="calculation-progress-top">34000300 / 5000000</div>
                                <div class="calculation-progress">
                                    <div class="calculation-progress__bar" style="width: 70%"></div>
                                </div>
                                <div class="calculation-progress-bottom">
                                    <span class="calculation-progress-bottom__col">$600 000</span>
                                    <span class="calculation-progress-bottom__col">95%</span>
                                </div>
                            </div>
                        </div>
                        <div class="calculation__card">
                            <div class="calculation-coin">
                                <li class="calculation-coin__item">
                                    <img class="calculation-coin__item-img" src="../../images/landing/coin/bitcoin.svg">
                                    <span class="calculation-coin__item-title">ETH</span>
                                    <span class="calculation-coin__item-counter">1300</span>
                                </li>
                                <li class="calculation-coin__item">
                                    <img class="calculation-coin__item-img" src="../../images/landing/coin/bitcoin.svg">
                                    <span class="calculation-coin__item-title">ETH</span>
                                    <span class="calculation-coin__item-counter">1300</span>
                                </li>
                                <li class="calculation-coin__item">
                                    <img class="calculation-coin__item-img" src="../../images/landing/coin/bitcoin.svg">
                                    <span class="calculation-coin__item-title">ETH</span>
                                    <span class="calculation-coin__item-counter">1300</span>
                                </li>
                                <li class="calculation-coin__item">
                                    <img class="calculation-coin__item-img" src="../../images/landing/coin/bitcoin.svg">
                                    <span class="calculation-coin__item-title">ETH</span>
                                    <span class="calculation-coin__item-counter">1300</span>
                                </li>
                                <li class="calculation-coin__item">
                                    <img class="calculation-coin__item-img" src="../../images/landing/coin/bitcoin.svg">
                                    <span class="calculation-coin__item-title">ETH</span>
                                    <span class="calculation-coin__item-counter">1300</span>
                                </li>
                            </div>
                        </div>
                        <div class="calculation__nav">
                            <a class="btn" href="#">Contribute</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="banner__header">
                    <div class="banner__top">
                        <span class="banner__top-date">DECEMBER, 2017</span>
                        <span class="banner__top-btn">ICO Pre-Token Sale</span>
                    </div>
                    <h1 class="banner__title">Technology empowering the strenth of opinion leaders</h1>
                    <p class="banner__description">P2P "AdWords" for native advertising through opinion leaders
                        pre-Token
                        Sale</p>
                    <ul class="banner__timer">
                        <li class="banner__timer-item">
                            <span class="banner__timer-top">00</span>
                            <span class="banner__timer-bottom">days</span>
                        </li>
                        <li class="banner__timer-item">
                            <span class="banner__timer-top">00</span>
                            <span class="banner__timer-bottom">hours</span>
                        </li>
                        <li class="banner__timer-item">
                            <span class="banner__timer-top">00</span>
                            <span class="banner__timer-bottom">minutes</span>
                        </li>
                        <li class="banner__timer-item">
                            <span class="banner__timer-top">00</span>
                            <span class="banner__timer-bottom">seconds</span>
                        </li>
                    </ul>
                    <p class="banner__timer-description">Private exchange has alredy finished. Get 50% bonus next
                        stage.</p>
                </div>
            </div>
        </div>

        <div class="banner__footer">
            <ul class="banner__footer-nav">
                <li class="banner__footer-nav-item">
                    <a class="btn" href="#">Investor Presentation</a>
                </li>
                <li class="banner__footer-nav-item">
                    <a class="btn btn_drk" href="#">MVP<span class="btn_drk_arrow"></span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card-wrap">
        <div class="card card_mt-183">
            <div class="team-item team-item_top-card">
                <div class="team-item__img team-item__img_shayahmetov"></div>
                <p class="team-item__name">DENIS SHAYAHMETOV</p>
                <p class="team-item__position">QZ founder</p>
            </div>
            <p class="card__content">We are producing P2P «AdWords» for opinion leaders native advertising market. USD
                billions are leaking to contextual advertising market. We want them to go to advertising with bloggers
                in
                the same easy and transparent way. We increase quality of advertising with bloggers, provide its
                effectiveness monitoring thus remove all the obstacles on the way to mass advertising market. Qz
                cryptocurrency is issued for convenient international P2P. We have MVP for YouTube and fast growing
                marked.
                Your support will help us to make this market bigger and more transparent.
            </p>
        </div>
    </div>

    <div class="section">
        <h2 class="section__title">Mission</h2>
        <div class="section__content">
            <div class="grid">
                <div class="col-5">
                    <div class="section__content-img-box">
                        <img class="section__content-img" src="http://via.placeholder.com/413x315" alt="">
                    </div>
                </div>
                <div class="col-7">
                    <div class="section__content-text-wrap">
                        <h3 class="section__content-title">We bring success to anyone who has special comepetences and ready to inspire</h3>
                        <p class="section__content-description">
                            Our goal is to create strong community of bloggers and creators to share their skills and success amoung others to become on-demand specialists.
                        </p>
                        <a class="btn btn_sm" href="#">Explore</a>
                        <p class="section__content-description-sub">The whitepaper</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="section__content">
            <div class="grid">
                <div class="col-7 col-order-1">
                    <div class="section__content-text-wrap section__content-text-wrap_tar">
                        <h3 class="section__content-title">We bring success to anyone who has special comepetences and ready to inspire</h3>
                        <p class="section__content-description">
                            Our goal is to create strong community of bloggers and creators to share their skills and success amoung others to become on-demand specialists.
                        </p>
                        <a class="btn btn_sm" href="#">Explore</a>
                        <p class="section__content-description-sub">The whitepaper</p>
                    </div>
                </div>
                <div class="col-5">
                    <div class="section__content-img-box section__content-img-box_tal">
                        <img class="section__content-img" src="http://via.placeholder.com/413x315" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section">
        <h2 class="section__title">Features</h2>
        <div class="section__description-wrap">
            <p class="section__description">We make native advertising market transparent</p>
        </div>
        <div class="features">
            <div class="features__item">
                <div class="features__item-img-box">
                    <img class="features__item-img" src="http://via.placeholder.com/64x64" alt="">
                </div>
                <h3 class="features__item-title">We increase bloggers advertising quality</h3>
                <p class="features__item-description">By mean of training and effect monitoring</p>
            </div>
            <div class="features__item">
                <div class="features__item-img-box">
                    <img class="features__item-img" src="http://via.placeholder.com/64x64" alt="">
                </div>
                <h3 class="features__item-title">We increase bloggers advertising quality</h3>
                <p class="features__item-description">By mean of training and effect monitoring</p>
            </div>
            <div class="features__item">
                <div class="features__item-img-box">
                    <img class="features__item-img" src="http://via.placeholder.com/64x64" alt="">
                </div>
                <h3 class="features__item-title">We increase bloggers advertising quality</h3>
                <p class="features__item-description">By mean of training and effect monitoring</p>
            </div>
            <div class="features__item">
                <div class="features__item-img-box">
                    <img class="features__item-img" src="http://via.placeholder.com/64x64" alt="">
                </div>
                <h3 class="features__item-title">We increase bloggers advertising quality</h3>
                <p class="features__item-description">By mean of training and effect monitoring</p>
            </div>
        </div>
    </div>

    <div class="section">
        <h2 class="section__title">Documentation</h2>
        <div class="section__description-wrap">
            <p class="section__description">We make native advertising market transparent</p>
        </div>
        <div class="documentation">
            <div class="documentation__item-wrap">
                <div class="documentation__item">
                    <h3 class="documentation__item-title">Whitepaper</h3>
                    <div class="documentation__item-wrap-btn">
                        <a class="btn btn_sm" href="#">Explore</a>
                    </div>
                </div>
            </div>
            <div class="documentation__item-wrap">
                <div class="documentation__item">
                    <h3 class="documentation__item-title">Whitepaper</h3>
                    <div class="documentation__item-wrap-btn">
                        <a class="btn btn_sm" href="#">Explore</a>
                    </div>
                </div>
            </div>
            <div class="documentation__item-wrap">
                <div class="documentation__item">
                    <h3 class="documentation__item-title">Whitepaper</h3>
                    <div class="documentation__item-wrap-btn">
                        <a class="btn btn_sm" href="#">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <h2 class="section__title">How does qz.com work?</h2>
        <div class="card card_mt-76" style="height: 600px"></div>
    </div>

    <div class="section">
        <h2 class="section__title">Success story</h2>
        <p class="section__description">It took us half of a year to cover 28% of popular Russian <br> speaking bloggers
        </p>
        <div class="card card_mt-76" style="height: 640px"></div>
    </div>

</div>

<div class="go">
    <div class="container">
        <div class="go__wrap">
            <h3 class="go__title">Explore the product</h3>
            <a class="btn btn_sm" href="#">Explore</a>
        </div>
    </div>
</div>

<div class="container">

    <div class="section">
        <h2 class="section__title">RoadMap</h2>
        <div class="road">
            <div class="road__item">
                <div class="road__item-img-box">
                    <img class="road__item-img" src="http://via.placeholder.com/64x64" alt="">
                </div>
                <h3 class="road__item-title">1500+ ETH</h3>
                <div class="road-line__wrap">
                    <div class="road-line-bar">
                        <div class="road-line road-line_50 road-line_dot"></div>
                        <div class="road-line road-line_50"></div>
                    </div>
                    <div class="road-line__sq"></div>
                </div>
                <div class="road__item-content">
                    <ul>
                        <li>
                            Moscow development office;
                        </li>
                        <li>
                            En deployment <img class="road__item-content-flags"
                                               src="../../images/landing/flags/united_kingdom.png" alt="united kingdom">;
                        </li>
                        <li>
                            Training coursers for popular bloggers;
                        </li>
                        <li>
                            Connection with Twitch, Facebook, Instagram and others;
                        </li>
                        <li>
                            Full functionality for the bloggers, agencies and advertisers.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="road__item">
                <div class="road__item-img-box">
                    <img class="road__item-img" src="http://via.placeholder.com/64x64" alt="">
                </div>
                <h3 class="road__item-title">7500+ ETH</h3>
                <div class="road-line__wrap">
                    <div class="road-line-bar">
                        <div class="road-line road-line_50"></div>
                        <div class="road-line road-line_50"></div>
                    </div>
                    <div class="road-line__sq"></div>
                </div>
                <div class="road__item-content">
                    <ul>
                        <li>
                            Head office & Trustee board;
                        </li>
                        <li>
                            Esp, Por, Deu, Fra, Ita, Pol, Tur; <br> deployment
                            <img class="road__item-content-flags" src="../../images/landing/flags/spain.png"
                                 alt="united kingdom"><!--
                            --><img class="road__item-content-flags" src="../../images/landing/flags/portugal.png"
                                    alt="united kingdom"><!--
                            --><img class="road__item-content-flags" src="../../images/landing/flags/germany.png"
                                    alt="united kingdom"><!--
                            --><img class="road__item-content-flags" src="../../images/landing/flags/france.png"
                                    alt="united kingdom"><!--
                            --><img class="road__item-content-flags" src="../../images/landing/flags/italy.png"
                                    alt="united kingdom"><!--
                            --><img class="road__item-content-flags" src="../../images/landing/flags/poland.png"
                                    alt="united kingdom"><!--
                            --><img class="road__item-content-flags" src="../../images/landing/flags/turkey.png"
                                    alt="united kingdom">
                            ;
                        </li>
                        <li>
                            Producers activity development;
                        </li>
                        <li>
                            Bloggers communities development;
                        </li>
                        <li>
                            VK, Pinterest, Tumblr, etc;
                        </li>
                        <li>
                            Full functionality for producers;
                        </li>
                    </ul>
                </div>
            </div>

            <div class="road__item">
                <div class="road__item-img-box">
                    <img class="road__item-img" src="http://via.placeholder.com/64x64" alt="">
                </div>
                <h3 class="road__item-title">15000+ ETH</h3>
                <div class="road-line__wrap">
                    <div class="road-line-bar">
                        <div class="road-line road-line_50"></div>
                        <div class="road-line road-line_50"></div>
                    </div>
                    <div class="road-line__sq"></div>
                </div>
                <div class="road__item-content">
                    <ul>
                        <li>
                            Regional offices abroad;
                        </li>
                        <li>
                            Jpn, Ara, Hin, Chi deployment
                            <img class="road__item-content-flags" src="../../images/landing/flags/japan.png"
                                 alt="united kingdom"><!--
                            --><img class="road__item-content-flags" src="../../images/landing/flags/palestine.png"
                                    alt="united kingdom"><!--
                            --><img class="road__item-content-flags" src="../../images/landing/flags/india.png"
                                    alt="united kingdom"><!--
                            --><img class="road__item-content-flags" src="../../images/landing/flags/china.png"
                                    alt="united kingdom">;
                        </li>
                        <li>
                            Regional agent network development;
                        </li>
                        <li>
                            Sectoral reports and analysis;
                        </li>
                        <li>
                            Connection with QZone, Sina Weibo and others;
                        </li>
                        <li>
                            Switch to OpenSource for small markets;
                        </li>
                        <li>
                            QZ volatility control scaling.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="road__item">
                <div class="road__item-img-box">
                    <img class="road__item-img" src="http://via.placeholder.com/64x64" alt="">
                </div>
                <h3 class="road__item-title">75000-100000 ETH</h3>
                <div class="road-line__wrap">
                    <div class="road-line-bar road-line-bar_arrow">
                        <div class="road-line road-line_50"></div>
                        <div class="road-line road-line_50"></div>
                    </div>
                    <div class="road-line__sq"></div>
                </div>
                <div class="road__item-content">
                    <p>
                        All the revenue of 75000 ETH will be transmitted to reserve fund for the currency volatility
                        reduction&
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="section">
        <h2 class="section__title">Advisers</h2>
        <div class="section__description-wrap">
            <p class="section__description">Our Board of Advisors afford their vast knowledge managing and advising
                QZ</p>
        </div>
        <div class="team-list">
            <div class="team-item team-item_w-25">
                <div class="team-item__img team-item__img_vasilevsky">
                    <div class="team-item__dropdown-btn">
                        <div class="team-item__dropdown">
                            Another title for this article can be “How to write an ad that will be immediately thrown
                            into a waste paper basket?”. But it is too long. In their business advertisers have to
                            follow some rules to enhance the process of customer’s perception
                        </div>
                    </div>
                </div>
                <p class="team-item__name team-item__name_bg">DENIS SHAYAHMETOV</p>
                <ul class="team-item__social">
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_in" href="#"></a>
                    </li>
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_fb" href="#"></a>
                    </li>
                </ul>
                <p class="team-item__position team-item__position_bg">QZ founder</p>
            </div>
            <div class="team-item team-item_w-25">
                <div class="team-item__img team-item__img_vasilevsky"></div>
                <p class="team-item__name team-item__name_bg">DENIS SHAYAHMETOV</p>
                <p class="team-item__position">QZ founder</p>
            </div>
            <div class="team-item team-item_w-25">
                <div class="team-item__img team-item__img_vasilevsky"></div>
                <p class="team-item__name team-item__name_bg">DENIS SHAYAHMETOV</p>
                <p class="team-item__position">QZ founder</p>
            </div>
            <div class="team-item team-item_w-25">
                <div class="team-item__img team-item__img_vasilevsky"></div>
                <p class="team-item__name team-item__name_bg">DENIS SHAYAHMETOV</p>
                <p class="team-item__position">QZ founder</p>
            </div>
        </div>
    </div>

    <div class="section">
        <h2 class="section__title">Team</h2>
        <div class="section__description-wrap">
            <p class="section__description">Our experienced team lend their understanding and ability in advertising,
                technology and financial services to developing and maintaining QZ</p>
        </div>
        <div class="team-list">
            <div class="team-item team-item_w-25">
                <div class="team-item__img team-item__img_vasilevsky">
                    <div class="team-item__dropdown-btn">
                        <div class="team-item__dropdown">
                            Another title for this article can be “How to write an ad that will be immediately thrown
                            into a waste paper basket?”. But it is too long. In their business advertisers have to
                            follow some rules to enhance the process of customer’s perception
                        </div>
                    </div>
                </div>
                <p class="team-item__name team-item__name_bg">DENIS SHAYAHMETOV</p>
                <ul class="team-item__social">
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_in" href="#"></a>
                    </li>
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_fb" href="#"></a>
                    </li>
                </ul>
                <p class="team-item__position team-item__position_bg">QZ founder</p>
            </div>
            <div class="team-item team-item_w-25">
                <div class="team-item__img team-item__img_vasilevsky">
                    <div class="team-item__dropdown-btn">
                        <div class="team-item__dropdown">
                            Another title for this article can be “How to write an ad that will be immediately thrown
                            into a waste paper basket?”. But it is too long. In their business advertisers have to
                            follow some rules to enhance the process of customer’s perception
                        </div>
                    </div>
                </div>
                <p class="team-item__name team-item__name_bg">DENIS SHAYAHMETOV</p>
                <ul class="team-item__social">
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_in" href="#"></a>
                    </li>
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_fb" href="#"></a>
                    </li>
                </ul>
                <p class="team-item__position team-item__position_bg">QZ founder</p>
            </div>
            <div class="team-item team-item_w-25">
                <div class="team-item__img team-item__img_vasilevsky">
                    <div class="team-item__dropdown-btn">
                        <div class="team-item__dropdown">
                            Another title for this article can be “How to write an ad that will be immediately thrown
                            into a waste paper basket?”. But it is too long. In their business advertisers have to
                            follow some rules to enhance the process of customer’s perception
                        </div>
                    </div>
                </div>
                <p class="team-item__name team-item__name_bg">DENIS SHAYAHMETOV</p>
                <ul class="team-item__social">
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_in" href="#"></a>
                    </li>
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_fb" href="#"></a>
                    </li>
                </ul>
                <p class="team-item__position team-item__position_bg">QZ founder</p>
            </div>
            <div class="team-item team-item_w-25">
                <div class="team-item__img team-item__img_vasilevsky">
                    <div class="team-item__dropdown-btn">
                        <div class="team-item__dropdown">
                            Another title for this article can be “How to write an ad that will be immediately thrown
                            into a waste paper basket?”. But it is too long. In their business advertisers have to
                            follow some rules to enhance the process of customer’s perception
                        </div>
                    </div>
                </div>
                <p class="team-item__name team-item__name_bg">DENIS SHAYAHMETOV</p>
                <ul class="team-item__social">
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_in" href="#"></a>
                    </li>
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_fb" href="#"></a>
                    </li>
                </ul>
                <p class="team-item__position team-item__position_bg">Marketing&Product Development Marketing&Product
                    Development</p>
            </div>
            <div class="team-item team-item_w-25">
                <div class="team-item__img team-item__img_vasilevsky">
                    <div class="team-item__dropdown-btn">
                        <div class="team-item__dropdown">
                            Another title for this article can be “How to write an ad that will be immediately thrown
                            into a waste paper basket?”. But it is too long. In their business advertisers have to
                            follow some rules to enhance the process of customer’s perception
                        </div>
                    </div>
                </div>
                <p class="team-item__name team-item__name_bg">DENIS SHAYAHMETOV</p>
                <ul class="team-item__social">
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_in" href="#"></a>
                    </li>
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_fb" href="#"></a>
                    </li>
                </ul>
                <p class="team-item__position team-item__position_bg">QZ founder</p>
            </div>
            <div class="team-item team-item_w-25">
                <div class="team-item__img team-item__img_vasilevsky">
                    <div class="team-item__dropdown-btn">
                        <div class="team-item__dropdown">
                            Another title for this article can be “How to write an ad that will be immediately thrown
                            into a waste paper basket?”. But it is too long. In their business advertisers have to
                            follow some rules to enhance the process of customer’s perception
                        </div>
                    </div>
                </div>
                <p class="team-item__name team-item__name_bg">DENIS SHAYAHMETOV</p>
                <ul class="team-item__social">
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_in" href="#"></a>
                    </li>
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_fb" href="#"></a>
                    </li>
                </ul>
                <p class="team-item__position team-item__position_bg">QZ founder</p>
            </div>
            <div class="team-item team-item_w-25">
                <div class="team-item__img team-item__img_vasilevsky">
                    <div class="team-item__dropdown-btn">
                        <div class="team-item__dropdown">
                            Another title for this article can be “How to write an ad that will be immediately thrown
                            into a waste paper basket?”. But it is too long. In their business advertisers have to
                            follow some rules to enhance the process of customer’s perception
                        </div>
                    </div>
                </div>
                <p class="team-item__name team-item__name_bg">DENIS SHAYAHMETOV</p>
                <ul class="team-item__social">
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_in" href="#"></a>
                    </li>
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_fb" href="#"></a>
                    </li>
                </ul>
                <p class="team-item__position team-item__position_bg">Marketing&Product Development</p>
            </div>
            <div class="team-item team-item_w-25">
                <div class="team-item__img team-item__img_vasilevsky">
                    <div class="team-item__dropdown-btn">
                        <div class="team-item__dropdown">
                            Another title for this article can be “How to write an ad that will be immediately thrown
                            into a waste paper basket?”. But it is too long. In their business advertisers have to
                            follow some rules to enhance the process of customer’s perception
                        </div>
                    </div>
                </div>
                <p class="team-item__name team-item__name_bg">DENIS SHAYAHMETOV</p>
                <ul class="team-item__social">
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_in" href="#"></a>
                    </li>
                    <li class="team-item__social-item">
                        <a class="team-item__social-link team-item__social-link_fb" href="#"></a>
                    </li>
                </ul>
                <p class="team-item__position team-item__position_bg">QZ founder</p>
            </div>
        </div>
    </div>

    <div class="section">
        <h2 class="section__title">Token Sale proccess</h2>
        <div class="road">
            <div class="road__item road__item_w-33">
                <h3 class="road__item-title road__item-title_pb road__item-title_token road__item-title_token_1">Pre-Token Sale,<br> October, 2017</h3>
                <div class="road-line__wrap">
                    <div class="road-line-bar">
                        <div class="road-line road-line_50 road-line_wt"></div>
                        <div class="road-line road-line_50"></div>
                    </div>
                    <div class="road-line__sq-num road-line__sq-num_1"></div>
                </div>
                <div class="road__item-content road__item-content_pt">
                    <p class="road__item-content-tac">PQZ pre-Token Sale emitted tokens are converted QZ with 50% bonus.
                        750 ETH are collected. If no minimum amount collected all revenues are to be back </p>
                </div>
            </div>
            <div class="road__item road__item_w-33">
                <h3 class="road__item-title road__item-title_pb road__item-title_token road__item-title_token_2">Token Sale Autumn,<br> 2017 </h3>
                <div class="road-line__wrap">
                    <div class="road-line-bar">
                        <div class="road-line road-line_50"></div>
                        <div class="road-line road-line_50"></div>
                    </div>
                    <div class="road-line__sq-num road-line__sq-num_2"></div>
                </div>
                <div class="road__item-content road__item-content_pt">
                    <p class="road__item-content-tac">Revenue withdrawal is possible by Escrow only. If tokens purchased
                        during first 24 hours bonus is +20%. During 48 hours +10% Next 5 days bonus is +5%</p>
                </div>
            </div>
            <div class="road__item road__item_w-33">
                <h3 class="road__item-title road__item-title_pb road__item-title_token road__item-title_token_3">Post Token Sale</h3>
                <div class="road-line__wrap">
                    <div class="road-line-bar">
                        <div class="road-line road-line_50"></div>
                        <div class="road-line road-line_50 road-line_wt"></div>
                    </div>
                    <div class="road-line__sq-num road-line__sq-num_3"></div>
                </div>
                <div class="road__item-content road__item-content_pt">
                    <p class="road__item-content-tac">50% of revenues will be used by Qaazqaaz ltd for the project
                        development. 50% will be transferred by equal parts once in 3 months during 9 month after Token
                        Sale. The transfer will be made after report published</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <h2 class="section__title">Token emission and fees use</h2>
        <div class="section__description-wrap">
            <p class="section__description">100 mln QZ tokens will be emitted</p>
        </div>
    </div>

    <div class="section">
        <h2 class="section__title">Bonuses</h2>
        <div class="card">
            <h3 class="card__title">Get 50% bonus at Pre-Token Sale</h3>
            <div class="card__form">
                <form class="form">
                    <div class="form__col">
                        <div class="form__wrap-inside">
                            <input class="form__input" type="text" placeholder="Name">
                        </div>
                    </div>
                    <div class="form__col">
                        <div class="form__wrap-inside">
                            <input class="form__input" type="text" placeholder="Name">
                        </div>
                    </div>
                    <div class="form__col">
                        <div class="form__wrap-inside">
                            <input class="form__input" type="text" placeholder="Name">
                        </div>
                    </div>
                    <div class="form__col form__col_w160">
                        <div class="form__wrap-inside">
                            <button class="btn btn_block">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="section section_sm">
        <h3 class="section__title section__title_sm">Bonus for the market members</h3>
        <div class="section__description-wrap">
            <p class="section__description section__description_sm">Purchasing QZ at Token Sale</p>
        </div>
        <div class="bonuses">
            <div class="bonuses__item">
                <div class="bonuses__item-img-box">
                    <img class="bonuses__item-img" src="http://via.placeholder.com/64x64" alt="">
                </div>
                <h3 class="bonuses__item-title">+30%</h3>
                <p class="bonuses__item-description">To bloggers</p>
            </div>
            <div class="bonuses__item">
                <div class="bonuses__item-img-box">
                    <img class="bonuses__item-img" src="http://via.placeholder.com/64x64" alt="">
                </div>
                <h3 class="bonuses__item-title">+20%</h3>
                <p class="bonuses__item-description">For advertising agencies</p>
            </div>
            <div class="bonuses__item">
                <div class="bonuses__item-img-box">
                    <img class="bonuses__item-img" src="http://via.placeholder.com/64x64" alt="">
                </div>
                <h3 class="bonuses__item-title">+20%</h3>
                <p class="bonuses__item-description">For the partners and producers </p>
            </div>
        </div>
    </div>

</div>

<div class="go">
    <div class="container">
        <div class="go__wrap go__wrap_fww go__wrap_jcc">
            <h3 class="go__title go__title_subscribe">Stay informed <span class="go__title-sub">Don't miss updates!</span></h3>
            <form class="form form_plr">
                <div class="form__col form__col_w50">
                    <div class="form__wrap-inside">
                        <input class="form__input" type="text" placeholder="Name">
                    </div>
                </div>
                <div class="form__col form__col_w50">
                    <div class="form__wrap-inside">
                        <input class="form__input" type="text" placeholder="Name">
                    </div>
                </div>
                <div class="form__col form__col_w160">
                    <div class="form__wrap-inside">
                        <button class="btn btn_block">Sign Up</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="container">

    <div class="section">
        <h2 class="section__title">We are written about</h2>
        <div class="written">
            <div class="written__item">
                <div class="written__item-img-box">
                    <img class="written__item-img" src="http://via.placeholder.com/263x100" alt="">
                </div>
            </div>
            <div class="written__item">
                <div class="written__item-img-box">
                    <img class="written__item-img" src="http://via.placeholder.com/263x100" alt="">
                </div>
            </div>
            <div class="written__item">
                <div class="written__item-img-box">
                    <img class="written__item-img" src="http://via.placeholder.com/263x100" alt="">
                </div>
            </div>
            <div class="written__item">
                <div class="written__item-img-box">
                    <img class="written__item-img" src="http://via.placeholder.com/263x100" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="slider owl-carousel">
    <div class="slider__item">
        <div class="slider__item-content">
            <img src="http://via.placeholder.com/750x420" alt="">
        </div>
    </div>
    <div class="slider__item">
        <div class="slider__item-content">
            <img src="http://via.placeholder.com/750x420" alt="">
        </div>
    </div>
    <div class="slider__item">
        <div class="slider__item-content">
            <img src="http://via.placeholder.com/750x420" alt="">
        </div>
    </div>
    <div class="slider__item">
        <div class="slider__item-content">
            <img src="http://via.placeholder.com/750x420" alt="">
        </div>
    </div>
    <div class="slider__item">
        <div class="slider__item-content">
            <img src="http://via.placeholder.com/750x420" alt="">
        </div>
    </div>
    <div class="slider__item">
        <div class="slider__item-content">
            <img src="http://via.placeholder.com/750x420" alt="">
        </div>
    </div>
    <div class="slider__item">
        <div class="slider__item-content">
            <img src="http://via.placeholder.com/750x420" alt="">
        </div>
    </div>
</div>

<div class="container">

    <div class="section">
        <h2 class="section__title">We are talking about</h2>
        <div class="card-wrap">
            <div class="slider-team">
                <div class="slider-team__wrap">
                    <div class="slider-team__item">
                        <div class="team-item team-item_top-card">
                            <div class="team-item__img team-item__img_shayahmetov"></div>
                            <p class="team-item__name team-item__name_mt">DENIS SHAYAHMETOV</p>
                            <ul class="team-item__social">
                                <li class="team-item__social-item">
                                    <a class="team-item__social-link team-item__social-link_in" href="#"></a>
                                </li>
                                <li class="team-item__social-item">
                                    <a class="team-item__social-link team-item__social-link_fb" href="#"></a>
                                </li>
                            </ul>
                            <p class="team-item__position">QZ founder</p>
                            <p class="team-item__info">From mine point of view you have all the chances for successful Token Sale</p>
                        </div>
                    </div>
                    <div class="slider-team__item">
                        <div class="team-item team-item_top-card">
                            <div class="team-item__img team-item__img_shayahmetov"></div>
                            <p class="team-item__name team-item__name_mt">DENqweqweqwqwIS</p>
                            <ul class="team-item__social">
                                <li class="team-item__social-item">
                                    <a class="team-item__social-link team-item__social-link_in" href="#"></a>
                                </li>
                                <li class="team-item__social-item">
                                    <a class="team-item__social-link team-item__social-link_fb" href="#"></a>
                                </li>
                            </ul>
                            <p class="team-item__position">QZ founwqeqweder</p>
                            <p class="team-item__info">From mie all the chances for
                                successful Token Sale</p>
                        </div>
                    </div>

                    <div class="slider-team__item">
                        <div class="team-item team-item_top-card">
                            <div class="team-item__img team-item__img_shayahmetov"></div>
                            <p class="team-item__name team-item__name_mt">SHAYAHMETOV</p>
                            <ul class="team-item__social">
                                <li class="team-item__social-item">
                                    <a class="team-item__social-link team-item__social-link_in" href="#"></a>
                                </li>
                                <li class="team-item__social-item">
                                    <a class="team-item__social-link team-item__social-link_fb" href="#"></a>
                                </li>
                            </ul>
                            <p class="team-item__position">QZ founder</p>
                            <p class="team-item__info">From mine point of view you have all the chances for successful Token Sale</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="section section_footer">
        <h2 class="section__title">Questions?</h2>
        <div class="section__description-wrap">
            <p class="section__description section__description_mt section__description_footer">
                +7 985 341 15 41 <br>
                ico@qaazqaaz.com <br>
                bitcointalk.org
            </p>
            <p class="section__description section__description_mt">
                Moscow
            </p>
        </div>
    </div>

</div>

<div class="bg">
    <div class="bg-1"></div>
    <div class="bg-2"></div>
    <div class="bg-3"></div>
    <div class="bg-4"></div>
    <div class="bg-5"></div>
    <div class="bg-6"></div>
    <div class="bg-7"></div>
    <div class="bg-8"></div>
</div>

<script src="../../vendors/jquery-3.2.1.min.js"></script>
<!--<script src="../../vendors/owlcarousel/owl.carousel.min.js"></script>-->
<script src="../../vendors/slick/slick.min.js"></script>

<script>
    $(document).ready(function () {

//        $('.slider').owlCarousel({
//            autoplay: true,
//            center: true,
//            loop: true,
//            nav: false,
//            margin:10,
//        });

        $('.slider').slick({
            centerMode: true,
            variableWidth: true,
            centerPadding: '60px',
            slidesToShow: 1,
            dots: true,
            infinite: true,
//            responsive: [
//                {
//                    breakpoint: 1024,
//                    settings: {
//                        slidesToShow: 1,
//                        infinite: true,
//                        dots: true,
//                        variableWidth: true,
//                    }
//                },
//                {
//                    breakpoint: 600,
//                    settings: {
//                        slidesToShow: 1,
//                        variableWidth: true,
//                    }
//                },
//                {
//                    breakpoint: 480,
//                    settings: {
//                        slidesToShow: 1,
//                        variableWidth: true,
//                    }
//                },
//            ],

//            responsive: [
//                {
//                    breakpoint: 993,
//                    settings: {
//                        arrows: false,
//                        centerMode: true,
//                        variableWidth: true,
//                        centerPadding: '20px',
//                        slidesToShow: 1
//                    }
//                },
//                {
//                    breakpoint: 480,
//                    settings: {
//                        arrows: false,
//                        centerMode: true,
//                        centerPadding: '40px',
//                        slidesToShow: 1
//                    }
//                }
//            ],
        });

        $('.slider-team__wrap').slick({
            dots: true,
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear'
        });


    });

</script>

</body>
</html>