<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>Efir</title>
    <link rel="stylesheet" href="../../styles/landing/index.css">
    <link rel="stylesheet" href="../../vendors/slick/slick.css">
    <link rel="stylesheet" href="../../vendors/slick/slick-theme.css">
    <!--[if lte IE 10]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="contentcontainer">

    <div class="bg">
        <div class="bg-1" style="background-image: url('../../images/graphics/hero@1x.png')"></div>
    </div>

    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <a class="header__logo-link" href="#">
                    <img class="header__logo-img" src="../../images/graphics/logo.png" alt="">
                </a>
                <div id="defaultCountdown"></div>
                <div class="header__social-wrap">
                    <ul class="social">
                        <li class="social__item">
                            <a class="social__link social__link_tw"
                               href="https://twitter.com/efir_qaazqaaz"
                               target="_blank" rel="nofollow, noopener"></a>
                        </li>
                        <li class="social__item">
                            <a class="social__link social__link_vk" href="https://vk.com/qaazqaaz"
                               target="_blank"
                               rel="nofollow, noopener"></a>
                        </li>
                        <li class="social__item">
                            <a class="social__link social__link_bt" href="#" target="_blank"
                               rel="nofollow, noopener"></a>
                        </li>
                        <li class="social__item">
                            <a class="social__link social__link_tl" href="#" target="_blank"
                               rel="nofollow, noopener"></a>
                        </li>
                        <li class="social__item">
                            <a class="social__link social__link_fb"
                               href="https://www.facebook.com/qaazqaazcom/"
                               target="_blank" rel="nofollow, noopener"></a>
                        </li>
                        <li class="social__item">
                            <a class="social__link social__link_wb"
                               href="https://www.weibo.com/p/1005056414273236/"
                               target="_blank" rel="nofollow, noopener"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <div class="thank">
            <h1 class="thank__title">Thank you for subscribing!</h1>
            <p class="thank__description">We will send all the necessary information about exchange on you email soon.</p>
            <a class="btn btn_drk" href="#">Continue<span class="btn_drk_arrow"></span></a>
        </div>

    </div>

</div>



</body>

</html>