@font-face {
    font-family: "Gilroy Light";
    src: url("Gilroylight.eot"); /* IE9 */
    src: url("Gilroylight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Gilroylight.woff") format("woff"), /* chrome, firefox */
    url("Gilroylight.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Gilroylight.svg#Gilroy Light") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


