<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QZ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="../../vendors/flatkit/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../styles/admin-landing/index.css">

    <link rel="stylesheet" href="../../vendors/slick/slick.css">
    <link rel="stylesheet" href="../../vendors/slick/slick-theme.css">

</head>
<body>

<div class="qz-header-bg">

    <nav class="navbar navbar-toggleable-md navbar-light qz-bg">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand qz-navbar-brand" href="#">
            <img src="../../images/admin-landing/whitelogo.svg" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link qz-nav-link" href="#">
                        Youtube
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link qz-nav-link" href="#">
                        Twitch
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link qz-nav-link" href="#">
                        Tasks
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link qz-nav-link" href="#">
                        Agencies
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link qz-nav-link" href="#">
                        ICO
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link qz-nav-link" href="#">
                        Terms of use
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link qz-nav-link qz-nav-link-toggle" href="#" id="navbarDropdownLanguage"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Русский
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownLanguage">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link qz-nav-link qz-nav-link-toggle" href="#" id="navbarDropdownCountry"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="yt-picker-region-flag flag_RU yt-sprite"></span>
                        <span class="yt-picker-region-name">Россия</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownCountry">
                        <a class="dropdown-item" href="https://efir.io/ru/setcountry/AU">
                            <span class="yt-picker-region-flag flag_AU yt-sprite"></span>
                            <span class="yt-picker-region-name">Австралия</span>
                        </a>
                    </div>
                </li>
                <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCountry"-->
                <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--Россия-->
                <!--</a>-->
                <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownCountry">-->
                <!--<a class="dropdown-item" href="#">Action</a>-->
                <!--<a class="dropdown-item" href="#">Another action</a>-->
                <!--<a class="dropdown-item" href="#">Something else here</a>-->
                <!--</div>-->
                <!--</li>-->
                <li class="nav-item">
                    <a class="nav-link qz-nav-link" href="#">
                        <i class="fa fa-sign-in"></i>
                        Вход/Регистрация
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="qz-header-text">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <h1>Технологии, раскрывающие силу лидеров мнений</h1>
                    <p>This I have produced as a scantling of Jacks great eloquence and the force of his reasoning upon
                        such abstruse matters.</p>
                    <div class="qz-header-btn-wrap">
                        <a href="#" class="qz-header-btn">Найти блогера</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center qz-mt-100 qz-pb-70">
            <div class="col-lg-8 col-md-12 p-0">
                <div class="qz-input-group">
                    <select class="qz-select">
                        <option>Блогер</option>
                    </select>
                    <input type="text" class="qz-input" placeholder="Найти блогера">
                </div>
                <div class="qz-group qz-mt-20">
                    <div class="qz-group-item">
                        <label class="qz-label" for="category">Категория</label>
                        <select id="category" class="qz-select">
                            <option>Все</option>
                            <option>Все Все Все Все Все Все Все</option>
                        </select>
                    </div>
                    <div class="qz-group-item">
                        <label class="qz-label" for="category">Цена размещения</label>
                        <select id="category" class="qz-select">
                            <option>Любая</option>
                        </select>
                    </div>
                    <div class="qz-group-item">
                        <label class="qz-label" for="category">Тип рекламы</label>
                        <select id="category" class="qz-select">
                            <option>Интеграция</option>
                        </select>
                    </div>
                    <div class="qz-group-item">
                        <label class="qz-label" for="category">Сортировать</label>
                        <select id="category" class="qz-select">
                            <option>RUB/просмотр</option>
                        </select>
                    </div>
                    <div class="qz-group-item-btn">
                        <button class="qz-btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container">

    <h2 class="qz-section-title">Почему qaazqaaz.com?</h2>
    <div class="row justify-content-center">
        <div class="col-md-12 p-0">
            <div class="qz-features">
                <div class="qz-features__item">
                    <div class="qz-features__item-img-box">
                        <img class="qz-features__item-img" src="../../images/icon/free.png" alt="">
                    </div>
                    <h3 class="qz-features__item-title">Бесплатно</h3>
                    <p class="qz-features__item-description">Бесплатно для блогеров и рекламодателей. </p>
                </div>
                <div class="qz-features__item">
                    <div class="qz-features__item-img-box">
                        <img class="qz-features__item-img" src="../../images/icon/database.png" alt="">
                    </div>
                    <h3 class="qz-features__item-title">Мы – не агенство</h3>
                    <p class="qz-features__item-description">Мы не берем комиссий и не требуем обязательных
                        платежей.</p>
                </div>
                <div class="qz-features__item">
                    <div class="qz-features__item-img-box">
                        <img class="qz-features__item-img" src="../../images/icon/contact.png" alt="">
                    </div>
                    <h3 class="qz-features__item-title">Общайтесь напрямую</h3>
                    <p class="qz-features__item-description">Мы открыто публикуем контактные данные блогеров и
                        рекламодателей позволяя им находить друг друга и общаться напрямую.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="qz-slider-section">
    <div class="container">

        <div class="qz-slider-tabs-wrap">
            <ul class="qz-slider-tabs">
                <li class="qz-slider-tabs-item qz-slider-tabs-item_active">Блоггерам</li>
                <li class="qz-slider-tabs-item">Рекламодателям</li>
                <li class="qz-slider-tabs-item">Агенствам</li>
            </ul>
        </div>

        <div class="qz-slider">

            <div class="qz-slider-item">
                <div class="row">
                    <div class="col-lg-6 p-0 qz-slider-order-1">
                        <div class="qz-slider-content-wrap">
                            <h2 class="qz-slider-title">Блоггерам</h2>
                            <p class="qz-slider-teaser">Продвигайте свои продукты с помощью лидеров мнений</p>
                            <div class="qz-slider-divider"></div>
                            <p class="qz-slider-detail">
                                Разместите рекламу ваших <a href="#">продуктов/услуг у популярных блогеров в YouTube</a>.
                                Опубликуйте
                                ваше задание и получите предложения от лучших блогеров. Найдите самые дешёвые показы
                                рекламы для вашей целевой аудитории через поиск. Общайтесь с блогерами напрямую. Никаких
                                агентских комиссий или обязательных платежей. Все данные бесплатны и открыты. Для
                                подбора блогеров не нужна даже регистрация.
                            </p>
                            <a href="#" class="qz-slider-btn mb-4">Найти блогера</a>
                            <a href="#" class="qz-slider-btn qz-slider-outline mb-4">Найти агенство</a>
                            <a href="#" class="qz-slider-btn qz-slider-outline mb-4">Добавить задание</a>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0 qz-slider-order-0">
                        <div class="qz-slider-img"
                             style="background-image: url(http://www.zastavki.com/pictures/originals/2014/Nature___Sundown_Starry_sky_at_sunset_082927_.jpg)"></div>
                    </div>
                </div>
            </div>

            <div class="qz-slider-item">
                <div class="row">
                    <div class="col-lg-6 p-0 qz-slider-order-1">
                        <div class="qz-slider-content-wrap">
                            <h2 class="qz-slider-title">Рекламодателям</h2>
                            <p class="qz-slider-teaser">Продвигайте свои продукты с помощью лидеров мнений</p>
                            <div class="qz-slider-divider"></div>
                            <p class="qz-slider-detail">
                                Разместите рекламу ваших <a href="#">продуктов/услуг у популярных блогеров в YouTube</a>.
                                Опубликуйте
                                ваше задание и получите предложения от лучших блогеров. Найдите самые дешёвые показы
                                рекламы для вашей целевой аудитории чере
                            </p>
                            <a href="#" class="qz-slider-btn mb-4">Найти блогера</a>
                            <a href="#" class="qz-slider-btn qz-slider-outline mb-4">Найти блогера</a>
                            <a href="#" class="qz-slider-btn qz-slider-outline mb-4">Найти блогера</a>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0 qz-slider-order-0">
                        <div class="qz-slider-img"
                             style="background-image: url(https://i1.wp.com/sobiratelzvezd.ru/wp-content/uploads/2014/02/milky-way-over-catherine-hills-bay-australia.jpg)"></div>
                    </div>
                </div>
            </div>

            <div class="qz-slider-item">
                <div class="row">
                    <div class="col-lg-6 p-0 qz-slider-order-1">
                        <div class="qz-slider-content-wrap">
                            <h2 class="qz-slider-title">Агенствам</h2>
                            <p class="qz-slider-teaser">Продвигайте свои продукты с помощью лидеров мнений</p>
                            <div class="qz-slider-divider"></div>
                            <p class="qz-slider-detail">
                                Разместите рекламу ваших <a href="#">продуктов/услуг у популярных блогеров в YouTube</a>.
                                Опубликуйте
                                ваше задание и получите предложения от лучших блогеров. Найдите самые дешёвые показы
                                рекламы для вашей целевой аудитории чере
                            </p>
                            <a href="#" class="qz-slider-btn mb-4">Найти блогера</a>
                            <a href="#" class="qz-slider-btn qz-slider-outline mb-4">Найти блогера</a>
                            <a href="#" class="qz-slider-btn qz-slider-outline mb-4">Найти блогера</a>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0 qz-slider-order-0">
                        <div class="qz-slider-img"
                             style="background-image: url(https://i.ytimg.com/vi/7aja79UIcd4/maxresdefault.jpg)"></div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>

<div class="qz-footer">

    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <h5 class="qz-footer-title">Компания</h5>
                <ul class="qz-footer-menu">
                    <li class="qz-footer-menu-item">
                        <a href="#" class="qz-footer-menu-link">Условия использования</a>
                    </li>
                    <li class="qz-footer-menu-item">
                        <a href="#" class="qz-footer-menu-link">Политика конфиденциальности</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="qz-footer-title">О проекте</h5>
                <ul class="qz-footer-menu">
                    <li class="qz-footer-menu-item">
                        <a href="#" class="qz-footer-menu-link">Команда</a>
                    </li>
                    <li class="qz-footer-menu-item">
                        <a href="#" class="qz-footer-menu-link">Контакты</a>
                    </li>
                    <li class="qz-footer-menu-item">
                        <a href="#" class="qz-footer-menu-link">Whitepaper</a>
                    </li>
                    <li class="qz-footer-menu-item">
                        <a href="#" class="qz-footer-menu-link">ICO</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="qz-footer-title">Рассылка</h5>
                <ul class="qz-footer-menu">
                    <li class="qz-footer-menu-item">
                        <a href="#" class="qz-footer-menu-link">Email address</a>
                    </li>
                    <li class="qz-footer-menu-item qz-footer-menu-item-divider">
                        <a href="#" class="qz-footer-menu-link qz-footer-menu-link-subscribe">Подписаться</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="qz-footer-title">Контакты</h5>
                <ul class="qz-footer-menu">
                    <li class="qz-footer-menu-item">
                        <a href="#" class="qz-footer-menu-link">manager@qaazqaaz.com</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<ul class="qz-footer-social">-->
                    <!--<li class="qz-footer-social-item">-->
                        <!--<a href="#" class="qz-footer-social-link">-->
                            <!--<svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 90 90"><path id="Facebook__x28_alt_x29_" d="M90 15.001C90 7.119 82.884 0 75 0H15C7.116 0 0 7.119 0 15.001v59.998C0 82.881 7.116 90 15.001 90H45V56H34V41h11v-5.844C45 25.077 52.568 16 61.875 16H74v15H61.875C60.548 31 59 32.611 59 35.024V41h15v15H59v34h16c7.884 0 15-7.119 15-15.001V15.001z"/></svg>-->
                        <!--</a>-->
                        <!--<a href="#" class="qz-footer-social-link">-->
                            <!--<svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 508.52 508.52"><path d="M413.172 0H95.347C42.684 0 0 42.684 0 95.347v317.825c0 52.664 42.684 95.347 95.347 95.347h317.825c52.664 0 95.347-42.684 95.347-95.347V95.347C508.52 42.684 465.836 0 413.172 0zM190.695 377.417H127.13V154.94h63.565v222.477zm-29.812-236.112c-16.463 0-29.78-13.349-29.78-29.812s13.349-29.812 29.78-29.812c16.463.032 29.812 13.38 29.812 29.812 0 16.463-13.349 29.812-29.812 29.812zm252.289 236.112h-63.565V239.862c0-16.114-4.608-27.396-24.409-27.396-32.831 0-39.156 27.396-39.156 27.396v137.555h-63.565V154.94h63.565v21.262c9.09-6.96 31.782-21.231 63.565-21.231 20.595 0 63.565 12.332 63.565 86.83v135.616z" fill="#010002"/></svg>-->
                        <!--</a>-->
                        <!--<a href="#" class="qz-footer-social-link">-->
                            <!--<svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 508.52 508.52"><path d="M413.172 0H95.347C42.684 0 0 42.684 0 95.347v317.825c0 52.664 42.684 95.347 95.347 95.347h317.825c52.664 0 95.347-42.684 95.347-95.347V95.347C508.52 42.684 465.836 0 413.172 0zM190.695 377.417H127.13V154.94h63.565v222.477zm-29.812-236.112c-16.463 0-29.78-13.349-29.78-29.812s13.349-29.812 29.78-29.812c16.463.032 29.812 13.38 29.812 29.812 0 16.463-13.349 29.812-29.812 29.812zm252.289 236.112h-63.565V239.862c0-16.114-4.608-27.396-24.409-27.396-32.831 0-39.156 27.396-39.156 27.396v137.555h-63.565V154.94h63.565v21.262c9.09-6.96 31.782-21.231 63.565-21.231 20.595 0 63.565 12.332 63.565 86.83v135.616z" fill="#010002"/></svg>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->

    </div>

</div>

</body>

<!-- jQuery -->
<script src="../../vendors/flatkit/libs/jquery/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
<script src="../../vendors/flatkit/libs/jquery/tether/dist/js/tether.min.js"></script>
<script src="../../vendors/flatkit/libs/jquery/bootstrap/dist/js/bootstrap.js"></script>

<script src="../../vendors/slick/slick.min.js"></script>

<script>
    $(document).ready(function () {

        $('.qz-slider').slick({
            dots: true,
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear',
            responsive: [
                {
                    breakpoint: 760,
                    settings: {
                        arrows: false,
                        dots: true
                    }
                }
            ]
        }).on('beforeChange', function (event, slick, currentSlide, nextSlide) {
            $(".qz-slider-tabs *").removeClass('qz-slider-tabs-item_active');
            $('.qz-slider-tabs li').eq(nextSlide).addClass("qz-slider-tabs-item_active");
        });

        $('.qz-slider-tabs li').click(function (e) {
            e.preventDefault();
            $(".qz-slider-tabs *").removeClass('qz-slider-tabs-item_active');
            slideIndex = $(this).index();
            $('.qz-slider').slick('slickGoTo', parseInt(slideIndex));
            $(this).addClass('qz-slider-tabs-item_active');
        });

    });
</script>

</html>