.content-wrap {
  position: relative;
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  min-height: 100vh;
  left: 0;
  transform-style: preserve-3d;
  transition-delay: .1s;
  transition-duration: .2s;
  transition-property: transform, left;
  transition-timing-function: cubic-bezier(.4,0,.2,1);

  &.toggled {
    //position: fixed;
    left: 500px;
    transform: translateX(0);
    overflow: hidden;
    //overflow: hidden;
  }

}


/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 760px) {

  .content-wrap {

    &.toggled {
      left: 300px;
    }

  }


}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}
