//https://www.fonts.com/font/paratype/futura-pt/family

@font-face {
  font-family: futura-pt;
  src: url('../../fonts/futura/FuturaPTMedium.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: futura-pt;
  src: url('../../fonts/futura/FuturaPTBook.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: futura-pt;
  src: url('../../fonts/futura/FuturaPTDemi.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: futura-pt;
  src: url('../../fonts/futura/FuturaPTBold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: futura-pt;
  src: url('../../fonts/futura/FuturaPTHeavy.otf') format('opentype');
  font-weight: 800;
}

