<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>Academy</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../styles/index.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Academy by efir</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-center navbar-nav-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Блогеры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Специалисты</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <!--<li class="nav-item mr-4">-->
                    <!--<a class="btn btn-secondary" href="#">Регистрация</a>-->
                <!--</li>-->
                <!--<li class="nav-item mt-2 mt-sm-2 mt-md-2 mt-lg-0">-->
                    <!--<a class="btn btn-primary" href="#">Вход</a>-->
                <!--</li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="dropdown-toggle">Константин К.</span>
                        <img class="nav-link-user-icon" src="../images/thumb.svg" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item dropdown-item-edit" href="#">Редактирование</a>
                        <a class="dropdown-item dropdown-item-settings" href="#">Настройки</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item dropdown-item-logout" href="#">Выйти</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Децентрализованное продюссирование</h1>
        <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo vel risus imperdiet
            venenatis. Praesent tincidunt maximus blandit. Cras vel egestas magna, ac dictum est.</p>
        <p class="mt-5">
            <a class="btn btn-outline-primary" href="#" role="button">Узнать подробнее</a>
            <a class="btn btn-primary mt-2 mt-sm-0" href="#" role="button">Зарегистрироваться</a>
        </p>
    </div>
</div>
<div class="container mt-5">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-4">
                    <img class="plus-img" src="../images/test.svg" alt="">
                </div>
                <div class="col-8">
                    <h5>Улучшайте качество контента</h5>
                    <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo vel risus
                        imperdiet venenatis. Praesent tincidunt maximus blandit. Cras vel egestas magna, ac dictum
                        est.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-4">
                    <img class="plus-img" src="../images/test.svg" alt="">
                </div>
                <div class="col-8">
                    <h5>Находите специалистов</h5>
                    <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo vel risus
                        imperdiet venenatis. Praesent tincidunt maximus blandit. Cras vel egestas magna, ac dictum
                        est.</>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-4">
                    <img class="plus-img" src="../images/test.svg" alt="">
                </div>
                <div class="col-8">
                    <h5>Получайте деньги на развитие</h5>
                    <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo vel risus
                        imperdiet venenatis. Praesent tincidunt maximus blandit. Cras vel egestas magna, ac dictum
                        est.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container text-center">
        <ul class="footer-menu">
            <li>
                <a href="#">Главная</a>
            </li>
            <li>
                <a href="#">О сервисе</a>
            </li>
            <li>
                <a href="#">Блогеры</a>
            </li>
            <li>
                <a href="#">Специалисты</a>
            </li>
        </ul>
        <ul class="footer-menu">
            <li>
                <a href="#">
                    <img src="../images/social-btns/facebook.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/twitter.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/dribbble.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/vimeo.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/G+.svg" alt="">
                </a>
            </li>
        </ul>
        <span class="text-muted">© Efir Production - All Right Reserved</span>
    </div>
</footer>

</body>
</html>