<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>Academy</title>

    <link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css">
    <script src="../vendors/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="../vendors/bootstrap/popper.min.js"></script>
    <script src="../vendors/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../styles/index.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Academy by efir</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-center navbar-nav-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Блогеры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Специалисты</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <!--<li class="nav-item mr-4">-->
                <!--<a class="btn btn-secondary" href="#">Регистрация</a>-->
                <!--</li>-->
                <!--<li class="nav-item mt-2 mt-sm-2 mt-md-2 mt-lg-0">-->
                <!--<a class="btn btn-primary" href="#">Вход</a>-->
                <!--</li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="dropdown-toggle">Константин К.</span>
                        <img class="nav-link-user-icon" src="../images/thumb.svg" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item dropdown-item-edit" href="#">Редактирование</a>
                        <a class="dropdown-item dropdown-item-settings" href="#">Настройки</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item dropdown-item-logout" href="#">Выйти</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 text-center">Блогеры ждут ваших оценок</h1>
        <p class="mt-5 text-center">• Оценивайте блогеров • Предлагайте профессиональную помощь • Зарабатывайте</p>
        <p class="mt-5 text-center">
            <a class="btn btn-primary" href="#" role="button">Добавить портфолио</a>
            <a class="btn btn-outline-primary mt-2 mt-sm-0" href="#" role="button">Узнать подробнее</a>
        </p>
    </div>
</div>
<div class="container mt-5">
    <ul class="profile-list">
        <li>
            <div class="profile-card">
                <a href="#">
                    <div class="profile-card__header">
                    <div class="row">
                        <div class="col-3">
                            <div class="profile-img-wrap">
                                <img class="profile-img"
                                     src="http://production.efir.io/img/user_photo/xHfHzRf0mqkktmG5NzlY3Cilc8XsUwCXR3fylwnf.jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-9 pl-0">
                            <div class="profile-name">
                                <h5>Константин</h5>
                            </div>
                        </div>
                    </div>
                    </div>
                </a>
                <div class="profile-card__info">
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                        <a class="profile-badge-more" href="#">Еще</a>
                    </div>
                    <p class="profile-city">Константинополь, Россия</p>
                    <p class="profile-info">Are we</p>
                    <p class="profile-link-wrap mb-0">
                        <a class="profile-link" href="#">Перейти в портфолио</a>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="profile-card">
                <a href="#">
                    <div class="profile-card__header">
                        <div class="row">
                            <div class="col-3">
                                <div class="profile-img-wrap">
                                    <img class="profile-img"
                                         src="http://production.efir.io/img/user_photo/ZPbskqgoygD3JTVL6yfY66oHbcrrbp5qwsJwDQwa.jpeg" alt="">
                                </div>
                            </div>
                            <div class="col-9 pl-0">
                                <div class="profile-name">
                                    <h5>Константин 123</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="profile-card__info">
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                    </div>
                    <p class="profile-city">Константинополь, Россия</p>
                    <p class="profile-info">Are we human because of unique traits and attributes not shared with either
                        animal or machine?</p>
                    <p class="mb-0">
                        <a class="profile-link" href="#">Перейти в портфолио</a>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="profile-card">
                <a href="#">
                    <div class="profile-card__header">
                        <div class="row">
                            <div class="col-3">
                                <img class="profile-img"
                                     src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
                            </div>
                            <div class="col-9 pl-0">
                                <div class="profile-name">
                                    <h5>Константин Константинопольский</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="profile-card__info">
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                    </div>
                    <p class="profile-city">Константинополь, Россия</p>
                    <p class="profile-info">Are we human because of unique traits and attributes not shared with either
                        animal or machine?</p>
                    <p class="mb-0">
                        <a class="profile-link" href="#">Перейти в портфолио</a>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="profile-card">
                <a href="#">
                    <div class="profile-card__header">
                        <div class="row">
                            <div class="col-3">
                                <img class="profile-img"
                                     src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
                            </div>
                            <div class="col-9 pl-0">
                                <div class="profile-name">
                                    <h5>Константин Константинопольский</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="profile-card__info">
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                    </div>
                    <p class="profile-city">Константинополь, Россия</p>
                    <p class="profile-info">Are we human because of unique traits and attributes not shared with either
                        animal or machine?</p>
                    <p class="mb-0">
                        <a class="profile-link" href="#">Перейти в портфолио</a>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="profile-card">
                <a href="#">
                    <div class="profile-card__header">
                        <div class="row">
                            <div class="col-3">
                                <img class="profile-img"
                                     src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
                            </div>
                            <div class="col-9 pl-0">
                                <div class="profile-name">
                                    <h5>Константин Константинопольский</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="profile-card__info">
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                    </div>
                    <p class="profile-city">Константинополь, Россия</p>
                    <p class="profile-info">Are we human because of unique traits and attributes not shared with either
                        animal or machine?</p>
                    <p class="mb-0">
                        <a class="profile-link" href="#">Перейти в портфолио</a>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="profile-card">
                <a href="#">
                    <div class="profile-card__header">
                        <div class="row">
                            <div class="col-3">
                                <img class="profile-img"
                                     src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
                            </div>
                            <div class="col-9 pl-0">
                                <div class="profile-name">
                                    <h5>Константин Константинопольский</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="profile-card__info">
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                    </div>
                    <p class="profile-city">Константинополь, Россия</p>
                    <p class="profile-info">Are we human because of unique traits and attributes not shared with either
                        animal or machine?</p>
                    <p class="mb-0">
                        <a class="profile-link" href="#">Перейти в портфолио</a>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="profile-card">
                <a href="#">
                    <div class="profile-card__header">
                        <div class="row">
                            <div class="col-3">
                                <img class="profile-img"
                                     src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
                            </div>
                            <div class="col-9 pl-0">
                                <div class="profile-name">
                                    <h5>Константин Константинопольский</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="profile-card__info">
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                    </div>
                    <p class="profile-city">Константинополь, Россия</p>
                    <p class="profile-info">Are we human because of unique traits and attributes not shared with either
                        animal or machine?</p>
                    <p class="mb-0">
                        <a class="profile-link" href="#">Перейти в портфолио</a>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="profile-card">
                <a href="#">
                    <div class="profile-card__header">
                        <div class="row">
                            <div class="col-3">
                                <img class="profile-img"
                                     src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
                            </div>
                            <div class="col-9 pl-0">
                                <div class="profile-name">
                                    <h5>Константин Константинопольский</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="profile-card__info">
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                    </div>
                    <p class="profile-city">Константинополь, Россия</p>
                    <p class="profile-info">Are we human because of unique traits and attributes not shared with either
                        animal or machine?</p>
                    <p class="mb-0">
                        <a class="profile-link" href="#">Перейти в портфолио</a>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="profile-card">
                <a href="#">
                    <div class="profile-card__header">
                        <div class="row">
                            <div class="col-3">
                                <img class="profile-img"
                                     src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
                            </div>
                            <div class="col-9 pl-0">
                                <div class="profile-name">
                                    <h5>Константин Константинопольский</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="profile-card__info">
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                    </div>
                    <p class="profile-city">Константинополь, Россия</p>
                    <p class="profile-info">Are we human because of unique traits and attributes not shared with either
                        animal or machine?</p>
                    <p class="mb-0">
                        <a class="profile-link" href="#">Перейти в портфолио</a>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="profile-card">
                <a href="#">
                    <div class="profile-card__header">
                        <div class="row">
                            <div class="col-3">
                                <img class="profile-img"
                                     src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
                            </div>
                            <div class="col-9 pl-0">
                                <div class="profile-name">
                                    <h5>Константин Константинопольский</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="profile-card__info">
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                    </div>
                    <p class="profile-city">Константинополь, Россия</p>
                    <p class="profile-info">Are we human because of unique traits and attributes not shared with either
                        animal or machine?</p>
                    <p class="mb-0">
                        <a class="profile-link" href="#">Перейти в портфолио</a>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="profile-card">
                <a href="#">
                    <div class="profile-card__header">
                        <div class="row">
                            <div class="col-3">
                                <img class="profile-img"
                                     src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
                            </div>
                            <div class="col-9 pl-0">
                                <div class="profile-name">
                                    <h5>Константин Константинопольский</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="profile-card__info">
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                    </div>
                    <p class="profile-city">Константинополь, Россия</p>
                    <p class="profile-info">Are we human because of unique traits and attributes not shared with either
                        animal or machine?</p>
                    <p class="mb-0">
                        <a class="profile-link" href="#">Перейти в портфолио</a>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="profile-card">
                <a href="#">
                    <div class="profile-card__header">
                        <div class="row">
                            <div class="col-3">
                                <img class="profile-img"
                                     src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
                            </div>
                            <div class="col-9 pl-0">
                                <div class="profile-name">
                                    <h5>Константин Константинопольский</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="profile-card__info">
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                    </div>
                    <p class="profile-city">Константинополь, Россия</p>
                    <p class="profile-info">Are we human because of unique traits and attributes not shared with either
                        animal or machine?</p>
                    <p class="mb-0">
                        <a class="profile-link" href="#">Перейти в портфолио</a>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="profile-card">
                <a href="#">
                    <div class="profile-card__header">
                        <div class="row">
                            <div class="col-3">
                                <img class="profile-img"
                                     src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
                            </div>
                            <div class="col-9 pl-0">
                                <div class="profile-name">
                                    <h5>Константин Константинопольский</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="profile-card__info">
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                    </div>
                    <p class="profile-city">Константинополь, Россия</p>
                    <p class="profile-info">Are we human because of unique traits and attributes not shared with either
                        animal or machine?</p>
                    <p class="mb-0">
                        <a class="profile-link" href="#">Перейти в портфолио</a>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="profile-card">
                <a href="#">
                    <div class="profile-card__header">
                        <div class="row">
                            <div class="col-3">
                                <img class="profile-img"
                                     src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
                            </div>
                            <div class="col-9 pl-0">
                                <div class="profile-name">
                                    <h5>Константин Константинопольский</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="profile-card__info">
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                    </div>
                    <p class="profile-city">Константинополь, Россия</p>
                    <p class="profile-info">Are we human because of unique traits and attributes not shared with either
                        animal or machine?</p>
                    <p class="mb-0">
                        <a class="profile-link" href="#">Перейти в портфолио</a>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="profile-card">
                <a href="#">
                    <div class="profile-card__header">
                        <div class="row">
                            <div class="col-3">
                                <img class="profile-img"
                                     src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
                            </div>
                            <div class="col-9 pl-0">
                                <div class="profile-name">
                                    <h5>Константин Константинопольский</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="profile-card__info">
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                    </div>
                    <p class="profile-city">Константинополь, Россия</p>
                    <p class="profile-info">Are we human because of unique traits and attributes not shared with either
                        animal or machine?</p>
                    <p class="mb-0">
                        <a class="profile-link" href="#">Перейти в портфолио</a>
                    </p>
                </div>
            </div>
        </li>
    </ul>
    <nav class="p-5">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<footer class="footer">
    <div class="container text-center">
        <ul class="footer-menu">
            <li>
                <a href="#">Главная</a>
            </li>
            <li>
                <a href="#">О сервисе</a>
            </li>
            <li>
                <a href="#">Блогеры</a>
            </li>
            <li>
                <a href="#">Специалисты</a>
            </li>
        </ul>
        <ul class="footer-menu">
            <li>
                <a href="#">
                    <img src="../images/social-btns/facebook.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/twitter.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/dribbble.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/vimeo.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/G+.svg" alt="">
                </a>
            </li>
        </ul>
        <span class="text-muted">© Efir Production - All Right Reserved</span>
    </div>
</footer>

</body>
</html>