<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>Academy</title>

    <link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css">
    <script src="../vendors/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="../vendors/bootstrap/popper.min.js"></script>
    <script src="../vendors/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../styles/index.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Academy by efir</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Блогеры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Специалисты</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-4">
                    <a class="btn btn-secondary" href="#">Регистрация</a>
                </li>
                <li class="nav-item mt-2 mt-sm-2 mt-md-2 mt-lg-0">
                    <a class="btn btn-primary" href="#">Вход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<form action="/">
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-5 col-sm-3">
            <h4 class="text-left text-sm-right">Фото профиля</h4>
        </div>
        <div class="col-7 col-sm-3">
            <img class="profile-img" src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
            <p>
                <a class="btn btn-sm btn-primary mt-2" href="#">Загрузить другое</a>
                <a class="btn btn-sm btn-link" href="#">Удалить</a>
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <h4 class="text-left text-sm-right">Личные данные</h4>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Имя</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Имя">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Фамилия</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Фамилия">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <h4 class="text-left text-sm-right">Специализация</h4>
        </div>
        <div class="col-md-9">
            <p class="text-muted">Выберите те сферы, в которых вы можете быть полезны блогерам</p>
            <p>
                <button type="button" id="specializationCheckAll" class="btn btn-sm btn-link">Выбрать все</button>
                <button type="button" id="specializationRemoveCheckAll" class="btn btn-sm btn-link">Сбросить</button>
            </p>
            <hr>
            <ul class="profile-specialization">
                <li>
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary checkbox-btn">
                            <input type="checkbox">Операторская работа
                        </label>
                    </div>
                </li>
                <li>
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary checkbox-btn">
                            <input type="checkbox">Звукорежиссура
                        </label>
                    </div>
                </li>
                <li>
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary checkbox-btn">
                            <input type="checkbox" autocomplete="off">Журналистика
                        </label>
                    </div>
                </li>
                <li>
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary checkbox-btn">
                            <input type="checkbox" autocomplete="off">Режиссура
                        </label>
                    </div>
                </li>
                <li>
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary checkbox-btn">
                            <input type="checkbox" autocomplete="off">Монтаж видео
                        </label>
                    </div>
                </li>
                <li>
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary checkbox-btn">
                            <input type="checkbox" autocomplete="off">Работа со сценарием
                        </label>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <h4 class="text-left text-sm-right">Образование</h4>
        </div>
        <div class="col-md-5">
            <div id="educationInputs">
                <div class="form-group">
                    <label>ВУЗ и факультет через запятую</label>
                    <input type="text" name="education_1" class="form-control" placeholder="ВУЗ и факультет через запятую">
                </div>
            </div>
            <p>
                <button type="button" id="addEducationInput" class="btn btn-sm btn-link">+ Добавить образование</button>
            </p>

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <h4 class="text-left text-sm-right">Локация</h4>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label>Страна и город через запятую</label>
                <input type="text" class="form-control" value="Россия, Москва">
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <h4 class="text-left text-sm-right">Контактные данные</h4>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Мобильный телефон</label>
                        <input type="text" class="form-control" value="+7 (123) 456-78-90">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Emal</label>
                        <input type="text" class="form-control" value="konstantinopolski@yandex.ru">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Facebook</label>
                        <input type="text" class="form-control" value="instagram.com/profiles/3">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Вконтакте</label>
                        <input type="text" class="form-control" value="instagram.com/profiles/3">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Instagram</label>
                        <input type="text" class="form-control" value="instagram.com/profiles/3">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <h4 class="text-left text-sm-right">О себе</h4>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label>Рассказ о себе</label>
                <textarea type="text" class="form-control" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <h4 class="text-left text-sm-right">Работы и кейсы</h4>
        </div>
        <div class="col-md-5">
            <div id="workGroup">
                <div class="workGroupItem">
                    <h5 class="mt-2">Работа 1</h5>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Ссылка</label>
                                <input type="text" name="link_1" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Чем занимались</label>
                                <input type="text" name="whatdid_1" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                <button type="button" id="addWorkGroup" class="btn btn-sm btn-link">+ Добавить работу в портфолио</button>
            </p>
        </div>
    </div>
    <p class="text-center p-4">
        <a class="btn btn-lg btn-primary" href="#">Сохранить изменения</a>
    </p>

</div>
</form>

<footer class="footer">
    <div class="container text-center">
        <ul class="footer-menu">
            <li>
                <a href="#">Главная</a>
            </li>
            <li>
                <a href="#">О сервисе</a>
            </li>
            <li>
                <a href="#">Блогеры</a>
            </li>
            <li>
                <a href="#">Специалисты</a>
            </li>
        </ul>
        <ul class="footer-menu">
            <li>
                <a href="#">
                    <img src="../images/social-btns/facebook.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/twitter.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/dribbble.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/vimeo.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/G+.svg" alt="">
                </a>
            </li>
        </ul>
        <span class="text-muted">© Efir Production - All Right Reserved</span>
    </div>
</footer>

<script>
    $("#specializationCheckAll").click(function () {
        $(".checkbox-btn").each(function () {
            $(this).addClass("active");
            $("input[type=checkbox]", this).prop("checked", true);
        });
    });
    $("#specializationRemoveCheckAll").click(function () {
        $(".checkbox-btn").each(function () {
            $(this).removeClass("active");
            $("input[type=checkbox]", this).prop("checked", false);
        });
    });

    $("#addEducationInput").click(function () {
        var groupNumber = $("#educationInputs").children().length;
        $("#educationInputs").append(
                '<div class="form-group">' +
                '<label>ВУЗ и факультет через запятую</label>' +
                '<input type="text" name="education_' + (groupNumber + 1) + '" class="form-control" placeholder="ВУЗ и факультет через запятую">' +
                '</div>'
        );
    });

    $("#addWorkGroup").click(function () {
        var groupNumber = $("#workGroup").children().length;
        $("#workGroup").append(
                '<div class="workGroupItem">' +
                '<h5 class="mt-2">Работа ' + (groupNumber + 1) + '</h5>' +
                '<div class="row">' +
                '<div class="col-md-8">' +
                '<div class="form-group">' +
                '<label>Ссылка</label>' +
                '<input type="text" name="link_' + (groupNumber + 1) + '" class="form-control">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<div class="row">' +
                '<div class="col-md-8">' +
                '<div class="form-group">' +
                '<label>Чем занимались</label>' +
                '<input type="text" name="whatdid_' + (groupNumber + 1) + '" class="form-control">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>'
        )
    });
</script>


</body>
</html>