<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>Academy</title>

    <link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css">
    <script src="../vendors/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="../vendors/bootstrap/popper.min.js"></script>
    <script src="../vendors/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../styles/index.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Academy by efir</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-center navbar-nav-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Блогеры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Специалисты</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <!--<li class="nav-item mr-4">-->
                <!--<a class="btn btn-secondary" href="#">Регистрация</a>-->
                <!--</li>-->
                <!--<li class="nav-item mt-2 mt-sm-2 mt-md-2 mt-lg-0">-->
                <!--<a class="btn btn-primary" href="#">Вход</a>-->
                <!--</li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="dropdown-toggle">Константин К.</span>
                        <img class="nav-link-user-icon" src="../images/thumb.svg" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item dropdown-item-edit" href="#">Редактирование</a>
                        <a class="dropdown-item dropdown-item-settings" href="#">Настройки</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item dropdown-item-logout" href="#">Выйти</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <img class="profile-img" src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
        </div>
        <div class="col-md-9 mt-4 mt-sm-0">
            <div class="row">
                <div class="col">
                    <h3>Константин Константинопольский</h3>
                    <div class="mt-2">
                        <span class="badge badge-secondary">Звукорежиссер</span>
                        <span class="badge badge-secondary">Оператор</span>
                        <span class="badge badge-secondary">Звукорежиссер</span>
                    </div>
                    <p class="mt-4">НИУ ВШЭ, Факультет медиа, дизайна и комуникаций</p>
                    <p>Константинополь, Россия</p>
                    <p><a class="profile-phone" href="#">+7 (123) 456-78-90</a></p>
                    <p><a class="profile-envelope" href="#">konstantinopolski@yandex.ru</a></p>
                    <p>
                        <a class="profile-social" href="#">
                            <img src="../images/social-icons/facebook.svg" alt="">
                        </a>
                        <a class="profile-social" href="#">
                            <img src="../images/social-icons/instagram.svg" alt="">
                        </a>
                        <a class="profile-social" href="#">
                            <img src="../images/social-icons/medium.svg" alt="">
                        </a>
                        <a class="profile-social" href="#">
                            <img src="../images/social-icons/telegram.svg" alt="">
                        </a>
                        <a class="profile-social" href="#">
                            <img src="../images/social-icons/twitter.svg" alt="">
                        </a>
                        <a class="profile-social" href="#">
                            <img src="../images/social-icons/vk.svg" alt="">
                        </a>
                        <a class="profile-social" href="#">
                            <img src="../images/social-icons/weibo.svg" alt="">
                        </a>
                    </p>
                </div>
                <div class="col-md-auto pt-2">
                    <a class="profile-btn-edit-text" href="#">
                        Редактировать
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5 pb-5 profile-about profile-hover-btn-edit">
        <div class="col-md-3">
            <h4 class="text-left text-sm-right">О себе:</h4>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col">
                    <p>Are we human because of unique traits and attributes not shared with either animal or machine? The definition of “human” is circular: we are human by virtue of the properties that make us human (i.e., distinct from animal and machine). It is a definition by negation: that which separates us from animal and machine is our “human-ness”.
                        We are human because we are not animal, nor machine. But such thinking has been rendered progressively less tenable by the advent of evolutionary and neo-evolutionary theories which postulate a continuum in nature between animals and Man.</p>
                </div>
                <div class="col-md-auto">
                    <div class="profile-btn-edit-wrap">
                        <a class="profile-btn-edit" href="#">
                            <img src="../images/edit.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 profile-hover-btn-edit">
        <div class="col-md-3">
            <h4 class="text-left text-sm-right">Работы:</h4>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col">
                    <ol class="p-2 p-sm-0">
                        <li>
                            <a href="#">https://www.youtube.com/watch?v=O6s-pllW3dc</a> → Монтаж, звук
                        </li>
                        <li>
                            <a href="#">https://www.youtube.com/watch?v=O6s-pllW3dc</a> → Монтаж, звук
                        </li>
                        <li>
                            <a href="#">https://www.youtube.com/watch?v=O6s-pllW3dc</a> → Монтаж, звук
                        </li>
                        <li>
                            <a href="#">https://www.youtube.com/watch?v=O6s-pllW3dc</a> → Монтаж, звук
                        </li>
                    </ol>
                </div>
                <div class="col-md-auto">
                    <div class="profile-btn-edit-wrap">
                        <a class="profile-btn-edit" href="#">
                            <img src="../images/edit.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container text-center">
        <ul class="footer-menu">
            <li>
                <a href="#">Главная</a>
            </li>
            <li>
                <a href="#">О сервисе</a>
            </li>
            <li>
                <a href="#">Блогеры</a>
            </li>
            <li>
                <a href="#">Специалисты</a>
            </li>
        </ul>
        <ul class="footer-menu">
            <li>
                <a href="#">
                    <img src="../images/social-btns/facebook.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/twitter.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/dribbble.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/vimeo.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/social-btns/G+.svg" alt="">
                </a>
            </li>
        </ul>
        <span class="text-muted">© Efir Production - All Right Reserved</span>
    </div>
</footer>
</body>
</html>