<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>Academy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../styles/index.css">

</head>
<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Academy by efir</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Блогеры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Специалисты</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-2">
                <a class="btn btn-secondary" href="#">РЕГИСТРАЦИЯ</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary" href="#">ВХОД</a>
            </li>
        </ul>

    </div>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <img class="profile-img" src="http://doramakun.ru/thumbs/users/31527/NEWS/Song-Joon-Ki1-400.jpg" alt="">
        </div>
        <div class="col-md-8">
            <h3>Константин Константинопольский</h3>
            <div class="mt-2">
                <span class="badge badge-primary">Звукорежиссер</span>
                <span class="badge badge-primary">Оператор</span>
                <span class="badge badge-primary">Звукорежиссер</span>
            </div>
            <p class="mt-4">НИУ ВШЭ, Факультет медиа, дизайна и комуникаций</p>
            <p>Константинополь, Россия</p>
        </div>
        <div class="col-md-1">
            <a class="btn btn-sm btn-secondary" href="#">Редактировать</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <h4 class="text-right">О себе:</h4>
        </div>
        <div class="col-md-8">
            <p>Are we human because of unique traits and attributes not shared with either animal or machine? The definition of “human” is circular: we are human by virtue of the properties that make us human (i.e., distinct from animal and machine). It is a definition by negation: that which separates us from animal and machine is our “human-ness”.
                We are human because we are not animal, nor machine. But such thinking has been rendered progressively less tenable by the advent of evolutionary and neo-evolutionary theories which postulate a continuum in nature between animals and Man.</p>
        </div>
        <div class="col-md-1">
            <a class="btn btn-sm btn-secondary" href="#">Редактировать</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <h4 class="text-right">Работы:</h4>
        </div>
        <div class="col-md-8">
            <ol class="p-0">
                <li>
                    <a href="#">https://www.youtube.com/watch?v=O6s-pllW3dc</a> → Монтаж, звук
                </li>
                <li>
                    <a href="#">https://www.youtube.com/watch?v=O6s-pllW3dc</a> → Монтаж, звук
                </li>
                <li>
                    <a href="#">https://www.youtube.com/watch?v=O6s-pllW3dc</a> → Монтаж, звук
                </li>
                <li>
                    <a href="#">https://www.youtube.com/watch?v=O6s-pllW3dc</a> → Монтаж, звук
                </li>
            </ol>
        </div>
        <div class="col-md-1">
            <a class="btn btn-sm btn-secondary" href="#">Редактировать</a>
        </div>
    </div>
</div>
</body>
</html>