<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <title>Academy</title>

    <link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css">
    <script src="../vendors/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="../vendors/bootstrap/popper.min.js"></script>
    <script src="../vendors/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../styles/index.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Academy by efir</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Блогеры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Специалисты</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-4">
                    <a class="btn btn-secondary" href="#">Регистрация</a>
                </li>
                <li class="nav-item mt-2 mt-sm-2 mt-md-2 mt-lg-0">
                    <a class="btn btn-primary" href="#">Вход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<form class="form-signin mt-5">

    <div class="form-progress">
        <div class="form-progress__line-wrap">
            <img class="form-progress__line" src="../images/progress/Group1.svg" alt="">
        </div>
        <div class="form-progress__text form-progress__text_1"></div>
        <div class="form-progress__text form-progress__text_2"></div>
        <div class="form-progress__text form-progress__text_3"></div>
    </div>

    <div class="text-center mb-4">
        <h1 class="mb-3 font-weight-normal">Регистрация</h1>
    </div>

    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control">
    </div>

    <div class="profile-specialization justify-content-center">
        <div class="btn-group btn-group-toggle mt-4" data-toggle="buttons">
            <label class="btn btn-outline-secondary">
                <input type="radio" name="options" autocomplete="off">Я блогер
            </label>
            <label class="btn btn-outline-secondary">
                <input type="radio" name="options" autocomplete="off">Я специалист
            </label>
        </div>
    </div>

    <button class="btn btn-primary btn-block mt-4" type="submit">Создать аккаунт</button>
    <small class="form-text text-muted text-center">
        К личным данным
    </small>

    <div class="text-center mt-4">
        <p>Уже есть аккаунт? <a href="#">Войти</a></p>
        <p>Небольшой текст о полезном действии сервиса</p>
    </div>
</form>


</body>
</html>